{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "version": "v2",
  "baseUrl": "https://partners.googleapis.com/",
  "canonicalName": "Partners",
  "kind": "discovery#restDescription",
  "description": "Searches certified companies and creates contact leads with them, and also audits the usage of clients.",
  "servicePath": "",
  "rootUrl": "https://partners.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "partners",
  "batchPath": "batch",
  "revision": "20171211",
  "documentationLink": "https://developers.google.com/partners/",
  "id": "partners:v2",
  "title": "Google Partners API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version_module": true,
  "resources": {
    "leads": {
      "methods": {
        "list": {
          "flatPath": "v2/leads",
          "path": "v2/leads",
          "id": "partners.leads.list",
          "description": "Lists advertiser leads for a user's associated company.\nShould only be called within the context of an authorized logged in user.",
          "response": {
            "$ref": "ListLeadsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "How to order Leads. Currently, only `create_time`\nand `create_time desc` are supported"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results that the server returns.\nTypically, this is the value of `ListLeadsResponse.next_page_token`\nreturned from the previous call to\nListLeads.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Server may return fewer leads than requested.\nIf unspecified, server picks an appropriate default.",
              "format": "int32",
              "type": "integer"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            }
          }
        }
      }
    },
    "offers": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListOffersResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            }
          },
          "flatPath": "v2/offers",
          "path": "v2/offers",
          "id": "partners.offers.list",
          "description": "Lists the Offers available for the current user"
        }
      },
      "resources": {
        "history": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListOffersHistoryResponse"
              },
              "parameterOrder": [],
              "httpMethod": "GET",
              "parameters": {
                "requestMetadata.userOverrides.userId": {
                  "type": "string",
                  "location": "query",
                  "description": "Logged-in user ID to impersonate instead of the user's ID."
                },
                "requestMetadata.partnersSessionId": {
                  "location": "query",
                  "description": "Google Partners session ID.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to retrieve a specific page."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of rows to return per page.",
                  "format": "int32"
                },
                "requestMetadata.trafficSource.trafficSourceId": {
                  "location": "query",
                  "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
                  "type": "string"
                },
                "requestMetadata.locale": {
                  "type": "string",
                  "location": "query",
                  "description": "Locale to use for the current request."
                },
                "requestMetadata.userOverrides.ipAddress": {
                  "type": "string",
                  "location": "query",
                  "description": "IP address to use instead of the user's geo-located IP address."
                },
                "requestMetadata.experimentIds": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "Experiment IDs the current request belongs to."
                },
                "entireCompany": {
                  "location": "query",
                  "description": "if true, show history for the entire company.  Requires user to be admin.",
                  "type": "boolean"
                },
                "requestMetadata.trafficSource.trafficSubId": {
                  "location": "query",
                  "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Comma-separated list of fields to order by, e.g.: \"foo,bar,baz\".\nUse \"foo desc\" to sort descending.\nList of valid field names is: name, offer_code, expiration_time, status,\n    last_modified_time, sender_name, creation_time, country_code,\n    offer_type."
                }
              },
              "flatPath": "v2/offers/history",
              "path": "v2/offers/history",
              "id": "partners.offers.history.list",
              "description": "Lists the Historical Offers for the current user (or user's entire company)"
            }
          }
        }
      }
    },
    "analytics": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListAnalyticsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results that the server returns.\nTypically, this is the value of `ListAnalyticsResponse.next_page_token`\nreturned from the previous call to\nListAnalytics.\nWill be a date string in `YYYY-MM-DD` format representing the end date\nof the date range of results to return.\nIf unspecified or set to \"\", default value is the current date."
            },
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Server may return fewer analytics than requested.\nIf unspecified or set to 0, default value is 30.\nSpecifies the number of days in the date range when querying analytics.\nThe `page_token` represents the end date of the date range\nand the start date is calculated using the `page_size` as the number\nof days BEFORE the end date.\nMust be a non-negative integer.",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "v2/analytics",
          "path": "v2/analytics",
          "id": "partners.analytics.list",
          "description": "Lists analytics data for a user's associated company.\nShould only be called within the context of an authorized logged in user."
        }
      }
    },
    "userStates": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListUserStatesResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            }
          },
          "flatPath": "v2/userStates",
          "id": "partners.userStates.list",
          "path": "v2/userStates",
          "description": "Lists states for current user."
        }
      }
    },
    "v2": {
      "methods": {
        "updateCompanies": {
          "httpMethod": "PATCH",
          "parameterOrder": [],
          "response": {
            "$ref": "Company"
          },
          "parameters": {
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "Standard field mask for the set of fields to be updated.\nRequired with at least 1 value in FieldMask's paths.",
              "format": "google-fieldmask"
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            }
          },
          "flatPath": "v2/companies",
          "id": "partners.updateCompanies",
          "path": "v2/companies",
          "request": {
            "$ref": "Company"
          },
          "description": "Update company.\nShould only be called within the context of an authorized logged in user."
        },
        "getPartnersstatus": {
          "flatPath": "v2/partnersstatus",
          "id": "partners.getPartnersstatus",
          "path": "v2/partnersstatus",
          "description": "Gets Partners Status of the logged in user's agency.\nShould only be called if the logged in user is the admin of the agency.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GetPartnersStatusResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            }
          }
        },
        "updateLeads": {
          "description": "Updates the specified lead.",
          "request": {
            "$ref": "Lead"
          },
          "response": {
            "$ref": "Lead"
          },
          "parameterOrder": [],
          "httpMethod": "PATCH",
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "Standard field mask for the set of fields to be updated.\nRequired with at least 1 value in FieldMask's paths.\nOnly `state` and `adwords_customer_id` are currently supported.",
              "format": "google-fieldmask"
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            }
          },
          "flatPath": "v2/leads",
          "path": "v2/leads",
          "id": "partners.updateLeads"
        }
      }
    },
    "companies": {
      "methods": {
        "get": {
          "flatPath": "v2/companies/{companyId}",
          "id": "partners.companies.get",
          "path": "v2/companies/{companyId}",
          "description": "Gets a company.",
          "httpMethod": "GET",
          "parameterOrder": [
            "companyId"
          ],
          "response": {
            "$ref": "GetCompanyResponse"
          },
          "parameters": {
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "currencyCode": {
              "location": "query",
              "description": "If the company's budget is in a different currency code than this one, then\nthe converted budget is converted to this currency code.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "How to order addresses within the returned company. Currently, only\n`address` and `address desc` is supported which will sorted by closest to\nfarthest in distance from given address and farthest to closest distance\nfrom given address respectively."
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "view": {
              "type": "string",
              "location": "query",
              "enum": [
                "COMPANY_VIEW_UNSPECIFIED",
                "CV_GOOGLE_PARTNER_SEARCH"
              ],
              "description": "The view of `Company` resource to be returned. This must not be\n`COMPANY_VIEW_UNSPECIFIED`."
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "address": {
              "type": "string",
              "location": "query",
              "description": "The address to use for sorting the company's addresses by proximity.\nIf not given, the geo-located address of the request is used.\nUsed when order_by is set."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "companyId": {
              "location": "path",
              "description": "The ID of the company to retrieve.",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "flatPath": "v2/companies",
          "path": "v2/companies",
          "id": "partners.companies.list",
          "description": "Lists companies.",
          "response": {
            "$ref": "ListCompaniesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "How to order addresses within the returned companies. Currently, only\n`address` and `address desc` is supported which will sorted by closest to\nfarthest in distance from given address and farthest to closest distance\nfrom given address respectively."
            },
            "specializations": {
              "location": "query",
              "enum": [
                "BADGE_SPECIALIZATION_UNKNOWN",
                "BADGE_SPECIALIZATION_ADWORDS_SEARCH",
                "BADGE_SPECIALIZATION_ADWORDS_DISPLAY",
                "BADGE_SPECIALIZATION_ADWORDS_MOBILE",
                "BADGE_SPECIALIZATION_ADWORDS_VIDEO",
                "BADGE_SPECIALIZATION_ADWORDS_SHOPPING"
              ],
              "description": "List of specializations that the returned agencies should provide. If this\nis not empty, any returned agency must have at least one of these\nspecializations, or one of the services in the \"services\" field.",
              "type": "string",
              "repeated": true
            },
            "maxMonthlyBudget.currencyCode": {
              "type": "string",
              "location": "query",
              "description": "The 3-letter currency code defined in ISO 4217."
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "minMonthlyBudget.currencyCode": {
              "location": "query",
              "description": "The 3-letter currency code defined in ISO 4217.",
              "type": "string"
            },
            "view": {
              "type": "string",
              "location": "query",
              "enum": [
                "COMPANY_VIEW_UNSPECIFIED",
                "CV_GOOGLE_PARTNER_SEARCH"
              ],
              "description": "The view of the `Company` resource to be returned. This must not be\n`COMPANY_VIEW_UNSPECIFIED`."
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "address": {
              "location": "query",
              "description": "The address to use when searching for companies.\nIf not given, the geo-located address of the request is used.",
              "type": "string"
            },
            "minMonthlyBudget.units": {
              "location": "query",
              "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
              "format": "int64",
              "type": "string"
            },
            "maxMonthlyBudget.nanos": {
              "location": "query",
              "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
              "format": "int32",
              "type": "integer"
            },
            "services": {
              "location": "query",
              "enum": [
                "SERVICE_UNSPECIFIED",
                "S_ADVANCED_ADWORDS_SUPPORT",
                "S_ADVERTISING_ON_GOOGLE",
                "S_AN_ENHANCED_WEBSITE",
                "S_AN_ONLINE_MARKETING_PLAN",
                "S_MOBILE_AND_VIDEO_ADS",
                "S_MOBILE_WEBSITE_SERVICES"
              ],
              "description": "List of services that the returned agencies should provide. If this is\nnot empty, any returned agency must have at least one of these services,\nor one of the specializations in the \"specializations\" field.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "maxMonthlyBudget.units": {
              "location": "query",
              "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
              "format": "int64",
              "type": "string"
            },
            "minMonthlyBudget.nanos": {
              "location": "query",
              "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
              "format": "int32",
              "type": "integer"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "companyName": {
              "type": "string",
              "location": "query",
              "description": "Company name to search for."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results that the server returns.\nTypically, this is the value of `ListCompaniesResponse.next_page_token`\nreturned from the previous call to\nListCompanies."
            },
            "industries": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "enum": [
                "INDUSTRY_UNSPECIFIED",
                "I_AUTOMOTIVE",
                "I_BUSINESS_TO_BUSINESS",
                "I_CONSUMER_PACKAGED_GOODS",
                "I_EDUCATION",
                "I_FINANCE",
                "I_HEALTHCARE",
                "I_MEDIA_AND_ENTERTAINMENT",
                "I_RETAIL",
                "I_TECHNOLOGY",
                "I_TRAVEL"
              ],
              "description": "List of industries the company can help with."
            },
            "websiteUrl": {
              "type": "string",
              "location": "query",
              "description": "Website URL that will help to find a better matched company.\n."
            },
            "gpsMotivations": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "enum": [
                "GPS_MOTIVATION_UNSPECIFIED",
                "GPSM_HELP_WITH_ADVERTISING",
                "GPSM_HELP_WITH_WEBSITE",
                "GPSM_NO_WEBSITE"
              ],
              "description": "List of reasons for using Google Partner Search to get companies."
            },
            "languageCodes": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "List of language codes that company can support. Only primary language\nsubtags are accepted as defined by\n\u003ca href=\"https://tools.ietf.org/html/bcp47\"\u003eBCP 47\u003c/a\u003e\n(IETF BCP 47, \"Tags for Identifying Languages\")."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Requested page size. Server may return fewer companies than requested.\nIf unspecified, server picks an appropriate default.",
              "format": "int32"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            }
          }
        }
      },
      "resources": {
        "leads": {
          "methods": {
            "create": {
              "response": {
                "$ref": "CreateLeadResponse"
              },
              "parameterOrder": [
                "companyId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "companyId": {
                  "location": "path",
                  "description": "The ID of the company to contact.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v2/companies/{companyId}/leads",
              "path": "v2/companies/{companyId}/leads",
              "id": "partners.companies.leads.create",
              "request": {
                "$ref": "CreateLeadRequest"
              },
              "description": "Creates an advertiser lead for the given company ID."
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "get": {
          "response": {
            "$ref": "User"
          },
          "parameterOrder": [
            "userId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "userView": {
              "type": "string",
              "location": "query",
              "enum": [
                "BASIC",
                "PROFILE",
                "PUBLIC_PROFILE"
              ],
              "description": "Specifies what parts of the user information to return."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "userId": {
              "location": "path",
              "description": "Identifier of the user. Can be set to \u003ccode\u003eme\u003c/code\u003e to mean the currently\nauthenticated user.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v2/users/{userId}",
          "path": "v2/users/{userId}",
          "id": "partners.users.get",
          "description": "Gets a user."
        },
        "updateProfile": {
          "response": {
            "$ref": "UserProfile"
          },
          "parameterOrder": [],
          "httpMethod": "PATCH",
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            }
          },
          "flatPath": "v2/users/profile",
          "path": "v2/users/profile",
          "id": "partners.users.updateProfile",
          "request": {
            "$ref": "UserProfile"
          },
          "description": "Updates a user's profile. A user can only update their own profile and\nshould only be called within the context of a logged in user."
        },
        "createCompanyRelation": {
          "response": {
            "$ref": "CompanyRelation"
          },
          "parameterOrder": [
            "userId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "userId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the user. Can be set to \u003ccode\u003eme\u003c/code\u003e to mean\nthe currently authenticated user."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            }
          },
          "flatPath": "v2/users/{userId}/companyRelation",
          "path": "v2/users/{userId}/companyRelation",
          "id": "partners.users.createCompanyRelation",
          "request": {
            "$ref": "CompanyRelation"
          },
          "description": "Creates a user's company relation. Affiliates the user to a company."
        },
        "deleteCompanyRelation": {
          "description": "Deletes a user's company relation. Unaffiliaites the user from a company.",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "userId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "userId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the user. Can be set to \u003ccode\u003eme\u003c/code\u003e to mean\nthe currently authenticated user."
            }
          },
          "flatPath": "v2/users/{userId}/companyRelation",
          "path": "v2/users/{userId}/companyRelation",
          "id": "partners.users.deleteCompanyRelation"
        }
      }
    },
    "userEvents": {
      "methods": {
        "log": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "LogUserEventResponse"
          },
          "parameters": {},
          "flatPath": "v2/userEvents:log",
          "id": "partners.userEvents.log",
          "path": "v2/userEvents:log",
          "description": "Logs a user event.",
          "request": {
            "$ref": "LogUserEventRequest"
          }
        }
      }
    },
    "clientMessages": {
      "methods": {
        "log": {
          "response": {
            "$ref": "LogMessageResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v2/clientMessages:log",
          "path": "v2/clientMessages:log",
          "id": "partners.clientMessages.log",
          "request": {
            "$ref": "LogMessageRequest"
          },
          "description": "Logs a generic message from the client, such as\n`Failed to render component`, `Profile page is running slow`,\n`More than 500 users have accessed this result.`, etc."
        }
      }
    },
    "exams": {
      "methods": {
        "getToken": {
          "description": "Gets an Exam Token for a Partner's user to take an exam in the Exams System",
          "httpMethod": "GET",
          "parameterOrder": [
            "examType"
          ],
          "response": {
            "$ref": "ExamToken"
          },
          "parameters": {
            "examType": {
              "required": true,
              "type": "string",
              "location": "path",
              "enum": [
                "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
                "CET_ADWORDS_FUNDAMENTALS",
                "CET_ADWORDS_ADVANCED_SEARCH",
                "CET_ADWORDS_ADVANCED_DISPLAY",
                "CET_VIDEO_ADS",
                "CET_DOUBLECLICK",
                "CET_ANALYTICS",
                "CET_SHOPPING",
                "CET_MOBILE",
                "CET_DIGITAL_SALES",
                "CET_MOBILE_SITES"
              ],
              "description": "The exam type we are requesting a token for."
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            }
          },
          "flatPath": "v2/exams/{examType}/token",
          "id": "partners.exams.getToken",
          "path": "v2/exams/{examType}/token"
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "pp": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Pretty-print response."
    },
    "bearer_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth bearer token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "schemas": {
    "ListCompaniesResponse": {
      "description": "Response message for\nListCompanies.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results.\nPass this value in the `ListCompaniesRequest.page_token` field in the\nsubsequent call to\nListCompanies to retrieve the\nnext page of results."
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        },
        "companies": {
          "type": "array",
          "items": {
            "$ref": "Company"
          },
          "description": "The list of companies."
        }
      },
      "id": "ListCompaniesResponse"
    },
    "OfferCustomer": {
      "type": "object",
      "properties": {
        "spendXAmount": {
          "type": "string",
          "description": "Formatted Spend X amount with currency code."
        },
        "adwordsUrl": {
          "description": "URL to the customer's AdWords page.",
          "type": "string"
        },
        "eligibilityDaysLeft": {
          "description": "Days the customer is still eligible.",
          "format": "int32",
          "type": "integer"
        },
        "creationTime": {
          "type": "string",
          "description": "Time the customer was created.",
          "format": "google-datetime"
        },
        "countryCode": {
          "description": "Country code of the customer.",
          "type": "string"
        },
        "externalCid": {
          "description": "External CID for the customer.",
          "format": "int64",
          "type": "string"
        },
        "offerType": {
          "enum": [
            "OFFER_TYPE_UNSPECIFIED",
            "OFFER_TYPE_SPEND_X_GET_Y",
            "OFFER_TYPE_VIDEO",
            "OFFER_TYPE_SPEND_MATCH"
          ],
          "description": "Type of the offer",
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "AdWords spend X get Y.",
            "Youtube video.",
            "Spend Match up to Y."
          ]
        },
        "getYAmount": {
          "description": "Formatted Get Y amount with currency code.",
          "type": "string"
        },
        "name": {
          "description": "Name of the customer.",
          "type": "string"
        }
      },
      "id": "OfferCustomer",
      "description": "Customers qualified for an offer."
    },
    "CertificationStatus": {
      "description": "Google Partners certification status.",
      "type": "object",
      "properties": {
        "examStatuses": {
          "description": "List of certification exam statuses.",
          "type": "array",
          "items": {
            "$ref": "CertificationExamStatus"
          }
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "AdWords certified.",
            "YouTube certified.",
            "VideoAds certified.",
            "Analytics certified.",
            "DoubleClick certified.",
            "Shopping certified.",
            "Mobile certified.",
            "Digital sales certified.",
            "AdWords Search certified.",
            "AdWords Display certified.",
            "Mobile Sites certified."
          ],
          "enum": [
            "CERTIFICATION_TYPE_UNSPECIFIED",
            "CT_ADWORDS",
            "CT_YOUTUBE",
            "CT_VIDEOADS",
            "CT_ANALYTICS",
            "CT_DOUBLECLICK",
            "CT_SHOPPING",
            "CT_MOBILE",
            "CT_DIGITAL_SALES",
            "CT_ADWORDS_SEARCH",
            "CT_ADWORDS_DISPLAY",
            "CT_MOBILE_SITES"
          ],
          "description": "The type of the certification."
        },
        "userCount": {
          "type": "integer",
          "description": "Number of people who are certified,",
          "format": "int32"
        },
        "isCertified": {
          "type": "boolean",
          "description": "Whether certification is passing."
        }
      },
      "id": "CertificationStatus"
    },
    "LocalizedCompanyInfo": {
      "type": "object",
      "properties": {
        "countryCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes for the localized company info."
        },
        "overview": {
          "description": "Localized brief description that the company uses to advertise themselves.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Localized display name."
        },
        "languageCode": {
          "description": "Language code of the localized company info, as defined by\n\u003ca href=\"https://tools.ietf.org/html/bcp47\"\u003eBCP 47\u003c/a\u003e\n(IETF BCP 47, \"Tags for Identifying Languages\").",
          "type": "string"
        }
      },
      "id": "LocalizedCompanyInfo",
      "description": "The localized company information."
    },
    "LogUserEventResponse": {
      "type": "object",
      "properties": {
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        }
      },
      "id": "LogUserEventResponse",
      "description": "Response message for\nLogUserEvent."
    },
    "ListOffersHistoryResponse": {
      "description": "Response for ListOfferHistory.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Supply this token in a ListOffersHistoryRequest to retrieve the next page."
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        },
        "canShowEntireCompany": {
          "type": "boolean",
          "description": "True if the user has the option to show entire company history."
        },
        "totalResults": {
          "type": "integer",
          "description": "Number of results across all pages.",
          "format": "int32"
        },
        "showingEntireCompany": {
          "description": "True if this response is showing entire company history.",
          "type": "boolean"
        },
        "offers": {
          "description": "Historical offers meeting request.",
          "type": "array",
          "items": {
            "$ref": "HistoricalOffer"
          }
        }
      },
      "id": "ListOffersHistoryResponse"
    },
    "LogMessageResponse": {
      "type": "object",
      "properties": {
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        }
      },
      "id": "LogMessageResponse",
      "description": "Response message for\nLogClientMessage."
    },
    "SpecializationStatus": {
      "description": "Agency specialization status",
      "type": "object",
      "properties": {
        "badgeSpecialization": {
          "enum": [
            "BADGE_SPECIALIZATION_UNKNOWN",
            "BADGE_SPECIALIZATION_ADWORDS_SEARCH",
            "BADGE_SPECIALIZATION_ADWORDS_DISPLAY",
            "BADGE_SPECIALIZATION_ADWORDS_MOBILE",
            "BADGE_SPECIALIZATION_ADWORDS_VIDEO",
            "BADGE_SPECIALIZATION_ADWORDS_SHOPPING"
          ],
          "description": "The specialization this status is for.",
          "type": "string",
          "enumDescriptions": [
            "Unknown specialization",
            "AdWords Search specialization",
            "AdWords Display specialization",
            "AdWords Mobile specialization",
            "AdWords Video specialization",
            "AdWords Shopping specialization"
          ]
        },
        "badgeSpecializationState": {
          "enum": [
            "BADGE_SPECIALIZATION_STATE_UNKNOWN",
            "BADGE_SPECIALIZATION_STATE_PASSED",
            "BADGE_SPECIALIZATION_STATE_NOT_PASSED",
            "BADGE_SPECIALIZATION_STATE_IN_GRACE"
          ],
          "description": "State of agency specialization.",
          "type": "string",
          "enumDescriptions": [
            "Unknown state",
            "Specialization passed",
            "Specialization not passed",
            "Specialization in grace"
          ]
        }
      },
      "id": "SpecializationStatus"
    },
    "Certification": {
      "type": "object",
      "properties": {
        "certificationType": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "AdWords certified.",
            "YouTube certified.",
            "VideoAds certified.",
            "Analytics certified.",
            "DoubleClick certified.",
            "Shopping certified.",
            "Mobile certified.",
            "Digital sales certified.",
            "AdWords Search certified.",
            "AdWords Display certified.",
            "Mobile Sites certified."
          ],
          "enum": [
            "CERTIFICATION_TYPE_UNSPECIFIED",
            "CT_ADWORDS",
            "CT_YOUTUBE",
            "CT_VIDEOADS",
            "CT_ANALYTICS",
            "CT_DOUBLECLICK",
            "CT_SHOPPING",
            "CT_MOBILE",
            "CT_DIGITAL_SALES",
            "CT_ADWORDS_SEARCH",
            "CT_ADWORDS_DISPLAY",
            "CT_MOBILE_SITES"
          ],
          "description": "The type of certification, the area of expertise."
        },
        "lastAchieved": {
          "type": "string",
          "description": "The date the user last achieved certification.",
          "format": "google-datetime"
        },
        "achieved": {
          "type": "boolean",
          "description": "Whether this certification has been achieved."
        },
        "expiration": {
          "description": "Date this certification is due to expire.",
          "format": "google-datetime",
          "type": "string"
        },
        "warning": {
          "description": "Whether this certification is in the state of warning.",
          "type": "boolean"
        }
      },
      "id": "Certification",
      "description": "A user's information on a specific certification."
    },
    "User": {
      "type": "object",
      "properties": {
        "publicProfile": {
          "$ref": "PublicProfile",
          "description": "Information about a user's external public profile outside Google Partners."
        },
        "certificationStatus": {
          "type": "array",
          "items": {
            "$ref": "Certification"
          },
          "description": "The list of achieved certifications. These are calculated based on exam\nresults and other requirements.\n@OutputOnly"
        },
        "companyVerificationEmail": {
          "type": "string",
          "description": "The email address used by the user used for company verification.\n@OutputOnly"
        },
        "company": {
          "$ref": "CompanyRelation",
          "description": "The company that the user is associated with.\nIf not present, the user is not associated with any company."
        },
        "profile": {
          "$ref": "UserProfile",
          "description": "The profile information of a Partners user, contains all the directly\neditable user information."
        },
        "lastAccessTime": {
          "description": "The most recent time the user interacted with the Partners site.\n@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "primaryEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of emails the user has access to/can select as primary.\n@OutputOnly"
        },
        "availableAdwordsManagerAccounts": {
          "type": "array",
          "items": {
            "$ref": "AdWordsManagerAccountInfo"
          },
          "description": "This is the list of AdWords Manager Accounts the user has edit access to.\nIf the user has edit access to multiple accounts, the user can choose the\npreferred account and we use this when a personal account is needed. Can\nbe empty meaning the user has access to no accounts.\n@OutputOnly"
        },
        "internalId": {
          "type": "string",
          "description": "The internal user ID.\nOnly available for a whitelisted set of api clients."
        },
        "examStatus": {
          "type": "array",
          "items": {
            "$ref": "ExamStatus"
          },
          "description": "The list of exams the user ever taken. For each type of exam, only one\nentry is listed."
        },
        "id": {
          "description": "The ID of the user.",
          "type": "string"
        }
      },
      "id": "User",
      "description": "A resource representing a user of the Partners platform."
    },
    "ListAnalyticsResponse": {
      "description": "Response message for\nListAnalytics.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results.\nPass this value in the `ListAnalyticsRequest.page_token` field in the\nsubsequent call to\nListAnalytics to retrieve the\nnext page of results.",
          "type": "string"
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        },
        "analyticsSummary": {
          "$ref": "AnalyticsSummary",
          "description": "Aggregated information across the response's\nanalytics."
        },
        "analytics": {
          "type": "array",
          "items": {
            "$ref": "Analytics"
          },
          "description": "The list of analytics.\nSorted in ascending order of\nAnalytics.event_date."
        }
      },
      "id": "ListAnalyticsResponse"
    },
    "Company": {
      "type": "object",
      "properties": {
        "localizedInfos": {
          "type": "array",
          "items": {
            "$ref": "LocalizedCompanyInfo"
          },
          "description": "The list of localized info for the company."
        },
        "certificationStatuses": {
          "type": "array",
          "items": {
            "$ref": "CertificationStatus"
          },
          "description": "The list of Google Partners certification statuses for the company."
        },
        "id": {
          "description": "The ID of the company.",
          "type": "string"
        },
        "publicProfile": {
          "$ref": "PublicProfile",
          "description": "Basic information from the company's public profile."
        },
        "originalMinMonthlyBudget": {
          "$ref": "Money",
          "description": "The unconverted minimum monthly budget that the company accepts for partner\nbusiness."
        },
        "services": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SERVICE_UNSPECIFIED",
              "S_ADVANCED_ADWORDS_SUPPORT",
              "S_ADVERTISING_ON_GOOGLE",
              "S_AN_ENHANCED_WEBSITE",
              "S_AN_ONLINE_MARKETING_PLAN",
              "S_MOBILE_AND_VIDEO_ADS",
              "S_MOBILE_WEBSITE_SERVICES"
            ]
          },
          "enumDescriptions": [
            "Unchosen.",
            "Help with advanced AdWords support.",
            "Help with advertising on Google.",
            "Help with an enhanced website.",
            "Help with an online marketing plan.",
            "Help with mobile and video ads.",
            "Help with mobile websites."
          ],
          "description": "Services the company can help with."
        },
        "primaryLocation": {
          "$ref": "Location",
          "description": "The primary location of the company."
        },
        "ranks": {
          "description": "Information related to the ranking of the company within the list of\ncompanies.",
          "type": "array",
          "items": {
            "$ref": "Rank"
          }
        },
        "badgeTier": {
          "enum": [
            "BADGE_TIER_NONE",
            "BADGE_TIER_REGULAR",
            "BADGE_TIER_PREMIER"
          ],
          "description": "Partner badge tier",
          "type": "string",
          "enumDescriptions": [
            "Tier badge is not set.",
            "Agency has regular partner badge.",
            "Agency has premier badge."
          ]
        },
        "specializationStatus": {
          "type": "array",
          "items": {
            "$ref": "SpecializationStatus"
          },
          "description": "The list of Google Partners specialization statuses for the company."
        },
        "companyTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "COMPANY_TYPE_UNSPECIFIED",
              "FULL_SERVICE_AGENCY",
              "MEDIA_AGENCY",
              "CREATIVE_AGENCY",
              "CDIGITAL_AGENCY",
              "SEM_SEO",
              "PERFORMANCE_MARKETING",
              "ADVERTISING_TOOL_DEVELOPMENT",
              "PR",
              "SELF_MANAGED",
              "RESELLER"
            ]
          },
          "enumDescriptions": [
            "Unchosen.",
            "Handles all aspects of the advertising process.",
            "Focuses solely on an advertiser's media placement.",
            "Plans/executes advertising campaigns.",
            "Like a\nFULL_SERVICE_AGENCY,\nbut specializing in digital.",
            "Increases visibility in search engine result pages.",
            "Drives promotional efforts for immediate impact.",
            "Focuses on bid management, conversion, reporting.",
            "Establishes favorable relationship with public through low/no-cost\ncommunications.",
            "Does not manage other company's accounts, manages own marketing programs.",
            "Full-service AdWords account management for local businesses."
          ],
          "description": "Company type labels listed on the company's profile."
        },
        "autoApprovalEmailDomains": {
          "description": "Email domains that allow users with a matching email address to get\nauto-approved for associating with this company.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "profileStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Company profile does not show up publicly.",
            "Company profile can only be viewed by the profile's URL\nand not by Google Partner Search.",
            "Company profile can be viewed by the profile's URL\nand by Google Partner Search."
          ],
          "enum": [
            "COMPANY_PROFILE_STATUS_UNSPECIFIED",
            "HIDDEN",
            "PUBLISHED",
            "SEARCHABLE"
          ],
          "description": "The public viewability status of the company's profile."
        },
        "primaryLanguageCode": {
          "description": "The primary language code of the company, as defined by\n\u003ca href=\"https://tools.ietf.org/html/bcp47\"\u003eBCP 47\u003c/a\u003e\n(IETF BCP 47, \"Tags for Identifying Languages\").",
          "type": "string"
        },
        "locations": {
          "description": "The list of all company locations.\nIf set, must include the\nprimary_location\nin the list.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "convertedMinMonthlyBudget": {
          "$ref": "Money",
          "description": "The minimum monthly budget that the company accepts for partner business,\nconverted to the requested currency code."
        },
        "industries": {
          "description": "Industries the company can help with.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "INDUSTRY_UNSPECIFIED",
              "I_AUTOMOTIVE",
              "I_BUSINESS_TO_BUSINESS",
              "I_CONSUMER_PACKAGED_GOODS",
              "I_EDUCATION",
              "I_FINANCE",
              "I_HEALTHCARE",
              "I_MEDIA_AND_ENTERTAINMENT",
              "I_RETAIL",
              "I_TECHNOLOGY",
              "I_TRAVEL"
            ]
          },
          "enumDescriptions": [
            "Unchosen.",
            "The automotive industry.",
            "The business-to-business industry.",
            "The consumer packaged goods industry.",
            "The education industry.",
            "The finance industry.",
            "The healthcare industry.",
            "The media and entertainment industry.",
            "The retail industry.",
            "The technology industry.",
            "The travel industry."
          ]
        },
        "additionalWebsites": {
          "description": "URL of the company's additional websites used to verify the dynamic badges.\nThese are stored as full URLs as entered by the user, but only the TLD will\nbe used for the actual verification.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "websiteUrl": {
          "description": "URL of the company's website.",
          "type": "string"
        },
        "primaryAdwordsManagerAccountId": {
          "description": "The Primary AdWords Manager Account id.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "The name of the company.",
          "type": "string"
        }
      },
      "id": "Company",
      "description": "A company resource in the Google Partners API. Once certified, it qualifies\nfor being searched by advertisers."
    },
    "ListLeadsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results.\nPass this value in the `ListLeadsRequest.page_token` field in the\nsubsequent call to\nListLeads to retrieve the\nnext page of results."
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of leads for the given company.",
          "format": "int32"
        },
        "leads": {
          "type": "array",
          "items": {
            "$ref": "Lead"
          },
          "description": "The list of leads."
        }
      },
      "id": "ListLeadsResponse",
      "description": "Response message for ListLeads."
    },
    "CreateLeadResponse": {
      "description": "Response message for CreateLead.",
      "type": "object",
      "properties": {
        "lead": {
          "$ref": "Lead",
          "description": "Lead that was created depending on the outcome of\n\u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e validation."
        },
        "recaptchaStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "No reCaptcha validation needed.",
            "reCaptcha challenge passed.",
            "reCaptcha challenge failed."
          ],
          "enum": [
            "RECAPTCHA_STATUS_UNSPECIFIED",
            "RS_NOT_NEEDED",
            "RS_PASSED",
            "RS_FAILED"
          ],
          "description": "The outcome of \u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e\nvalidation."
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        }
      },
      "id": "CreateLeadResponse"
    },
    "GetCompanyResponse": {
      "type": "object",
      "properties": {
        "company": {
          "$ref": "Company",
          "description": "The company."
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        }
      },
      "id": "GetCompanyResponse",
      "description": "Response message for GetCompany."
    },
    "Location": {
      "description": "A location with address and geographic coordinates. May optionally contain a\ndetailed (multi-field) version of the address.",
      "type": "object",
      "properties": {
        "administrativeArea": {
          "type": "string",
          "description": "Top-level administrative subdivision of this country."
        },
        "locality": {
          "type": "string",
          "description": "Generally refers to the city/town portion of an address."
        },
        "latLng": {
          "$ref": "LatLng",
          "description": "The latitude and longitude of the location, in degrees."
        },
        "regionCode": {
          "description": "CLDR (Common Locale Data Repository) region code .",
          "type": "string"
        },
        "dependentLocality": {
          "description": "Dependent locality or sublocality. Used for UK dependent localities, or\nneighborhoods or boroughs in other locations.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The single string version of the address."
        },
        "postalCode": {
          "description": "Values are frequently alphanumeric.",
          "type": "string"
        },
        "sortingCode": {
          "type": "string",
          "description": "Use of this code is very country-specific, but will refer to a secondary\nclassification code for sorting mail."
        },
        "languageCode": {
          "description": "Language code of the address. Should be in BCP 47 format.",
          "type": "string"
        },
        "addressLine": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The following address lines represent the most specific part of any\naddress."
        }
      },
      "id": "Location"
    },
    "CertificationExamStatus": {
      "description": "Status for a Google Partners certification exam.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Adwords Fundamentals exam.",
            "AdWords advanced search exam.",
            "AdWords advanced display exam.",
            "VideoAds exam.",
            "DoubleClick exam.",
            "Analytics exam.",
            "Shopping exam.",
            "Mobile exam.",
            "Digital Sales exam.",
            "Mobile Sites exam."
          ],
          "enum": [
            "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
            "CET_ADWORDS_FUNDAMENTALS",
            "CET_ADWORDS_ADVANCED_SEARCH",
            "CET_ADWORDS_ADVANCED_DISPLAY",
            "CET_VIDEO_ADS",
            "CET_DOUBLECLICK",
            "CET_ANALYTICS",
            "CET_SHOPPING",
            "CET_MOBILE",
            "CET_DIGITAL_SALES",
            "CET_MOBILE_SITES"
          ],
          "description": "The type of certification exam."
        },
        "numberUsersPass": {
          "description": "The number of people who have passed the certification exam.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "CertificationExamStatus"
    },
    "ExamToken": {
      "description": "A token that allows a user to take an exam.",
      "type": "object",
      "properties": {
        "examType": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Adwords Fundamentals exam.",
            "AdWords advanced search exam.",
            "AdWords advanced display exam.",
            "VideoAds exam.",
            "DoubleClick exam.",
            "Analytics exam.",
            "Shopping exam.",
            "Mobile exam.",
            "Digital Sales exam.",
            "Mobile Sites exam."
          ],
          "enum": [
            "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
            "CET_ADWORDS_FUNDAMENTALS",
            "CET_ADWORDS_ADVANCED_SEARCH",
            "CET_ADWORDS_ADVANCED_DISPLAY",
            "CET_VIDEO_ADS",
            "CET_DOUBLECLICK",
            "CET_ANALYTICS",
            "CET_SHOPPING",
            "CET_MOBILE",
            "CET_DIGITAL_SALES",
            "CET_MOBILE_SITES"
          ],
          "description": "The type of the exam the token belongs to."
        },
        "examId": {
          "type": "string",
          "description": "The id of the exam the token is for.",
          "format": "int64"
        },
        "token": {
          "description": "The token, only present if the user has access to the exam.",
          "type": "string"
        }
      },
      "id": "ExamToken"
    },
    "OptIns": {
      "type": "object",
      "properties": {
        "specialOffers": {
          "description": "An opt-in about receiving email regarding new features and products.",
          "type": "boolean"
        },
        "performanceSuggestions": {
          "description": "An opt-in about receiving email with customized AdWords campaign management\ntips.",
          "type": "boolean"
        },
        "physicalMail": {
          "type": "boolean",
          "description": "An opt-in to receive special promotional gifts and material in the mail."
        },
        "phoneContact": {
          "description": "An opt-in to allow recieivng phone calls about their Partners account.",
          "type": "boolean"
        },
        "marketComm": {
          "description": "An opt-in about receiving email from Partners marketing teams. Includes\nmember-only events and special promotional offers for Google products.",
          "type": "boolean"
        }
      },
      "id": "OptIns",
      "description": "A set of opt-ins for a user."
    },
    "Rank": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "RANK_TYPE_UNSPECIFIED",
            "RT_FINAL_SCORE"
          ],
          "description": "The type of rank.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Total final score."
          ]
        },
        "value": {
          "description": "The numerical value of the rank.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "Rank",
      "description": "Information related to ranking of results."
    },
    "UserProfile": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "The email address the user has selected on the Partners site as primary."
        },
        "channels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of ids representing which channels the user selected they were in."
        },
        "profilePublic": {
          "type": "boolean",
          "description": "Whether the user's public profile is visible to anyone with the URL."
        },
        "jobFunctions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of ids represnting which job categories the user selected."
        },
        "givenName": {
          "description": "The user's given name.",
          "type": "string"
        },
        "address": {
          "$ref": "Location",
          "description": "The user's mailing address, contains multiple fields."
        },
        "industries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of ids representing which industries the user selected."
        },
        "emailOptIns": {
          "$ref": "OptIns",
          "description": "The list of opt-ins for the user, related to communication preferences."
        },
        "familyName": {
          "description": "The user's family name.",
          "type": "string"
        },
        "languages": {
          "description": "The list of languages this user understands.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "markets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of ids representing which markets the user was interested in."
        },
        "migrateToAfa": {
          "description": "Whether or not to migrate the user's exam data to Academy for Ads.",
          "type": "boolean"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The user's phone number."
        },
        "adwordsManagerAccount": {
          "description": "If the user has edit access to multiple accounts, the user can choose the\npreferred account and it is used when a personal account is needed. Can\nbe empty.",
          "format": "int64",
          "type": "string"
        },
        "primaryCountryCode": {
          "type": "string",
          "description": "The user's primary country, an ISO 2-character code."
        }
      },
      "id": "UserProfile",
      "description": "The profile information of a Partners user."
    },
    "GetPartnersStatusResponse": {
      "description": "Response message for\nGetPartnersStatus.",
      "type": "object",
      "properties": {
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        }
      },
      "id": "GetPartnersStatusResponse"
    },
    "HistoricalOffer": {
      "description": "Historical information about a Google Partners Offer.",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "ID of client.",
          "format": "int64"
        },
        "clientName": {
          "type": "string",
          "description": "Name of the client."
        },
        "lastModifiedTime": {
          "description": "Time last action was taken.",
          "format": "google-datetime",
          "type": "string"
        },
        "adwordsUrl": {
          "description": "Client's AdWords page URL.",
          "type": "string"
        },
        "offerType": {
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "AdWords spend X get Y.",
            "Youtube video.",
            "Spend Match up to Y."
          ],
          "enum": [
            "OFFER_TYPE_UNSPECIFIED",
            "OFFER_TYPE_SPEND_X_GET_Y",
            "OFFER_TYPE_VIDEO",
            "OFFER_TYPE_SPEND_MATCH"
          ],
          "description": "Type of offer."
        },
        "senderName": {
          "type": "string",
          "description": "Name (First + Last) of the partners user to whom the incentive is allocated."
        },
        "offerCountryCode": {
          "description": "Country Code for the offer country.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Time this offer expires.",
          "format": "google-datetime",
          "type": "string"
        },
        "offerCode": {
          "description": "Offer code.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "description": "Time offer was first created.",
          "format": "google-datetime"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "Offer distributed.",
            "Offer redeemed.",
            "Offer awarded.",
            "Offer expired."
          ],
          "enum": [
            "OFFER_STATUS_UNSPECIFIED",
            "OFFER_STATUS_DISTRIBUTED",
            "OFFER_STATUS_REDEEMED",
            "OFFER_STATUS_AWARDED",
            "OFFER_STATUS_EXPIRED"
          ],
          "description": "Status of the offer."
        },
        "clientEmail": {
          "type": "string",
          "description": "Email address for client."
        }
      },
      "id": "HistoricalOffer"
    },
    "LogUserEventRequest": {
      "description": "Request message for\nLogUserEvent.",
      "type": "object",
      "properties": {
        "eventDatas": {
          "description": "List of event data for the event.",
          "type": "array",
          "items": {
            "$ref": "EventData"
          }
        },
        "eventScope": {
          "enum": [
            "EVENT_SCOPE_UNSPECIFIED",
            "VISITOR",
            "SESSION",
            "PAGE"
          ],
          "description": "The scope of the event.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Based on visitor.",
            "Based on session.",
            "Based on page visit."
          ]
        },
        "eventCategory": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Google Partner Search category.",
            "Google Partner sign-up flow category.",
            "Google Partner portal category.",
            "Google Partner portal my-profile category.",
            "Google Partner portal certifications category.",
            "Google Partner portal community category.",
            "Google Partner portal insights category.",
            "Google Partner portal clients category.",
            "Google Partner portal public user profile category.",
            "Google Partner panel category.",
            "Google Partner portal last admin dialog category.",
            "Google Partner client category.",
            "Google Partner portal company profile category.",
            "External links category.",
            "Google Partner landing category."
          ],
          "enum": [
            "EVENT_CATEGORY_UNSPECIFIED",
            "GOOGLE_PARTNER_SEARCH",
            "GOOGLE_PARTNER_SIGNUP_FLOW",
            "GOOGLE_PARTNER_PORTAL",
            "GOOGLE_PARTNER_PORTAL_MY_PROFILE",
            "GOOGLE_PARTNER_PORTAL_CERTIFICATIONS",
            "GOOGLE_PARTNER_PORTAL_COMMUNITY",
            "GOOGLE_PARTNER_PORTAL_INSIGHTS",
            "GOOGLE_PARTNER_PORTAL_CLIENTS",
            "GOOGLE_PARTNER_PUBLIC_USER_PROFILE",
            "GOOGLE_PARTNER_PANEL",
            "GOOGLE_PARTNER_PORTAL_LAST_ADMIN_DIALOG",
            "GOOGLE_PARTNER_CLIENT",
            "GOOGLE_PARTNER_PORTAL_COMPANY_PROFILE",
            "EXTERNAL_LINKS",
            "GOOGLE_PARTNER_LANDING"
          ],
          "description": "The category the action belongs to."
        },
        "lead": {
          "$ref": "Lead",
          "description": "Advertiser lead information."
        },
        "eventAction": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Advertiser clicked `Find a partner` bottom button.",
            "Advertiser clicked `Find a partner` top button.",
            "Agency clicked `Join now` bottom button.",
            "Agency clicked `Join now` top button.",
            "Advertiser canceled partner contact form.",
            "Advertiser started partner contact form.",
            "Advertiser completed partner contact form.",
            "Advertiser entered email in contact form.",
            "Advertiser entered name in contact form.",
            "Advertiser entered phone in contact form.",
            "Advertiser failed \u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e\nin contact form.",
            "Company viewed by advertiser.",
            "Advertiser canceled partner contact form on Google Partner Search.",
            "Advertiser changed a top search parameter.",
            "Advertiser started partner contact form on Google Partner Search.",
            "Advertiser clicked `Show more partners` bottom button.",
            "Advertiser completed partner contact form on Google Partner Search.",
            "Advertiser saw no partners available with search criteria.",
            "Advertiser performed search on Google Partner Search.",
            "Advertiser viewed a partner on Google Partner Search.",
            "Advertiser canceled partner contact form on profile page.",
            "Advertiser started partner contact form on profile page.",
            "Advertiser clicked partner website.",
            "Advertiser completed contact form on profile page.",
            "Advertiser viewed a partner profile.",
            "Agency clicked `accept Terms Of Service` button.",
            "Agency changed Terms Of Service country.",
            "Agency added address in profile portal.",
            "Agency added phone number in profile portal.",
            "Agency changed primary account association.",
            "Agency changed primary country association.",
            "Agency clicked `affiliate` button in profile portal.",
            "Agency clicked `give edit access` in profile portal.",
            "Agency clicked `log out` in profile portal.",
            "Agency clicked profile portal left nav.",
            "Agency clicked `save and continue` at bottom of complete profile.",
            "Agency clicked `unaffiliate` in profile portal.",
            "Agency filled out company affiliation in profile portal.",
            "Agency successfully connected with company in profile portal.",
            "Agency clicked create MCC in profile portal.",
            "Agency did not have an MCC associated on profile portal.",
            "Agency had an MCC associated on profile portal.",
            "Agency added job function in profile portal.",
            "Agency looked at job function drop-down.",
            "Agency selected `account manage` as job function.",
            "Agency selected `account planner` as job function.",
            "Agency selected `Analytics` as job function.",
            "Agency selected `creative` as job function.",
            "Agency selected `media buyer` as job function.",
            "Agency selected `media planner` as job function.",
            "Agency selected `other` as job function.",
            "Agency selected `production` as job function.",
            "Agency selected `SEO` as job function.",
            "Agency selected `sales rep` as job function.",
            "Agency selected `search specialist` as job function.",
            "Agency added channels in profile portal.",
            "Agency looked at `add channel` drop-down.",
            "Agency selected `cross channel` from add channel drop-down.",
            "Agency selected `display` from add channel drop-down.",
            "Agency selected `mobile` from add channel drop-down.",
            "Agency selected `search` from add channel drop-down.",
            "Agency selected `social` from add channel drop-down.",
            "Agency selected `tools` from add channel drop-down.",
            "Agency selected `YouTube` from add channel drop-down.",
            "Agency added industries in profile portal.",
            "Agency changed `add industries` drop-down.",
            "Agency added markets in profile portal.",
            "Agency changed `add markets` drop-down.",
            "Agency checked `recieve mail promotions` in profile portal.",
            "Agency checked `recieve mail promotions` in sign-up.",
            "Agency selected `opt-in beta tests and market research`.",
            "Agency selected `opt-in beta tests` in profile portal.",
            "Agency selected `opt-in news` in profile portal.",
            "Agency selected `opt-in news invitations and promotions`.",
            "Agency selected `opt-in performance SUG` in profile portal.",
            "Agency selected `opt-in performance suggestions`.",
            "Agency selected `opt-in select all email notifications`.",
            "Agency selected `select all opt-ins` in profile portal.",
            "Agency clicked back button on `connect with company`.",
            "Agency clicked continue to overview on `connect with company`.",
            "Agency clicked `create MCC connect with company not found`.",
            "Agency clicked `give edit access connect with company not found`.",
            "Agency clicked `log out connect with company not found`.",
            "Agency clicked `skip for now on connect with company page`.",
            "Agency closed connection to company.",
            "Agency completed field connect with company.",
            "Agency found company to connect with.",
            "Agency successfully created company.",
            "Agency added new company location.",
            "Agency clicked community `join now link` in portal notifications.",
            "Agency clicked `connect to company` link in portal notifications.",
            "Agency cliecked `get certified` link in portal notifications.",
            "Agency clicked `get VideoAds certified` link in portal notifications.",
            "Agency clicked `link to MCC` link in portal notifications.",
            "Agency clicked `insight content` in portal.",
            "Agency clicked `insights view now pitch decks` in portal.",
            "Agency clicked `insights` left nav in portal.",
            "Agency clicked `insights upload content`.",
            "Agency clicked `insights viewed deprecated`.",
            "Agency clicked `community` left nav in portal.",
            "Agency clicked `join community` button in community portal.",
            "Agency clicked `certifications` left nav in portal.",
            "Agency clicked `certifications product` left nav in portal.",
            "Agency clicked `partner status` left nav in portal.",
            "Agency clicked `partner status product` left nav in portal.",
            "Agency clicked `offers` left nav in portal.",
            "Agency clicked `send` button on offers page.",
            "Agency clicked `exam details` on certifications AdWords page.",
            "Agency clicked `see exams` certifications main page.",
            "Agency clicked `take exam` on certifications exam page.",
            "Agency opened `last admin` dialog.",
            "Agency opened dialog with no users.",
            "Agency promoted user to admin.",
            "Agency unaffiliated.",
            "Agency changed roles.",
            "Advertiser clicked `company name` link to profile.",
            "Advertiser viewed AdWords certificate.",
            "Advertiser viewed AdWords Search certificate.",
[...]
