{
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v2",
  "baseUrl": "https://partners.googleapis.com/",
  "canonicalName": "Partners",
  "kind": "discovery#restDescription",
  "description": "Searches certified companies and creates contact leads with them, and also audits the usage of clients.",
  "servicePath": "",
  "rootUrl": "https://partners.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "partners",
  "batchPath": "batch",
  "id": "partners:v2",
  "documentationLink": "https://developers.google.com/partners/",
  "revision": "20170829",
  "title": "Google Partners API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "version_module": true,
  "resources": {
    "companies": {
      "methods": {
        "list": {
          "flatPath": "v2/companies",
          "id": "partners.companies.list",
          "path": "v2/companies",
          "description": "Lists companies.",
          "response": {
            "$ref": "ListCompaniesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "languageCodes": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "List of language codes that company can support. Only primary language\nsubtags are accepted as defined by\n\u003ca href=\"https://tools.ietf.org/html/bcp47\"\u003eBCP 47\u003c/a\u003e\n(IETF BCP 47, \"Tags for Identifying Languages\")."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Requested page size. Server may return fewer companies than requested.\nIf unspecified, server picks an appropriate default.",
              "type": "integer"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "How to order addresses within the returned companies. Currently, only\n`address` and `address desc` is supported which will sorted by closest to\nfarthest in distance from given address and farthest to closest distance\nfrom given address respectively."
            },
            "specializations": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "enum": [
                "BADGE_SPECIALIZATION_UNKNOWN",
                "BADGE_SPECIALIZATION_ADWORDS_SEARCH",
                "BADGE_SPECIALIZATION_ADWORDS_DISPLAY",
                "BADGE_SPECIALIZATION_ADWORDS_MOBILE",
                "BADGE_SPECIALIZATION_ADWORDS_VIDEO",
                "BADGE_SPECIALIZATION_ADWORDS_SHOPPING"
              ],
              "description": "List of specializations that the returned agencies should provide. If this\nis not empty, any returned agency must have at least one of these\nspecializations, or one of the services in the \"services\" field."
            },
            "maxMonthlyBudget.currencyCode": {
              "location": "query",
              "description": "The 3-letter currency code defined in ISO 4217.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "minMonthlyBudget.currencyCode": {
              "type": "string",
              "location": "query",
              "description": "The 3-letter currency code defined in ISO 4217."
            },
            "view": {
              "location": "query",
              "enum": [
                "COMPANY_VIEW_UNSPECIFIED",
                "CV_GOOGLE_PARTNER_SEARCH"
              ],
              "description": "The view of the `Company` resource to be returned. This must not be\n`COMPANY_VIEW_UNSPECIFIED`.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "address": {
              "type": "string",
              "location": "query",
              "description": "The address to use when searching for companies.\nIf not given, the geo-located address of the request is used."
            },
            "minMonthlyBudget.units": {
              "location": "query",
              "format": "int64",
              "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
              "type": "string"
            },
            "maxMonthlyBudget.nanos": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
            },
            "services": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "enum": [
                "SERVICE_UNSPECIFIED",
                "S_ADVANCED_ADWORDS_SUPPORT",
                "S_ADVERTISING_ON_GOOGLE",
                "S_AN_ENHANCED_WEBSITE",
                "S_AN_ONLINE_MARKETING_PLAN",
                "S_MOBILE_AND_VIDEO_ADS",
                "S_MOBILE_WEBSITE_SERVICES"
              ],
              "description": "List of services that the returned agencies should provide. If this is\nnot empty, any returned agency must have at least one of these services,\nor one of the specializations in the \"specializations\" field."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "maxMonthlyBudget.units": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "minMonthlyBudget.nanos": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "companyName": {
              "type": "string",
              "location": "query",
              "description": "Company name to search for."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results that the server returns.\nTypically, this is the value of `ListCompaniesResponse.next_page_token`\nreturned from the previous call to\nListCompanies."
            },
            "industries": {
              "location": "query",
              "enum": [
                "INDUSTRY_UNSPECIFIED",
                "I_AUTOMOTIVE",
                "I_BUSINESS_TO_BUSINESS",
                "I_CONSUMER_PACKAGED_GOODS",
                "I_EDUCATION",
                "I_FINANCE",
                "I_HEALTHCARE",
                "I_MEDIA_AND_ENTERTAINMENT",
                "I_RETAIL",
                "I_TECHNOLOGY",
                "I_TRAVEL"
              ],
              "description": "List of industries the company can help with.",
              "type": "string",
              "repeated": true
            },
            "websiteUrl": {
              "type": "string",
              "location": "query",
              "description": "Website URL that will help to find a better matched company.\n."
            },
            "gpsMotivations": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "enum": [
                "GPS_MOTIVATION_UNSPECIFIED",
                "GPSM_HELP_WITH_ADVERTISING",
                "GPSM_HELP_WITH_WEBSITE",
                "GPSM_NO_WEBSITE"
              ],
              "description": "List of reasons for using Google Partner Search to get companies."
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "companyId"
          ],
          "response": {
            "$ref": "GetCompanyResponse"
          },
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "companyId": {
              "location": "path",
              "description": "The ID of the company to retrieve.",
              "type": "string",
              "required": true
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "currencyCode": {
              "location": "query",
              "description": "If the company's budget is in a different currency code than this one, then\nthe converted budget is converted to this currency code.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "How to order addresses within the returned company. Currently, only\n`address` and `address desc` is supported which will sorted by closest to\nfarthest in distance from given address and farthest to closest distance\nfrom given address respectively."
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "view": {
              "location": "query",
              "enum": [
                "COMPANY_VIEW_UNSPECIFIED",
                "CV_GOOGLE_PARTNER_SEARCH"
              ],
              "description": "The view of `Company` resource to be returned. This must not be\n`COMPANY_VIEW_UNSPECIFIED`.",
              "type": "string"
            },
            "address": {
              "type": "string",
              "location": "query",
              "description": "The address to use for sorting the company's addresses by proximity.\nIf not given, the geo-located address of the request is used.\nUsed when order_by is set."
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            }
          },
          "flatPath": "v2/companies/{companyId}",
          "path": "v2/companies/{companyId}",
          "id": "partners.companies.get",
          "description": "Gets a company."
        }
      },
      "resources": {
        "leads": {
          "methods": {
            "create": {
              "flatPath": "v2/companies/{companyId}/leads",
              "id": "partners.companies.leads.create",
              "path": "v2/companies/{companyId}/leads",
              "description": "Creates an advertiser lead for the given company ID.",
              "request": {
                "$ref": "CreateLeadRequest"
              },
              "response": {
                "$ref": "CreateLeadResponse"
              },
              "parameterOrder": [
                "companyId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "companyId": {
                  "location": "path",
                  "description": "The ID of the company to contact.",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "get": {
          "description": "Gets a user.",
          "httpMethod": "GET",
          "parameterOrder": [
            "userId"
          ],
          "response": {
            "$ref": "User"
          },
          "parameters": {
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "userId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifier of the user. Can be set to \u003ccode\u003eme\u003c/code\u003e to mean the currently\nauthenticated user."
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "userView": {
              "location": "query",
              "enum": [
                "BASIC",
                "PROFILE",
                "PUBLIC_PROFILE"
              ],
              "description": "Specifies what parts of the user information to return.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            }
          },
          "flatPath": "v2/users/{userId}",
          "path": "v2/users/{userId}",
          "id": "partners.users.get"
        },
        "updateProfile": {
          "response": {
            "$ref": "UserProfile"
          },
          "parameterOrder": [],
          "httpMethod": "PATCH",
          "parameters": {
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            }
          },
          "flatPath": "v2/users/profile",
          "id": "partners.users.updateProfile",
          "path": "v2/users/profile",
          "request": {
            "$ref": "UserProfile"
          },
          "description": "Updates a user's profile. A user can only update their own profile and\nshould only be called within the context of a logged in user."
        },
        "deleteCompanyRelation": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "userId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "userId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the user. Can be set to \u003ccode\u003eme\u003c/code\u003e to mean\nthe currently authenticated user."
            }
          },
          "flatPath": "v2/users/{userId}/companyRelation",
          "path": "v2/users/{userId}/companyRelation",
          "id": "partners.users.deleteCompanyRelation",
          "description": "Deletes a user's company relation. Unaffiliaites the user from a company."
        },
        "createCompanyRelation": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "userId"
          ],
          "response": {
            "$ref": "CompanyRelation"
          },
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "userId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the user. Can be set to \u003ccode\u003eme\u003c/code\u003e to mean\nthe currently authenticated user."
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            }
          },
          "flatPath": "v2/users/{userId}/companyRelation",
          "path": "v2/users/{userId}/companyRelation",
          "id": "partners.users.createCompanyRelation",
          "description": "Creates a user's company relation. Affiliates the user to a company.",
          "request": {
            "$ref": "CompanyRelation"
          }
        }
      }
    },
    "userEvents": {
      "methods": {
        "log": {
          "response": {
            "$ref": "LogUserEventResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v2/userEvents:log",
          "id": "partners.userEvents.log",
          "path": "v2/userEvents:log",
          "request": {
            "$ref": "LogUserEventRequest"
          },
          "description": "Logs a user event."
        }
      }
    },
    "clientMessages": {
      "methods": {
        "log": {
          "response": {
            "$ref": "LogMessageResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v2/clientMessages:log",
          "id": "partners.clientMessages.log",
          "path": "v2/clientMessages:log",
          "description": "Logs a generic message from the client, such as\n`Failed to render component`, `Profile page is running slow`,\n`More than 500 users have accessed this result.`, etc.",
          "request": {
            "$ref": "LogMessageRequest"
          }
        }
      }
    },
    "exams": {
      "methods": {
        "getToken": {
          "description": "Gets an Exam Token for a Partner's user to take an exam in the Exams System",
          "httpMethod": "GET",
          "parameterOrder": [
            "examType"
          ],
          "response": {
            "$ref": "ExamToken"
          },
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "examType": {
              "type": "string",
              "required": true,
              "location": "path",
              "enum": [
                "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
                "CET_ADWORDS_FUNDAMENTALS",
                "CET_ADWORDS_ADVANCED_SEARCH",
                "CET_ADWORDS_ADVANCED_DISPLAY",
                "CET_VIDEO_ADS",
                "CET_DOUBLECLICK",
                "CET_ANALYTICS",
                "CET_SHOPPING",
                "CET_MOBILE",
                "CET_DIGITAL_SALES",
                "CET_MOBILE_SITES"
              ],
              "description": "The exam type we are requesting a token for."
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            }
          },
          "flatPath": "v2/exams/{examType}/token",
          "path": "v2/exams/{examType}/token",
          "id": "partners.exams.getToken"
        }
      }
    },
    "leads": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListLeadsResponse"
          },
          "parameters": {
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results that the server returns.\nTypically, this is the value of `ListLeadsResponse.next_page_token`\nreturned from the previous call to\nListLeads.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Requested page size. Server may return fewer leads than requested.\nIf unspecified, server picks an appropriate default.",
              "type": "integer"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "orderBy": {
              "location": "query",
              "description": "How to order Leads. Currently, only `create_time`\nand `create_time desc` are supported",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            }
          },
          "flatPath": "v2/leads",
          "path": "v2/leads",
          "id": "partners.leads.list",
          "description": "Lists advertiser leads for a user's associated company.\nShould only be called within the context of an authorized logged in user."
        }
      }
    },
    "offers": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListOffersResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            }
          },
          "flatPath": "v2/offers",
          "id": "partners.offers.list",
          "path": "v2/offers",
          "description": "Lists the Offers available for the current user"
        }
      },
      "resources": {
        "history": {
          "methods": {
            "list": {
              "description": "Lists the Historical Offers for the current user (or user's entire company)",
              "response": {
                "$ref": "ListOffersHistoryResponse"
              },
              "parameterOrder": [],
              "httpMethod": "GET",
              "parameters": {
                "requestMetadata.experimentIds": {
                  "location": "query",
                  "description": "Experiment IDs the current request belongs to.",
                  "type": "string",
                  "repeated": true
                },
                "entireCompany": {
                  "type": "boolean",
                  "location": "query",
                  "description": "if true, show history for the entire company.  Requires user to be admin."
                },
                "requestMetadata.trafficSource.trafficSubId": {
                  "type": "string",
                  "location": "query",
                  "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
                },
                "orderBy": {
                  "location": "query",
                  "description": "Comma-separated list of fields to order by, e.g.: \"foo,bar,baz\".\nUse \"foo desc\" to sort descending.\nList of valid field names is: name, offer_code, expiration_time, status,\n    last_modified_time, sender_name, creation_time, country_code,\n    offer_type.",
                  "type": "string"
                },
                "requestMetadata.partnersSessionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Google Partners session ID."
                },
                "requestMetadata.userOverrides.userId": {
                  "type": "string",
                  "location": "query",
                  "description": "Logged-in user ID to impersonate instead of the user's ID."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to retrieve a specific page."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of rows to return per page.",
                  "type": "integer"
                },
                "requestMetadata.trafficSource.trafficSourceId": {
                  "location": "query",
                  "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
                  "type": "string"
                },
                "requestMetadata.locale": {
                  "type": "string",
                  "location": "query",
                  "description": "Locale to use for the current request."
                },
                "requestMetadata.userOverrides.ipAddress": {
                  "location": "query",
                  "description": "IP address to use instead of the user's geo-located IP address.",
                  "type": "string"
                }
              },
              "flatPath": "v2/offers/history",
              "id": "partners.offers.history.list",
              "path": "v2/offers/history"
            }
          }
        }
      }
    },
    "userStates": {
      "methods": {
        "list": {
          "flatPath": "v2/userStates",
          "path": "v2/userStates",
          "id": "partners.userStates.list",
          "description": "Lists states for current user.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListUserStatesResponse"
          },
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            }
          }
        }
      }
    },
    "analytics": {
      "methods": {
        "list": {
          "description": "Lists analytics data for a user's associated company.\nShould only be called within the context of an authorized logged in user.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListAnalyticsResponse"
          },
          "parameters": {
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results that the server returns.\nTypically, this is the value of `ListAnalyticsResponse.next_page_token`\nreturned from the previous call to\nListAnalytics.\nWill be a date string in `YYYY-MM-DD` format representing the end date\nof the date range of results to return.\nIf unspecified or set to \"\", default value is the current date."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Requested page size. Server may return fewer analytics than requested.\nIf unspecified or set to 0, default value is 30.\nSpecifies the number of days in the date range when querying analytics.\nThe `page_token` represents the end date of the date range\nand the start date is calculated using the `page_size` as the number\nof days BEFORE the end date.\nMust be a non-negative integer."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            }
          },
          "flatPath": "v2/analytics",
          "path": "v2/analytics",
          "id": "partners.analytics.list"
        }
      }
    },
    "v2": {
      "methods": {
        "getPartnersstatus": {
          "flatPath": "v2/partnersstatus",
          "id": "partners.getPartnersstatus",
          "path": "v2/partnersstatus",
          "description": "Gets Partners Status of the logged in user's agency.\nShould only be called if the logged in user is the admin of the agency.",
          "response": {
            "$ref": "GetPartnersStatusResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            }
          }
        },
        "updateLeads": {
          "description": "Updates the specified lead.",
          "request": {
            "$ref": "Lead"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [],
          "response": {
            "$ref": "Lead"
          },
          "parameters": {
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Standard field mask for the set of fields to be updated.\nRequired with at least 1 value in FieldMask's paths.\nOnly `state` and `adwords_customer_id` are currently supported."
            }
          },
          "flatPath": "v2/leads",
          "path": "v2/leads",
          "id": "partners.updateLeads"
        },
        "updateCompanies": {
          "flatPath": "v2/companies",
          "id": "partners.updateCompanies",
          "path": "v2/companies",
          "request": {
            "$ref": "Company"
          },
          "description": "Update company.\nShould only be called within the context of an authorized logged in user.",
          "response": {
            "$ref": "Company"
          },
          "parameterOrder": [],
          "httpMethod": "PATCH",
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "type": "string",
              "location": "query",
              "description": "Locale to use for the current request."
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Standard field mask for the set of fields to be updated.\nRequired with at least 1 value in FieldMask's paths.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            }
          }
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "bearer_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth bearer token."
    }
  },
  "schemas": {
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`."
    },
    "TrafficSource": {
      "description": "Source of traffic for the current request.",
      "type": "object",
      "properties": {
        "trafficSourceId": {
          "type": "string",
          "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
        },
        "trafficSubId": {
          "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
          "type": "string"
        }
      },
      "id": "TrafficSource"
    },
    "CreateLeadRequest": {
      "type": "object",
      "properties": {
        "requestMetadata": {
          "$ref": "RequestMetadata",
          "description": "Current request metadata."
        },
        "recaptchaChallenge": {
          "$ref": "RecaptchaChallenge",
          "description": "\u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e challenge info."
        },
        "lead": {
          "$ref": "Lead",
          "description": "The lead resource. The `LeadType` must not be `LEAD_TYPE_UNSPECIFIED`\nand either `email` or `phone_number` must be provided."
        }
      },
      "id": "CreateLeadRequest",
      "description": "Request message for CreateLead."
    },
    "RequestMetadata": {
      "type": "object",
      "properties": {
        "locale": {
          "type": "string",
          "description": "Locale to use for the current request."
        },
        "partnersSessionId": {
          "description": "Google Partners session ID.",
          "type": "string"
        },
        "userOverrides": {
          "$ref": "UserOverrides",
          "description": "Values to use instead of the user's respective defaults for the current\nrequest. These are only honored by whitelisted products."
        },
        "trafficSource": {
          "$ref": "TrafficSource",
          "description": "Source of traffic for the current request."
        },
        "experimentIds": {
          "description": "Experiment IDs the current request belongs to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "RequestMetadata",
      "description": "Common data that is in each API request."
    },
    "EventData": {
      "description": "Key value data pair for an event.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Action data.",
            "Agency ID data.",
            "Agency name data.",
            "Agency phone number data.",
            "Agency website data.",
            "Budget data.",
            "Center-point data.",
            "Certification data.",
            "Comment data.",
            "Country data.",
            "Currency data.",
            "Currently viewed agency ID data.",
            "Distance data.",
            "Distance type data.",
            "Exam data.",
            "History token data.",
            "Identifier data.",
            "Industry data.",
            "Insight tag data.",
            "Language data.",
            "Location  data.",
            "Marketing opt-in data.",
            "Query data.",
            "Search start index data.",
            "Service data.",
            "Show vow data.",
            "Solution data.",
            "Traffic source ID data.",
            "Traffic sub ID data.",
            "Viewport data.",
            "Website data.",
            "Details data.",
            "Experiment ID data.",
            "Google Partner Search motivation data.",
            "URL data.",
            "Element we wanted user to focus on.",
            "Progress when viewing an item \\[0-100\\]."
          ],
          "enum": [
            "EVENT_DATA_TYPE_UNSPECIFIED",
            "ACTION",
            "AGENCY_ID",
            "AGENCY_NAME",
            "AGENCY_PHONE_NUMBER",
            "AGENCY_WEBSITE",
            "BUDGET",
            "CENTER_POINT",
            "CERTIFICATION",
            "COMMENT",
            "COUNTRY",
            "CURRENCY",
            "CURRENTLY_VIEWED_AGENCY_ID",
            "DISTANCE",
            "DISTANCE_TYPE",
            "EXAM",
            "HISTORY_TOKEN",
            "ID",
            "INDUSTRY",
            "INSIGHT_TAG",
            "LANGUAGE",
            "LOCATION",
            "MARKETING_OPT_IN",
            "QUERY",
            "SEARCH_START_INDEX",
            "SERVICE",
            "SHOW_VOW",
            "SOLUTION",
            "TRAFFIC_SOURCE_ID",
            "TRAFFIC_SUB_ID",
            "VIEW_PORT",
            "WEBSITE",
            "DETAILS",
            "EXPERIMENT_ID",
            "GPS_MOTIVATION",
            "URL",
            "ELEMENT_FOCUS",
            "PROGRESS"
          ],
          "description": "Data type."
        },
        "values": {
          "description": "Data values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EventData"
    },
    "ExamStatus": {
      "type": "object",
      "properties": {
        "expiration": {
          "format": "google-datetime",
          "description": "Date this exam is due to expire.",
          "type": "string"
        },
        "warning": {
          "description": "Whether this exam is in the state of warning.",
          "type": "boolean"
        },
        "lastPassed": {
          "format": "google-datetime",
          "description": "The date the user last passed this exam.",
          "type": "string"
        },
        "examType": {
          "enum": [
            "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
            "CET_ADWORDS_FUNDAMENTALS",
            "CET_ADWORDS_ADVANCED_SEARCH",
            "CET_ADWORDS_ADVANCED_DISPLAY",
            "CET_VIDEO_ADS",
            "CET_DOUBLECLICK",
            "CET_ANALYTICS",
            "CET_SHOPPING",
            "CET_MOBILE",
            "CET_DIGITAL_SALES",
            "CET_MOBILE_SITES"
          ],
          "description": "The type of the exam.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Adwords Fundamentals exam.",
            "AdWords advanced search exam.",
            "AdWords advanced display exam.",
            "VideoAds exam.",
            "DoubleClick exam.",
            "Analytics exam.",
            "Shopping exam.",
            "Mobile exam.",
            "Digital Sales exam.",
            "Mobile Sites exam."
          ]
        },
        "passed": {
          "description": "Whether this exam has been passed and not expired.",
          "type": "boolean"
        },
        "taken": {
          "format": "google-datetime",
          "description": "The date the user last taken this exam.",
          "type": "string"
        }
      },
      "id": "ExamStatus",
      "description": "A user's information on a specific exam."
    },
    "ListOffersResponse": {
      "type": "object",
      "properties": {
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        },
        "noOfferReason": {
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "Not an MCC.",
            "Offer limit has been reached.",
            "Ineligible for offers."
          ],
          "enum": [
            "NO_OFFER_REASON_UNSPECIFIED",
            "NO_OFFER_REASON_NO_MCC",
            "NO_OFFER_REASON_LIMIT_REACHED",
            "NO_OFFER_REASON_INELIGIBLE"
          ],
          "description": "Reason why no Offers are available."
        },
        "availableOffers": {
          "description": "Available Offers to be distributed.",
          "items": {
            "$ref": "AvailableOffer"
          },
          "type": "array"
        }
      },
      "id": "ListOffersResponse",
      "description": "Response for ListOffer."
    },
    "CountryOfferInfo": {
      "type": "object",
      "properties": {
        "getYAmount": {
          "type": "string",
          "description": "(localized) Get Y amount for that country's offer."
        },
        "spendXAmount": {
          "description": "(localized) Spend X amount for that country's offer.",
          "type": "string"
        },
        "offerCountryCode": {
          "description": "Country code for which offer codes may be requested.",
          "type": "string"
        },
        "offerType": {
          "enum": [
            "OFFER_TYPE_UNSPECIFIED",
            "OFFER_TYPE_SPEND_X_GET_Y",
            "OFFER_TYPE_VIDEO",
            "OFFER_TYPE_SPEND_MATCH"
          ],
          "description": "Type of offer country is eligible for.",
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "AdWords spend X get Y.",
            "Youtube video.",
            "Spend Match up to Y."
          ]
        }
      },
      "id": "CountryOfferInfo",
      "description": "Offer info by country."
    },
    "ListCompaniesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results.\nPass this value in the `ListCompaniesRequest.page_token` field in the\nsubsequent call to\nListCompanies to retrieve the\nnext page of results."
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        },
        "companies": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "The list of companies."
        }
      },
      "id": "ListCompaniesResponse",
      "description": "Response message for\nListCompanies."
    },
    "OfferCustomer": {
      "type": "object",
      "properties": {
        "getYAmount": {
          "description": "Formatted Get Y amount with currency code.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the customer."
        },
        "spendXAmount": {
          "description": "Formatted Spend X amount with currency code.",
          "type": "string"
        },
        "adwordsUrl": {
          "type": "string",
          "description": "URL to the customer's AdWords page."
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "Time the customer was created.",
          "type": "string"
        },
        "eligibilityDaysLeft": {
          "type": "integer",
          "format": "int32",
          "description": "Days the customer is still eligible."
        },
        "offerType": {
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "AdWords spend X get Y.",
            "Youtube video.",
            "Spend Match up to Y."
          ],
          "enum": [
            "OFFER_TYPE_UNSPECIFIED",
            "OFFER_TYPE_SPEND_X_GET_Y",
            "OFFER_TYPE_VIDEO",
            "OFFER_TYPE_SPEND_MATCH"
          ],
          "description": "Type of the offer"
        },
        "externalCid": {
          "type": "string",
          "format": "int64",
          "description": "External CID for the customer."
        },
        "countryCode": {
          "description": "Country code of the customer.",
          "type": "string"
        }
      },
      "id": "OfferCustomer",
      "description": "Customers qualified for an offer."
    },
    "CertificationStatus": {
      "type": "object",
      "properties": {
        "examStatuses": {
          "items": {
            "$ref": "CertificationExamStatus"
          },
          "type": "array",
          "description": "List of certification exam statuses."
        },
        "type": {
          "enum": [
            "CERTIFICATION_TYPE_UNSPECIFIED",
            "CT_ADWORDS",
            "CT_YOUTUBE",
            "CT_VIDEOADS",
            "CT_ANALYTICS",
            "CT_DOUBLECLICK",
            "CT_SHOPPING",
            "CT_MOBILE",
            "CT_DIGITAL_SALES",
            "CT_ADWORDS_SEARCH",
            "CT_ADWORDS_DISPLAY",
            "CT_MOBILE_SITES"
          ],
          "description": "The type of the certification.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "AdWords certified.",
            "YouTube certified.",
            "VideoAds certified.",
            "Analytics certified.",
            "DoubleClick certified.",
            "Shopping certified.",
            "Mobile certified.",
            "Digital sales certified.",
            "AdWords Search certified.",
            "AdWords Display certified.",
            "Mobile Sites certified."
          ]
        },
        "userCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of people who are certified,"
        },
        "isCertified": {
          "description": "Whether certification is passing.",
          "type": "boolean"
        }
      },
      "id": "CertificationStatus",
      "description": "Google Partners certification status."
    },
    "LocalizedCompanyInfo": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Language code of the localized company info, as defined by\n\u003ca href=\"https://tools.ietf.org/html/bcp47\"\u003eBCP 47\u003c/a\u003e\n(IETF BCP 47, \"Tags for Identifying Languages\")."
        },
        "countryCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes for the localized company info."
        },
        "overview": {
          "type": "string",
          "description": "Localized brief description that the company uses to advertise themselves."
        },
        "displayName": {
          "type": "string",
          "description": "Localized display name."
        }
      },
      "id": "LocalizedCompanyInfo",
      "description": "The localized company information."
    },
    "LogUserEventResponse": {
      "type": "object",
      "properties": {
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        }
      },
      "id": "LogUserEventResponse",
      "description": "Response message for\nLogUserEvent."
    },
    "ListOffersHistoryResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Supply this token in a ListOffersHistoryRequest to retrieve the next page."
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        },
        "canShowEntireCompany": {
          "description": "True if the user has the option to show entire company history.",
          "type": "boolean"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "Number of results across all pages."
        },
        "showingEntireCompany": {
          "type": "boolean",
          "description": "True if this response is showing entire company history."
        },
        "offers": {
          "description": "Historical offers meeting request.",
          "items": {
            "$ref": "HistoricalOffer"
          },
          "type": "array"
        }
      },
      "id": "ListOffersHistoryResponse",
      "description": "Response for ListOfferHistory."
    },
    "LogMessageResponse": {
      "type": "object",
      "properties": {
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        }
      },
      "id": "LogMessageResponse",
      "description": "Response message for\nLogClientMessage."
    },
    "SpecializationStatus": {
      "type": "object",
      "properties": {
        "badgeSpecialization": {
          "type": "string",
          "enumDescriptions": [
            "Unknown specialization",
            "AdWords Search specialization",
            "AdWords Display specialization",
            "AdWords Mobile specialization",
            "AdWords Video specialization",
            "AdWords Shopping specialization"
          ],
          "enum": [
            "BADGE_SPECIALIZATION_UNKNOWN",
            "BADGE_SPECIALIZATION_ADWORDS_SEARCH",
            "BADGE_SPECIALIZATION_ADWORDS_DISPLAY",
            "BADGE_SPECIALIZATION_ADWORDS_MOBILE",
            "BADGE_SPECIALIZATION_ADWORDS_VIDEO",
            "BADGE_SPECIALIZATION_ADWORDS_SHOPPING"
          ],
          "description": "The specialization this status is for."
        },
        "badgeSpecializationState": {
          "enum": [
            "BADGE_SPECIALIZATION_STATE_UNKNOWN",
            "BADGE_SPECIALIZATION_STATE_PASSED",
            "BADGE_SPECIALIZATION_STATE_NOT_PASSED",
            "BADGE_SPECIALIZATION_STATE_IN_GRACE"
          ],
          "description": "State of agency specialization.",
          "type": "string",
          "enumDescriptions": [
            "Unknown state",
            "Specialization passed",
            "Specialization not passed",
            "Specialization in grace"
          ]
        }
      },
      "id": "SpecializationStatus",
      "description": "Agency specialization status"
    },
    "Certification": {
      "type": "object",
      "properties": {
        "lastAchieved": {
          "format": "google-datetime",
          "description": "The date the user last achieved certification.",
          "type": "string"
        },
        "warning": {
          "description": "Whether this certification is in the state of warning.",
          "type": "boolean"
        },
        "expiration": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date this certification is due to expire."
        },
        "achieved": {
          "type": "boolean",
          "description": "Whether this certification has been achieved."
        },
        "certificationType": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "AdWords certified.",
            "YouTube certified.",
            "VideoAds certified.",
            "Analytics certified.",
            "DoubleClick certified.",
            "Shopping certified.",
            "Mobile certified.",
            "Digital sales certified.",
            "AdWords Search certified.",
            "AdWords Display certified.",
            "Mobile Sites certified."
          ],
          "enum": [
            "CERTIFICATION_TYPE_UNSPECIFIED",
            "CT_ADWORDS",
            "CT_YOUTUBE",
            "CT_VIDEOADS",
            "CT_ANALYTICS",
            "CT_DOUBLECLICK",
            "CT_SHOPPING",
            "CT_MOBILE",
            "CT_DIGITAL_SALES",
            "CT_ADWORDS_SEARCH",
            "CT_ADWORDS_DISPLAY",
            "CT_MOBILE_SITES"
          ],
          "description": "The type of certification, the area of expertise."
        }
      },
      "id": "Certification",
      "description": "A user's information on a specific certification."
    },
    "User": {
      "type": "object",
      "properties": {
        "examStatus": {
          "description": "The list of exams the user ever taken. For each type of exam, only one\nentry is listed.",
          "items": {
            "$ref": "ExamStatus"
          },
          "type": "array"
        },
        "id": {
          "description": "The ID of the user.",
          "type": "string"
        },
        "publicProfile": {
          "$ref": "PublicProfile",
          "description": "Information about a user's external public profile outside Google Partners."
        },
        "certificationStatus": {
          "items": {
            "$ref": "Certification"
          },
          "type": "array",
          "description": "The list of achieved certifications. These are calculated based on exam\nresults and other requirements.\n@OutputOnly"
        },
        "companyVerificationEmail": {
          "type": "string",
          "description": "The email address used by the user used for company verification.\n@OutputOnly"
        },
        "profile": {
          "$ref": "UserProfile",
          "description": "The profile information of a Partners user, contains all the directly\neditable user information."
        },
        "company": {
          "$ref": "CompanyRelation",
          "description": "The company that the user is associated with.\nIf not present, the user is not associated with any company."
        },
        "lastAccessTime": {
          "format": "google-datetime",
          "description": "The most recent time the user interacted with the Partners site.\n@OutputOnly",
          "type": "string"
        },
        "availableAdwordsManagerAccounts": {
          "items": {
            "$ref": "AdWordsManagerAccountInfo"
          },
          "type": "array",
          "description": "This is the list of AdWords Manager Accounts the user has edit access to.\nIf the user has edit access to multiple accounts, the user can choose the\npreferred account and we use this when a personal account is needed. Can\nbe empty meaning the user has access to no accounts.\n@OutputOnly"
        },
        "primaryEmails": {
          "description": "The list of emails the user has access to/can select as primary.\n@OutputOnly",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "internalId": {
          "description": "The internal user ID.\nOnly available for a whitelisted set of api clients.",
          "type": "string"
        }
      },
      "id": "User",
      "description": "A resource representing a user of the Partners platform."
    },
    "ListAnalyticsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results.\nPass this value in the `ListAnalyticsRequest.page_token` field in the\nsubsequent call to\nListAnalytics to retrieve the\nnext page of results.",
          "type": "string"
        },
        "analyticsSummary": {
          "$ref": "AnalyticsSummary",
          "description": "Aggregated information across the response's\nanalytics."
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        },
        "analytics": {
          "description": "The list of analytics.\nSorted in ascending order of\nAnalytics.event_date.",
          "items": {
            "$ref": "Analytics"
          },
          "type": "array"
        }
      },
      "id": "ListAnalyticsResponse",
      "description": "Response message for\nListAnalytics."
    },
    "Company": {
      "type": "object",
      "properties": {
        "specializationStatus": {
          "items": {
            "$ref": "SpecializationStatus"
          },
          "type": "array",
          "description": "The list of Google Partners specialization statuses for the company."
        },
        "badgeTier": {
          "enum": [
            "BADGE_TIER_NONE",
            "BADGE_TIER_REGULAR",
            "BADGE_TIER_PREMIER"
          ],
          "description": "Partner badge tier",
          "type": "string",
          "enumDescriptions": [
            "Tier badge is not set.",
            "Agency has regular partner badge.",
            "Agency has premier badge."
          ]
        },
        "autoApprovalEmailDomains": {
          "description": "Email domains that allow users with a matching email address to get\nauto-approved for associating with this company.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "companyTypes": {
          "description": "Company type labels listed on the company's profile.",
          "items": {
            "type": "string",
            "enum": [
              "COMPANY_TYPE_UNSPECIFIED",
              "FULL_SERVICE_AGENCY",
              "MEDIA_AGENCY",
              "CREATIVE_AGENCY",
              "CDIGITAL_AGENCY",
              "SEM_SEO",
              "PERFORMANCE_MARKETING",
              "ADVERTISING_TOOL_DEVELOPMENT",
              "PR",
              "SELF_MANAGED",
              "RESELLER"
            ]
          },
          "type": "array",
          "enumDescriptions": [
            "Unchosen.",
            "Handles all aspects of the advertising process.",
            "Focuses solely on an advertiser's media placement.",
            "Plans/executes advertising campaigns.",
            "Like a\nFULL_SERVICE_AGENCY,\nbut specializing in digital.",
            "Increases visibility in search engine result pages.",
            "Drives promotional efforts for immediate impact.",
            "Focuses on bid management, conversion, reporting.",
            "Establishes favorable relationship with public through low/no-cost\ncommunications.",
            "Does not manage other company's accounts, manages own marketing programs.",
            "Full-service AdWords account management for local businesses."
          ]
        },
        "profileStatus": {
          "enum": [
            "COMPANY_PROFILE_STATUS_UNSPECIFIED",
            "HIDDEN",
            "PUBLISHED",
            "SEARCHABLE"
          ],
          "description": "The public viewability status of the company's profile.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Company profile does not show up publicly.",
            "Company profile can only be viewed by the profile's URL\nand not by Google Partner Search.",
            "Company profile can be viewed by the profile's URL\nand by Google Partner Search."
          ]
        },
        "primaryLanguageCode": {
          "description": "The primary language code of the company, as defined by\n\u003ca href=\"https://tools.ietf.org/html/bcp47\"\u003eBCP 47\u003c/a\u003e\n(IETF BCP 47, \"Tags for Identifying Languages\").",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "The list of all company locations.\nIf set, must include the\nprimary_location\nin the list."
        },
        "convertedMinMonthlyBudget": {
          "$ref": "Money",
          "description": "The minimum monthly budget that the company accepts for partner business,\nconverted to the requested currency code."
        },
        "industries": {
          "items": {
            "type": "string",
            "enum": [
              "INDUSTRY_UNSPECIFIED",
              "I_AUTOMOTIVE",
              "I_BUSINESS_TO_BUSINESS",
              "I_CONSUMER_PACKAGED_GOODS",
              "I_EDUCATION",
              "I_FINANCE",
              "I_HEALTHCARE",
              "I_MEDIA_AND_ENTERTAINMENT",
              "I_RETAIL",
              "I_TECHNOLOGY",
              "I_TRAVEL"
            ]
          },
          "type": "array",
          "enumDescriptions": [
            "Unchosen.",
            "The automotive industry.",
            "The business-to-business industry.",
            "The consumer packaged goods industry.",
            "The education industry.",
            "The finance industry.",
            "The healthcare industry.",
            "The media and entertainment industry.",
            "The retail industry.",
            "The technology industry.",
            "The travel industry."
          ],
          "description": "Industries the company can help with."
        },
        "websiteUrl": {
          "description": "URL of the company's website.",
          "type": "string"
        },
        "additionalWebsites": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "URL of the company's additional websites used to verify the dynamic badges.\nThese are stored as full URLs as entered by the user, but only the TLD will\nbe used for the actual verification."
        },
        "primaryAdwordsManagerAccountId": {
          "format": "int64",
          "description": "The Primary AdWords Manager Account id.",
          "type": "string"
        },
        "name": {
          "description": "The name of the company.",
          "type": "string"
        },
        "localizedInfos": {
          "items": {
            "$ref": "LocalizedCompanyInfo"
          },
          "type": "array",
          "description": "The list of localized info for the company."
        },
        "id": {
          "description": "The ID of the company.",
          "type": "string"
        },
        "certificationStatuses": {
          "description": "The list of Google Partners certification statuses for the company.",
          "items": {
            "$ref": "CertificationStatus"
          },
          "type": "array"
        },
        "publicProfile": {
          "$ref": "PublicProfile",
          "description": "Basic information from the company's public profile."
        },
        "originalMinMonthlyBudget": {
          "$ref": "Money",
          "description": "The unconverted minimum monthly budget that the company accepts for partner\nbusiness."
        },
        "services": {
          "items": {
            "enum": [
              "SERVICE_UNSPECIFIED",
              "S_ADVANCED_ADWORDS_SUPPORT",
              "S_ADVERTISING_ON_GOOGLE",
              "S_AN_ENHANCED_WEBSITE",
              "S_AN_ONLINE_MARKETING_PLAN",
              "S_MOBILE_AND_VIDEO_ADS",
              "S_MOBILE_WEBSITE_SERVICES"
            ],
            "type": "string"
          },
          "type": "array",
          "enumDescriptions": [
            "Unchosen.",
            "Help with advanced AdWords support.",
            "Help with advertising on Google.",
            "Help with an enhanced website.",
            "Help with an online marketing plan.",
            "Help with mobile and video ads.",
            "Help with mobile websites."
          ],
          "description": "Services the company can help with."
        },
        "primaryLocation": {
          "$ref": "Location",
          "description": "The primary location of the company."
        },
        "ranks": {
          "description": "Information related to the ranking of the company within the list of\ncompanies.",
          "items": {
            "$ref": "Rank"
          },
          "type": "array"
        }
      },
      "id": "Company",
      "description": "A company resource in the Google Partners API. Once certified, it qualifies\nfor being searched by advertisers."
    },
    "ListLeadsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results.\nPass this value in the `ListLeadsRequest.page_token` field in the\nsubsequent call to\nListLeads to retrieve the\nnext page of results.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total count of leads for the given company."
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        },
        "leads": {
          "description": "The list of leads.",
          "items": {
            "$ref": "Lead"
          },
          "type": "array"
        }
      },
      "id": "ListLeadsResponse",
      "description": "Response message for ListLeads."
    },
    "CreateLeadResponse": {
      "type": "object",
      "properties": {
        "recaptchaStatus": {
          "enum": [
            "RECAPTCHA_STATUS_UNSPECIFIED",
            "RS_NOT_NEEDED",
            "RS_PASSED",
            "RS_FAILED"
          ],
          "description": "The outcome of \u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e\nvalidation.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "No reCaptcha validation needed.",
            "reCaptcha challenge passed.",
            "reCaptcha challenge failed."
          ]
        },
        "lead": {
          "$ref": "Lead",
          "description": "Lead that was created depending on the outcome of\n\u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e validation."
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        }
      },
      "id": "CreateLeadResponse",
      "description": "Response message for CreateLead."
    },
    "GetCompanyResponse": {
      "type": "object",
      "properties": {
        "company": {
          "$ref": "Company",
          "description": "The company."
        },
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        }
      },
      "id": "GetCompanyResponse",
      "description": "Response message for GetCompany."
    },
    "Location": {
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "CLDR (Common Locale Data Repository) region code .",
          "type": "string"
        },
        "dependentLocality": {
          "description": "Dependent locality or sublocality. Used for UK dependent localities, or\nneighborhoods or boroughs in other locations.",
          "type": "string"
        },
        "address": {
          "description": "The single string version of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "Values are frequently alphanumeric.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code of the address. Should be in BCP 47 format."
        },
        "sortingCode": {
          "description": "Use of this code is very country-specific, but will refer to a secondary\nclassification code for sorting mail.",
          "type": "string"
        },
        "addressLine": {
          "description": "The following address lines represent the most specific part of any\naddress.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "locality": {
          "type": "string",
          "description": "Generally refers to the city/town portion of an address."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Top-level administrative subdivision of this country."
        },
        "latLng": {
          "$ref": "LatLng",
          "description": "The latitude and longitude of the location, in degrees."
        }
      },
      "id": "Location",
      "description": "A location with address and geographic coordinates. May optionally contain a\ndetailed (multi-field) version of the address."
    },
    "CertificationExamStatus": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Adwords Fundamentals exam.",
            "AdWords advanced search exam.",
            "AdWords advanced display exam.",
            "VideoAds exam.",
            "DoubleClick exam.",
            "Analytics exam.",
            "Shopping exam.",
            "Mobile exam.",
            "Digital Sales exam.",
            "Mobile Sites exam."
          ],
          "enum": [
            "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
            "CET_ADWORDS_FUNDAMENTALS",
            "CET_ADWORDS_ADVANCED_SEARCH",
            "CET_ADWORDS_ADVANCED_DISPLAY",
            "CET_VIDEO_ADS",
            "CET_DOUBLECLICK",
            "CET_ANALYTICS",
            "CET_SHOPPING",
            "CET_MOBILE",
            "CET_DIGITAL_SALES",
            "CET_MOBILE_SITES"
          ],
          "description": "The type of certification exam."
        },
        "numberUsersPass": {
          "type": "integer",
          "format": "int32",
          "description": "The number of people who have passed the certification exam."
        }
      },
      "id": "CertificationExamStatus",
      "description": "Status for a Google Partners certification exam."
    },
    "ExamToken": {
      "description": "A token that allows a user to take an exam.",
      "type": "object",
      "properties": {
        "examId": {
          "format": "int64",
          "description": "The id of the exam the token is for.",
          "type": "string"
        },
        "token": {
          "description": "The token, only present if the user has access to the exam.",
          "type": "string"
        },
        "examType": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Adwords Fundamentals exam.",
            "AdWords advanced search exam.",
            "AdWords advanced display exam.",
            "VideoAds exam.",
            "DoubleClick exam.",
            "Analytics exam.",
            "Shopping exam.",
            "Mobile exam.",
            "Digital Sales exam.",
            "Mobile Sites exam."
          ],
          "enum": [
            "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
            "CET_ADWORDS_FUNDAMENTALS",
            "CET_ADWORDS_ADVANCED_SEARCH",
            "CET_ADWORDS_ADVANCED_DISPLAY",
            "CET_VIDEO_ADS",
            "CET_DOUBLECLICK",
            "CET_ANALYTICS",
            "CET_SHOPPING",
            "CET_MOBILE",
            "CET_DIGITAL_SALES",
            "CET_MOBILE_SITES"
          ],
          "description": "The type of the exam the token belongs to."
        }
      },
      "id": "ExamToken"
    },
    "OptIns": {
      "type": "object",
      "properties": {
        "specialOffers": {
          "description": "An opt-in about receiving email regarding new features and products.",
          "type": "boolean"
        },
        "performanceSuggestions": {
          "type": "boolean",
          "description": "An opt-in about receiving email with customized AdWords campaign management\ntips."
        },
        "phoneContact": {
          "type": "boolean",
          "description": "An opt-in to allow recieivng phone calls about their Partners account."
        },
        "physicalMail": {
          "type": "boolean",
          "description": "An opt-in to receive special promotional gifts and material in the mail."
        },
        "marketComm": {
          "description": "An opt-in about receiving email from Partners marketing teams. Includes\nmember-only events and special promotional offers for Google products.",
          "type": "boolean"
        }
      },
      "id": "OptIns",
      "description": "A set of opt-ins for a user."
    },
    "Rank": {
      "description": "Information related to ranking of results.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Total final score."
          ],
          "enum": [
            "RANK_TYPE_UNSPECIFIED",
            "RT_FINAL_SCORE"
          ],
          "description": "The type of rank."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The numerical value of the rank."
        }
      },
      "id": "Rank"
    },
    "GetPartnersStatusResponse": {
      "description": "Response message for\nGetPartnersStatus.",
      "type": "object",
      "properties": {
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        }
      },
      "id": "GetPartnersStatusResponse"
    },
    "UserProfile": {
      "type": "object",
      "properties": {
        "languages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of languages this user understands."
        },
        "familyName": {
          "type": "string",
          "description": "The user's family name."
        },
        "emailOptIns": {
          "$ref": "OptIns",
          "description": "The list of opt-ins for the user, related to communication preferences."
        },
        "markets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of ids representing which markets the user was interested in."
        },
        "adwordsManagerAccount": {
          "type": "string",
          "format": "int64",
          "description": "If the user has edit access to multiple accounts, the user can choose the\npreferred account and it is used when a personal account is needed. Can\nbe empty."
        },
        "phoneNumber": {
          "description": "The user's phone number.",
          "type": "string"
        },
        "primaryCountryCode": {
          "description": "The user's primary country, an ISO 2-character code.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address the user has selected on the Partners site as primary."
        },
        "profilePublic": {
          "type": "boolean",
          "description": "Whether the user's public profile is visible to anyone with the URL."
        },
        "channels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of ids representing which channels the user selected they were in."
        },
        "jobFunctions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of ids represnting which job categories the user selected."
        },
        "givenName": {
          "type": "string",
          "description": "The user's given name."
        },
        "address": {
          "$ref": "Location",
          "description": "The user's mailing address, contains multiple fields."
        },
        "industries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of ids representing which industries the user selected."
        }
      },
      "id": "UserProfile",
      "description": "The profile information of a Partners user."
    },
    "HistoricalOffer": {
      "description": "Historical information about a Google Partners Offer.",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "format": "int64",
          "description": "ID of client."
        },
        "clientName": {
          "type": "string",
          "description": "Name of the client."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time last action was taken."
        },
        "adwordsUrl": {
          "type": "string",
          "description": "Client's AdWords page URL."
        },
        "offerType": {
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "AdWords spend X get Y.",
            "Youtube video.",
            "Spend Match up to Y."
          ],
          "enum": [
            "OFFER_TYPE_UNSPECIFIED",
            "OFFER_TYPE_SPEND_X_GET_Y",
            "OFFER_TYPE_VIDEO",
            "OFFER_TYPE_SPEND_MATCH"
          ],
          "description": "Type of offer."
        },
        "senderName": {
          "description": "Name (First + Last) of the partners user to whom the incentive is allocated.",
          "type": "string"
        },
        "offerCountryCode": {
          "type": "string",
          "description": "Country Code for the offer country."
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time this offer expires."
        },
        "offerCode": {
          "type": "string",
          "description": "Offer code."
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time offer was first created."
        },
        "clientEmail": {
          "description": "Email address for client.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "Offer distributed.",
            "Offer redeemed.",
            "Offer awarded.",
            "Offer expired."
          ],
          "enum": [
            "OFFER_STATUS_UNSPECIFIED",
            "OFFER_STATUS_DISTRIBUTED",
            "OFFER_STATUS_REDEEMED",
            "OFFER_STATUS_AWARDED",
            "OFFER_STATUS_EXPIRED"
          ],
          "description": "Status of the offer."
        }
      },
      "id": "HistoricalOffer"
    },
    "LogUserEventRequest": {
      "description": "Request message for\nLogUserEvent.",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL where the event occurred."
        },
        "requestMetadata": {
          "$ref": "RequestMetadata",
          "description": "Current request metadata."
        },
        "eventDatas": {
          "items": {
            "$ref": "EventData"
          },
          "type": "array",
          "description": "List of event data for the event."
        },
        "eventScope": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Based on visitor.",
            "Based on session.",
            "Based on page visit."
          ],
          "enum": [
            "EVENT_SCOPE_UNSPECIFIED",
            "VISITOR",
            "SESSION",
[...]
