{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "cloudcommerceprocurement:v1",
  "name": "cloudcommerceprocurement",
  "canonicalName": "Cloud Commerce Partner Procurement Service",
  "version": "v1",
  "revision": "20200826",
  "title": "Cloud Commerce Partner Procurement API",
  "description": "Partner API for the Cloud Commerce Procurement Service.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/marketplace/docs/partners/",
  "protocol": "rest",
  "rootUrl": "https://cloudcommerceprocurement.googleapis.com/",
  "mtlsRootUrl": "https://cloudcommerceprocurement.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://cloudcommerceprocurement.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "description": "Response message for [PartnerProcurementService.ListAccounts[].",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The list of accounts in this response.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "The token for fetching the next page.",
          "type": "string"
        }
      }
    },
    "Account": {
      "id": "Account",
      "description": "Represents an account that was established by the customer on the service provider's system.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the account. Account names have the form `accounts\/{account_id}`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "provider": {
          "description": "Output only. The identifier of the service provider that this account was created against. Each service provider is assigned a unique provider value when they onboard with Cloud Commerce platform.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the account. This is used to decide whether the customer is in good standing with the provider and is able to make purchases. An account might not be able to make a purchase if the billing account is suspended, for example.",
          "type": "string",
          "enumDescriptions": [
            "Sentinel value, do not use.",
            "The customer has requested the creation of the account resource, and the provider notification message is dispatched. This state has been deprecated, as accounts now immediately transition to AccountState.ACCOUNT_ACTIVE.",
            "The account is active and ready for use. The next possible states are: - Account getting deleted: After the user invokes delete from another API."
          ],
          "enum": [
            "ACCOUNT_STATE_UNSPECIFIED",
            "ACCOUNT_ACTIVATION_REQUESTED",
            "ACCOUNT_ACTIVE"
          ]
        },
        "inputProperties": {
          "description": "Output only. The custom properties that were collected from the user to create this account.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "approvals": {
          "description": "Output only. The approvals for this account. These approvals are used to track actions that are permitted or have been completed by a customer within the context of the provider. This might include a sign up flow or a provisioning step, for example, that the provider can admit to having happened.",
          "type": "array",
          "items": {
            "$ref": "Approval"
          }
        }
      }
    },
    "Approval": {
      "id": "Approval",
      "description": "An approval for some action on an account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the approval.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the approval.",
          "type": "string",
          "enumDescriptions": [
            "Sentinel value; do not use.",
            "The approval is pending response from the provider. The approval state can transition to Account.Approval.State.APPROVED or Account.Approval.State.REJECTED.",
            "The approval has been granted by the provider.",
            "The approval has been rejected by the provider. A provider may choose to approve a previously rejected approval, so is it possible to transition to Account.Approval.State.APPROVED."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ]
        },
        "reason": {
          "description": "Output only. An explanation for the state of the approval.",
          "type": "string"
        },
        "updateTime": {
          "description": "Optional. The last update timestamp of the approval.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ApproveAccountRequest": {
      "id": "ApproveAccountRequest",
      "description": "Request message for PartnerProcurementService.ApproveAccount.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Set of properties that should be associated with the account. Optional.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "approvalName": {
          "description": "The name of the approval being approved. If absent and there is only one approval possible, that approval will be granted. If absent and there are many approvals possible, the request will fail with a 400 Bad Request. Optional.",
          "type": "string"
        },
        "reason": {
          "description": "Free form text string explaining the approval reason. Optional. Max allowed length: 256 bytes. Longer strings will be truncated.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "RejectAccountRequest": {
      "id": "RejectAccountRequest",
      "description": "Request message for PartnerProcurementService.RejectAccount.",
      "type": "object",
      "properties": {
        "approvalName": {
          "description": "The name of the approval being rejected. If absent and there is only one approval possible, that approval will be rejected. If absent and there are many approvals possible, the request will fail with a 400 Bad Request. Optional.",
          "type": "string"
        },
        "reason": {
          "description": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated.",
          "type": "string"
        }
      }
    },
    "ResetAccountRequest": {
      "id": "ResetAccountRequest",
      "description": "Request message for for PartnerProcurementService.ResetAccount.",
      "type": "object",
      "properties": {
      }
    },
    "ListEntitlementsResponse": {
      "id": "ListEntitlementsResponse",
      "description": "Response message for PartnerProcurementService.ListEntitlements.",
      "type": "object",
      "properties": {
        "entitlements": {
          "description": "The list of entitlements in this response.",
          "type": "array",
          "items": {
            "$ref": "Entitlement"
          }
        },
        "nextPageToken": {
          "description": "The token for fetching the next page.",
          "type": "string"
        }
      }
    },
    "Entitlement": {
      "id": "Entitlement",
      "description": "Represents a procured product of a customer. Next Id: 17",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the entitlement. Entitlement names have the form `providers\/{provider_id}\/entitlements\/{entitlement_id}`.",
          "type": "string"
        },
        "account": {
          "description": "Output only. The resource name of the account that this entitlement is based on, if any.",
          "type": "string"
        },
        "provider": {
          "description": "Output only. The identifier of the service provider that this entitlement was created against. Each service provider is assigned a unique provider value when they onboard with Cloud Commerce platform.",
          "type": "string"
        },
        "product": {
          "description": "Output only. The identifier of the entity that was purchased. This may actually represent a product or a quote.",
          "type": "string"
        },
        "quoteExternalName": {
          "description": "Output only. The identifier of the quote that was used to procure. Empty if the order is not purchased using a quote.",
          "readOnly": true,
          "type": "string"
        },
        "productExternalName": {
          "description": "Output only. The identifier of the product that was procured.",
          "readOnly": true,
          "type": "string"
        },
        "plan": {
          "description": "Output only. The identifier of the plan that was procured. Required if the product has plans.",
          "type": "string"
        },
        "newPendingPlan": {
          "description": "Output only. The identifier of the pending new plan. Required if the product has plans and the entitlement has a pending plan change.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the entitlement.",
          "type": "string",
          "enumDescriptions": [
            "Sentinel value. Do not use.",
            "Indicates that the entitlement is being created and the backend has sent a notification to the provider for the activation approval. If the provider approves, then the entitlement will transition to the EntitlementState.ENTITLEMENT_ACTIVE state. Otherwise, the entitlement will be removed. Plan changes are not allowed in this state. Instead the entitlement is cancelled and re-created with a new plan name.",
            "Indicates that the entitlement is active. The procured item is now usable and any associated billing events will start occurring. In this state, the customer can decide to cancel the entitlement, which would change the state to EntitlementState.ENTITLEMENT_PENDING_CANCELLATION, and then EntitlementState.ENTITLEMENT_CANCELLED. The user can also request a change of plan, which will transition the state to EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE, and then back to EntitlementState.ENTITLEMENT_ACTIVE.",
            "Indicates that the entitlement was cancelled by the customer. The entitlement typically stays in this state if the entitlement\/plan allows use of the underlying resource until the end of the current billing cycle. Once the billing cycle completes, the resource will transition to EntitlementState.ENTITLEMENT_CANCELLED state. The resource cannot be modified during this state.",
            "Indicates that the entitlement was cancelled. The entitlement can now be deleted.",
            "Indicates that the entitlement is currently active, but there is a pending plan change that is requested by the customer. The entitlement typically stays in this state, if the entitlement\/plan requires the completion of the current billing cycle before the plan can be changed. Once the billing cycle completes, the resource will transition to EntitlementState.ENTITLEMENT_ACTIVE, with its plan changed.",
            "Indicates that the entitlement is currently active, but there is a plan change request pending provider approval. If the provider approves the plan change, then the entitlement will transition either to EntitlementState.ENTITLEMENT_ACTIVE or EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE depending on whether current plan requires that the billing cycle completes. If the provider rejects the plan change, then the pending plan change request is removed and the entitlement stays in EntitlementState.ENTITLEMENT_ACTIVE state with the old plan.",
            "Indicates that the entitlement is suspended either by Google or provider request. This can be triggered for various external reasons (e.g. expiration of credit card on the billing account, violation of terms-of-service of the provider etc.). As such, any remediating action needs to be taken externally, before the entitlement can be activated. This is not yet supported."
          ],
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLEMENT_ACTIVATION_REQUESTED",
            "ENTITLEMENT_ACTIVE",
            "ENTITLEMENT_PENDING_CANCELLATION",
            "ENTITLEMENT_CANCELLED",
            "ENTITLEMENT_PENDING_PLAN_CHANGE",
            "ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL",
            "ENTITLEMENT_SUSPENDED"
          ]
        },
        "inputProperties": {
          "description": "Output only. The custom properties that were collected from the user to create this entitlement.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "updateTime": {
          "description": "Output only. The last update timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "usageReportingId": {
          "description": "Output only. The consumerId to use when reporting usage through the Service Control API. See the consumerId field at [Reporting Metrics](https:\/\/cloud.google.com\/service-control\/reporting-metrics) for more details. This field is present only if the product has usage-based billing configured.",
          "type": "string"
        },
        "messageToUser": {
          "description": "Provider-supplied message that is displayed to the end user. Currently this is used to communicate progress and ETA for provisioning. This field can be updated only when a user is waiting for an action from the provider, i.e. entitlement state is EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED or EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL. This field is cleared automatically when the entitlement state changes.",
          "type": "string"
        },
        "consumers": {
          "description": "Output only. The resources using this entitlement, if applicable.",
          "type": "array",
          "items": {
            "$ref": "Consumer"
          }
        },
        "subscriptionEndTime": {
          "description": "Output only. End time for the subscription corresponding to this entitlement.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Consumer": {
      "id": "Consumer",
      "description": "A resource using (consuming) this entitlement.",
      "type": "object",
      "properties": {
        "project": {
          "description": "A project name with format `projects\/`.",
          "type": "string"
        }
      }
    },
    "ApproveEntitlementRequest": {
      "id": "ApproveEntitlementRequest",
      "description": "Request message for [PartnerProcurementService.ApproveEntitlement[].",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Set of properties that should be associated with the entitlement. Optional.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "RejectEntitlementRequest": {
      "id": "RejectEntitlementRequest",
      "description": "Request message for PartnerProcurementService.RejectEntitlement.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated.",
          "type": "string"
        }
      }
    },
    "ApproveEntitlementPlanChangeRequest": {
      "id": "ApproveEntitlementPlanChangeRequest",
      "description": "Request message for [PartnerProcurementService.ApproveEntitlementPlanChange[].",
      "type": "object",
      "properties": {
        "pendingPlanName": {
          "description": "Name of the pending plan that is being approved. Required.",
          "type": "string"
        }
      }
    },
    "RejectEntitlementPlanChangeRequest": {
      "id": "RejectEntitlementPlanChangeRequest",
      "description": "Request message for PartnerProcurementService.RejectEntitlementPlanChange.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated.",
          "type": "string"
        },
        "pendingPlanName": {
          "description": "Name of the pending plan that is being rejected. Required.",
          "type": "string"
        }
      }
    },
    "SuspendEntitlementRequest": {
      "id": "SuspendEntitlementRequest",
      "description": "Request message for ParterProcurementService.SuspendEntitlement. This is not yet supported.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "A free-form reason string, explaining the reason for suspension request.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "providers": {
      "resources": {
        "accounts": {
          "methods": {
            "list": {
              "id": "cloudcommerceprocurement.providers.accounts.list",
              "path": "v1/{+parent}/accounts",
              "flatPath": "v1/providers/{providersId}/accounts",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The parent resource name.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of entries that are requested. Default size is 200.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The token for fetching the next page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List Accounts that the provider has access to."
            },
            "get": {
              "id": "cloudcommerceprocurement.providers.accounts.get",
              "path": "v1/{+name}",
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the account to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+\/accounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Account"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a requested Account resource."
            },
            "approve": {
              "id": "cloudcommerceprocurement.providers.accounts.approve",
              "path": "v1/{+name}:approve",
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}:approve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the account. Required.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+\/accounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveAccountRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Grant an approval on an Account."
            },
            "reject": {
              "id": "cloudcommerceprocurement.providers.accounts.reject",
              "path": "v1/{+name}:reject",
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}:reject",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the account. Required.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+\/accounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RejectAccountRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Reject an approval on an Account."
            },
            "reset": {
              "id": "cloudcommerceprocurement.providers.accounts.reset",
              "path": "v1/{+name}:reset",
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}:reset",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the account. Required.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+\/accounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ResetAccountRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Reset an Account and cancel all associated Entitlements. Partner can only reset accounts they own rather than customer accounts."
            }
          }
        },
        "entitlements": {
          "methods": {
            "list": {
              "id": "cloudcommerceprocurement.providers.entitlements.list",
              "path": "v1/{+parent}/entitlements",
              "flatPath": "v1/providers/{providersId}/entitlements",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The parent resource name.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "The filter that can be used to limit the list request. The filter is a query string that can match a selected set of attributes with string values. For example `account=E-1234-5678-ABCD-EFGH`, `state=pending_cancellation`, and `plan!=foo-plan`. Supported query attributes are * `account` * `product_external_name` * `quote_external_name` * `plan` * `newPendingPlan` or `new_pending_plan` * `state` * `consumers.project` Note that the consumers match works on repeated structures, so equality (`consumers.project=projects\/123456789`) is not supported. Set membership can be expressed with the `:` operator. For example, `consumers.project:projects\/123456789` finds entitlements with at least one consumer with project field equal to `projects\/123456789`. Also note that the state name match is case-insensitive and query can omit the prefix \"ENTITLEMENT_\". For example, `state=active` is equivalent to `state=ENTITLEMENT_ACTIVE`. If the query contains some special characters other than letters, underscore, or digits, the phrase must be quoted with double quotes. For example, `product=\"providerId:productId\"`, where the product name needs to be quoted because it contains special character colon. Queries can be combined with `AND`, `OR`, and `NOT` to form more complex queries. They can also be grouped to force a desired evaluation order. For example, `state=active AND (account=E-1234 OR account=5678) AND NOT (product=foo-product)`. Connective `AND` can be omitted between two predicates. For example `account=E-1234 state=active` is equivalent to `account=E-1234 AND state=active`.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of entries that are requested.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The token for fetching the next page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListEntitlementsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List Entitlements for which the provider has read access."
            },
            "get": {
              "id": "cloudcommerceprocurement.providers.entitlements.get",
              "path": "v1/{+name}",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the entitlement to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+\/entitlements\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Entitlement"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a requested Entitlement resource."
            },
            "approve": {
              "id": "cloudcommerceprocurement.providers.entitlements.approve",
              "path": "v1/{+name}:approve",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:approve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the entitlement. Required.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+\/entitlements\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveEntitlementRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Approve an entitlement that is in the EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED state. This method is invoked by the provider to approve the creation of the entitlement resource."
            },
            "reject": {
              "id": "cloudcommerceprocurement.providers.entitlements.reject",
              "path": "v1/{+name}:reject",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:reject",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the entitlement. Required.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+\/entitlements\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RejectEntitlementRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Reject an entitlement that is in the EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED state. This method is invoked by the provider to reject the creation of the entitlement resource."
            },
            "patch": {
              "id": "cloudcommerceprocurement.providers.entitlements.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The name of the entitlement to update.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+\/entitlements\/[^\/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "The update mask that applies to the resource. See the [FieldMask definition] (https:\/\/developers.google.com\/protocol-buffers\/docs\/reference\/google.protobuf#fieldmask) for more details.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Entitlement"
              },
              "response": {
                "$ref": "Entitlement"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates an existing Entitlement."
            },
            "approvePlanChange": {
              "id": "cloudcommerceprocurement.providers.entitlements.approvePlanChange",
              "path": "v1/{+name}:approvePlanChange",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:approvePlanChange",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the entitlement. Required.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+\/entitlements\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveEntitlementPlanChangeRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Approve an entitlement plan change that is in the EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL state. This method is invoked by the provider to approve the plan change on the entitlement resource."
            },
            "rejectPlanChange": {
              "id": "cloudcommerceprocurement.providers.entitlements.rejectPlanChange",
              "path": "v1/{+name}:rejectPlanChange",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:rejectPlanChange",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the entitlement. Required.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+\/entitlements\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RejectEntitlementPlanChangeRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Reject an entitlement plan change that is in the EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL state. This method is invoked by the provider to reject the plan change on the entitlement resource."
            },
            "suspend": {
              "id": "cloudcommerceprocurement.providers.entitlements.suspend",
              "path": "v1/{+name}:suspend",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:suspend",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The name of the entitlement to suspend.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers\/[^\/]+\/entitlements\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SuspendEntitlementRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Request suspension of an active Entitlement. This is not yet supported."
            }
          }
        }
      }
    }
  },
  "basePath": ""
}