{
 "kind": "discovery#restDescription",
 "etag": "\"YWOzh2SDasdU84ArJnpYek-OMdg/jlUeQ39CT-heXQN-O7GqkbWfDjU\"",
 "discoveryVersion": "v1",
 "id": "supportcases:v2",
 "name": "supportcases",
 "version": "v2",
 "revision": "20170329",
 "title": "Google Support Cases Private API",
 "description": "Support Cases API",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
  "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
 },
 "documentationLink": "https://sites.google.com/a/google.com/cases/",
 "protocol": "rest",
 "baseUrl": "https://supportcases.googleapis.com/v2/",
 "basePath": "/v2/",
 "rootUrl": "https://supportcases.googleapis.com/",
 "servicePath": "v2/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cases": {
     "description": "View and manage your Google Support Cases"
    },
    "https://www.googleapis.com/auth/cases.readonly": {
     "description": "View your Google Support Cases"
    },
    "https://www.googleapis.com/auth/supportcontent": {
     "description": "View and manage your support data"
    }
   }
  }
 },
 "schemas": {
  "Account": {
   "id": "Account",
   "type": "object",
   "properties": {
    "accountId": {
     "type": "string"
    },
    "productId": {
     "type": "string"
    },
    "productName": {
     "type": "string"
    }
   }
  },
  "AccountLookupTool": {
   "id": "AccountLookupTool",
   "type": "object",
   "properties": {
    "productId": {
     "type": "string"
    },
    "productName": {
     "type": "string"
    },
    "urlTemplate": {
     "type": "string"
    }
   }
  },
  "AccountReview": {
   "id": "AccountReview",
   "type": "object",
   "properties": {
    "reviewKey": {
     "$ref": "ReviewKey"
    },
    "reviewState": {
     "type": "string",
     "enum": [
      "ASSIGNED",
      "CLOSED",
      "REVIEW_STATE_UNSPECIFIED",
      "UNASSIGNED",
      "UNKNOWN_REVIEW_STATE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "reviewType": {
     "type": "string",
     "enum": [
      "ACCOUNT_REVIEW_TYPE_UNSPECIFIED",
      "AML",
      "BVID_COMPLIANCE_FRAUD",
      "ID_VERIFICATION_UNKNOWN_TYPE",
      "LEGACY_HOLD_REVIEW",
      "OFFLINE_SANCTIONS_COMPLIANCE_FRAUD",
      "ONLINE_SANCTIONS",
      "RISK_FRAUD"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "AccountSignalResult": {
   "id": "AccountSignalResult",
   "type": "object",
   "properties": {
    "bvidDocsSubmissionStatus": {
     "$ref": "CustomerDocsSubmissionStatus"
    },
    "gaiaCheckoutServiceStatus": {
     "type": "string",
     "enum": [
      "GAIA_ACCOUNT_SERVICE_STATUS_DISABLED",
      "GAIA_ACCOUNT_SERVICE_STATUS_REGISTERED",
      "GAIA_ACCOUNT_SERVICE_STATUS_SUSPENDED",
      "GAIA_ACCOUNT_SERVICE_STATUS_UNSPECIFIED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "hasPositiveWalletBalance": {
     "type": "boolean"
    },
    "isVip": {
     "type": "boolean"
    },
    "mostRecentTransactionType": {
     "type": "string",
     "enum": [
      "GOOGLE_PLAY",
      "GOOGLE_STORE",
      "P2P_RECEIVER",
      "P2P_SENDER",
      "TAP_AND_PAY",
      "UNKNOWN_WALLET_TRANSACTION_TYPE",
      "WALLET_CARD",
      "YOUTUBE_PURCHASE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "offlineCheckDocsSubmissionStatus": {
     "$ref": "CustomerDocsSubmissionStatus"
    },
    "riskDocsSubmissionStatus": {
     "$ref": "CustomerDocsSubmissionStatus"
    },
    "sanctionsDocsSubmissionStatus": {
     "$ref": "CustomerDocsSubmissionStatus"
    },
    "type": {
     "type": "string",
     "enum": [
      "ACCOUNT_SIGNAL_TYPE_UNSPECIFIED",
      "CUSTOMER_BVID_DOCS_SUBMISSION_STATUS",
      "CUSTOMER_OFFLINE_CHECK_DOCS_SUBMISSION_STATUS",
      "CUSTOMER_RISK_DOCS_SUBMISSION_STATUS",
      "CUSTOMER_SANCTIONS_DOCS_SUBMISSION_STATUS",
      "GAIA_ACCOUNT_CHECKOUT_SERVICE_STATUS",
      "HAS_POSITIVE_WALLET_BALANCE",
      "IS_VIP",
      "MOST_RECENT_TRANSACTION_TYPE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "Action": {
   "id": "Action",
   "type": "object",
   "properties": {
    "cannedResponses": {
     "$ref": "CannedResponseAction"
    },
    "issueCategories": {
     "$ref": "IssueCategoryAction"
    },
    "nextState": {
     "type": "string",
     "enum": [
      "ASSIGNED",
      "BLOCKED_BY",
      "FINISHED",
      "IN_CONSULT",
      "NEED_INFO",
      "NEW",
      "SOLUTION_OFFERED",
      "UNASSIGNED",
      "UNKNOWN_CASE_STATE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "Action1": {
   "id": "Action1",
   "type": "object",
   "properties": {
    "alertMessage": {
     "type": "string"
    },
    "consultAction": {
     "$ref": "ConsultAction"
    },
    "difmAction": {
     "$ref": "DifmAction"
    },
    "scriptId": {
     "type": "integer",
     "format": "int32"
    },
    "showSummaryAction": {
     "$ref": "ShowSummaryAction"
    },
    "transferAction": {
     "$ref": "TransferAction"
    }
   }
  },
  "Address": {
   "id": "Address",
   "type": "object",
   "properties": {
    "addressLine1": {
     "type": "string"
    },
    "addressLine2": {
     "type": "string"
    },
    "addressLine3": {
     "type": "string"
    },
    "addressee": {
     "type": "string"
    },
    "city": {
     "type": "string"
    },
    "countryCode": {
     "type": "string"
    },
    "postalCode": {
     "type": "string"
    },
    "stateProvinceCode": {
     "type": "string"
    }
   }
  },
  "AfterSendSetting": {
   "id": "AfterSendSetting",
   "type": "object",
   "properties": {
    "stateAfterSend": {
     "type": "string",
     "enum": [
      "NEEDS_INFO",
      "SOLUTION_OFFERED",
      "UNKNOWN_STATE_AFTER_SEND"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "AgentActivity": {
   "id": "AgentActivity",
   "type": "object",
   "properties": {
    "agentActivityId": {
     "type": "string"
    },
    "assignee": {
     "$ref": "Assignee"
    },
    "caseId": {
     "type": "string"
    },
    "cohortMetadataCollection": {
     "$ref": "CohortMetadataCollection"
    },
    "description": {
     "type": "string"
    },
    "desktopScreenshareEvent": {
     "$ref": "DesktopScreenshareEvent"
    },
    "mobileScreenshareEvent": {
     "$ref": "MobileScreenshareEvent"
    },
    "phoneCall": {
     "$ref": "PhoneCall"
    },
    "pitch": {
     "$ref": "Pitch"
    },
    "relation": {
     "$ref": "Relation"
    },
    "requestDeviceSignalsEvent": {
     "$ref": "RequestDeviceSignalsEvent"
    },
    "resolutionOpened": {
     "$ref": "ResolutionOpened"
    },
    "startTime": {
     "type": "string"
    }
   }
  },
  "AgentActivitySource": {
   "id": "AgentActivitySource",
   "type": "object"
  },
  "AgentSetting": {
   "id": "AgentSetting",
   "type": "object",
   "properties": {
    "agentSettingId": {
     "type": "string"
    },
    "aliasInfo": {
     "$ref": "AliasInfo"
    },
    "defaultLocale": {
     "type": "string"
    },
    "defaultProductId": {
     "type": "string"
    },
    "employmentInfo": {
     "$ref": "EmploymentInfo"
    },
    "firstName": {
     "type": "string"
    },
    "focusInfo": {
     "$ref": "FocusInfo"
    },
    "includeReassignedInAutoassign": {
     "type": "boolean"
    },
    "languageCode": {
     "type": "string"
    },
    "name": {
     "type": "string"
    },
    "phoneSetting": {
     "$ref": "PhoneSetting"
    },
    "preferredName": {
     "type": "string"
    },
    "sidewinderRole": {
     "$ref": "SidewinderRole"
    },
    "status": {
     "type": "string",
     "enum": [
      "ACTIVE",
      "DELETED",
      "INACTIVE",
      "UNKNOWN_AGENT_STATUS"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "AgentTransfer": {
   "id": "AgentTransfer",
   "type": "object",
   "properties": {
    "sourceAgent": {
     "$ref": "Identity"
    },
    "targetAgent": {
     "$ref": "Identity"
    }
   }
  },
  "AgentUnreadCasesInfo": {
   "id": "AgentUnreadCasesInfo",
   "type": "object",
   "properties": {
    "unreadCasesInfo": {
     "type": "array",
     "items": {
      "$ref": "UnreadCaseInfo"
     }
    }
   }
  },
  "AliasInfo": {
   "id": "AliasInfo",
   "type": "object",
   "properties": {
    "externalName": {
     "type": "string"
    },
    "personalAlias": {
     "type": "string"
    }
   }
  },
  "Answer": {
   "id": "Answer",
   "type": "object",
   "properties": {
    "question": {
     "type": "string",
     "enum": [
      "DEVICE_TYPE",
      "PURCHASED_APP_NAME",
      "PURCHASED_BOOK_NAME",
      "PURCHASED_VIDEO_NAME",
      "QUESTION_NOT_SET"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "skipReason": {
     "type": "string",
     "enum": [
      "DOES_NOT_KNOW",
      "NOT_LISTED",
      "SKIP_REASON_NOT_SET"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "text": {
     "type": "string"
    }
   }
  },
  "AnswerSet": {
   "id": "AnswerSet",
   "type": "object",
   "properties": {
    "customerAnswers": {
     "type": "array",
     "items": {
      "$ref": "CustomerAnswer"
     }
    },
    "questionSetType": {
     "type": "string",
     "enum": [
      "PAYMENT_METHOD_QUESTION_SET",
      "PHONE_NUMBER_QUESTION_SET",
      "POSTAL_CODE_QUESTION_SET",
      "UNKNOWN_QUESTION_SET_TYPE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "AssignCohortsRequest": {
   "id": "AssignCohortsRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    }
   }
  },
  "AssignCohortsResponse": {
   "id": "AssignCohortsResponse",
   "type": "object",
   "properties": {
    "cohorts": {
     "type": "array",
     "items": {
      "$ref": "Cohort2"
     }
    }
   }
  },
  "AssignRequest": {
   "id": "AssignRequest",
   "type": "object",
   "properties": {
    "assignedByScreenPop": {
     "type": "boolean"
    },
    "emailAddress": {
     "type": "string"
    }
   }
  },
  "AssignResponse": {
   "id": "AssignResponse",
   "type": "object",
   "properties": {
    "case": {
     "$ref": "Case"
    }
   }
  },
  "Assignee": {
   "id": "Assignee",
   "type": "object",
   "properties": {
    "displayName": {
     "type": "string"
    },
    "emailAddress": {
     "type": "string"
    }
   }
  },
  "Assignee1": {
   "id": "Assignee1",
   "type": "object",
   "properties": {
    "displayName": {
     "type": "string"
    },
    "emailAddress": {
     "type": "string"
    }
   }
  },
  "Assignee2": {
   "id": "Assignee2",
   "type": "object",
   "properties": {
    "ldap": {
     "type": "string"
    },
    "name": {
     "type": "string"
    }
   }
  },
  "Attachment": {
   "id": "Attachment",
   "type": "object",
   "properties": {
    "attachmentId": {
     "type": "string"
    },
    "communicationId": {
     "type": "string"
    }
   }
  },
  "Attachment1": {
   "id": "Attachment1",
   "type": "object",
   "properties": {
    "attachmentId": {
     "type": "string"
    },
    "communicationId": {
     "type": "string"
    }
   }
  },
  "AttachmentInfo": {
   "id": "AttachmentInfo",
   "type": "object",
   "properties": {
    "attachmentId": {
     "type": "string"
    },
    "contentId": {
     "type": "string"
    },
    "fileName": {
     "type": "string"
    },
    "mimeType": {
     "type": "string"
    }
   }
  },
  "Attribute": {
   "id": "Attribute",
   "type": "object",
   "properties": {
    "attributeId": {
     "type": "string"
    },
    "attributeName": {
     "type": "string"
    },
    "description": {
     "type": "string"
    },
    "enumValue": {
     "type": "array",
     "items": {
      "$ref": "EnumValue"
     }
    },
    "name": {
     "type": "string"
    },
    "valueType": {
     "type": "string",
     "enum": [
      "BOOL",
      "DOUBLE",
      "ENUM",
      "INT",
      "INT64",
      "STRING",
      "TIMESTAMP",
      "UNKNOWN_VALUE_TYPE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "Attribute1": {
   "id": "Attribute1",
   "type": "object",
   "properties": {
    "attributeId": {
     "type": "string"
    },
    "attributeName": {
     "type": "string"
    },
    "entries": {
     "type": "array",
     "items": {
      "$ref": "Entry"
     }
    }
   }
  },
  "AuthenticateRequest": {
   "id": "AuthenticateRequest",
   "type": "object",
   "properties": {
    "agentSsoCookie": {
     "type": "string"
    },
    "answerSets": {
     "type": "array",
     "items": {
      "$ref": "AnswerSet"
     }
    },
    "customerEmail": {
     "type": "string"
    }
   }
  },
  "AuthenticateResponse": {
   "id": "AuthenticateResponse",
   "type": "object",
   "properties": {
    "customer": {
     "$ref": "Customer"
    },
    "result": {
     "type": "string",
     "enum": [
      "FAIL",
      "PASS",
      "PENDING",
      "UNKNOWN_RESULT"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "verificationResults": {
     "type": "array",
     "items": {
      "$ref": "VerificationResult"
     }
    }
   }
  },
  "Authentication": {
   "id": "Authentication",
   "type": "object",
   "properties": {
    "authenticateTime": {
     "type": "string"
    },
    "channel": {
     "type": "string",
     "enum": [
      "AGENT",
      "CLICK_TO_CALL",
      "CUF",
      "REALTIME",
      "UNKNOWN_CHANNEL"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "emailAddress": {
     "type": "string"
    },
    "result": {
     "type": "string",
     "enum": [
      "FAIL",
      "PASS",
      "PENDING",
      "UNKNOWN_RESULT"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "AuthenticationBankAccount": {
   "id": "AuthenticationBankAccount",
   "type": "object",
   "properties": {
    "bankAccountTypeDisplayName": {
     "type": "string"
    },
    "bankAccountTypeToken": {
     "type": "string"
    }
   }
  },
  "AuthenticationCreditCard": {
   "id": "AuthenticationCreditCard",
   "type": "object",
   "properties": {
    "creditCardDisplayName": {
     "type": "string"
    },
    "creditCardTypeToken": {
     "type": "string"
    }
   }
  },
  "AuthenticationCreditCard1": {
   "id": "AuthenticationCreditCard1",
   "type": "object",
   "properties": {
    "creditCardDisplayName": {
     "type": "string"
    },
    "creditCardTypeToken": {
     "type": "string"
    }
   }
  },
  "AuthenticationInfo": {
   "id": "AuthenticationInfo",
   "type": "object",
   "properties": {
    "status": {
     "type": "string",
     "enum": [
      "FAILED",
      "SUCCESS",
      "UNKNOWN_AUTH_TYPE"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "AuthenticationSettings": {
   "id": "AuthenticationSettings",
   "type": "object",
   "properties": {
    "authenticationSupported": {
     "type": "boolean"
    },
    "exemptFromAuthentication": {
     "type": "boolean"
    }
   }
  },
  "AutoAssignRequest": {
   "id": "AutoAssignRequest",
   "type": "object"
  },
  "AutoAssignResponse": {
   "id": "AutoAssignResponse",
   "type": "object",
   "properties": {
    "case": {
     "$ref": "Case"
    },
    "searchName": {
     "type": "string"
    }
   }
  },
  "AutocheckResult": {
   "id": "AutocheckResult",
   "type": "object",
   "properties": {
    "autocheckId": {
     "type": "string"
    },
    "autocheckTime": {
     "type": "string"
    },
    "descriptionId": {
     "type": "string"
    },
    "scriptId": {
     "type": "string"
    },
    "status": {
     "type": "string",
     "enum": [
      "AUTOCHECK_STATUS_NOT_SET",
      "ERROR",
      "FAIL",
      "NO",
      "NOT_RUN",
      "PASS",
      "YES"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "AvailableQuestion": {
   "id": "AvailableQuestion",
   "type": "object",
   "properties": {
    "authenticationCreditCards": {
     "type": "array",
     "items": {
      "$ref": "AuthenticationCreditCard1"
     }
    },
    "question": {
     "type": "string",
     "enum": [
      "BANK_ACCOUNT",
      "CREDIT_CARD",
      "DCB",
      "PAYPAL",
      "PHONE_NUMBER",
      "PLAY_BALANCE",
      "POSTAL_CODE",
      "UNKNOWN_QUESTION",
      "WALLET_BALANCE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "questionSources": {
     "type": "array",
     "items": {
      "$ref": "QuestionSource"
     }
    },
    "questionToken": {
     "type": "string"
    }
   }
  },
  "BankAccount": {
   "id": "BankAccount",
   "type": "object",
   "properties": {
    "accountSuffix": {
     "type": "string"
    },
    "bankAccountToken": {
     "type": "string"
    },
    "countryName": {
     "type": "string"
    }
   }
  },
  "BankAccount1": {
   "id": "BankAccount1",
   "type": "object",
   "properties": {
    "accountNumberSuffix": {
     "type": "string"
    },
    "bankAccountTypeToken": {
     "type": "string"
    }
   }
  },
  "BankAccountCountry": {
   "id": "BankAccountCountry",
   "type": "object",
   "properties": {
    "bankAccountToken": {
     "type": "string"
    },
    "countryName": {
     "type": "string"
    }
   }
  },
  "BatchCreatePitchRequest": {
   "id": "BatchCreatePitchRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "eventId": {
     "type": "string"
    },
    "opportunityIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "pitches": {
     "type": "array",
     "items": {
      "$ref": "Pitch1"
     }
    }
   }
  },
  "BatchCreatePitchResponse": {
   "id": "BatchCreatePitchResponse",
   "type": "object",
   "properties": {
    "responses": {
     "type": "array",
     "items": {
      "$ref": "CreatePitchResponse"
     }
    }
   }
  },
  "BatchGetCategoryInfosResponse": {
   "id": "BatchGetCategoryInfosResponse",
   "type": "object",
   "properties": {
    "categoryInfos": {
     "type": "array",
     "items": {
      "$ref": "CategoryInfo"
     }
    }
   }
  },
  "BatchUpdateAttributesRequest": {
   "id": "BatchUpdateAttributesRequest",
   "type": "object",
   "properties": {
    "attributes": {
     "type": "array",
     "items": {
      "$ref": "Attribute1"
     }
    }
   }
  },
  "BatchUpdateAttributesResponse": {
   "id": "BatchUpdateAttributesResponse",
   "type": "object",
   "properties": {
    "case": {
     "$ref": "Case"
    }
   }
  },
  "BlockRequest": {
   "id": "BlockRequest",
   "type": "object",
   "properties": {
    "borgAlertId": {
     "type": "string"
    },
    "buganizerId": {
     "type": "string",
     "format": "int64"
    },
    "orderId": {
     "type": "string"
    },
    "pcrId": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "BlockResponse": {
   "id": "BlockResponse",
   "type": "object",
   "properties": {
    "case": {
     "$ref": "Case"
    }
   }
  },
  "BuildNewEmailRequest": {
   "id": "BuildNewEmailRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    }
   }
  },
  "BuildNewEmailResponse": {
   "id": "BuildNewEmailResponse",
   "type": "object",
   "properties": {
    "emailTemplate": {
     "$ref": "Email"
    },
    "footerIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "headerIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "BuildReplyEmailRequest": {
   "id": "BuildReplyEmailRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "messageId": {
     "type": "string"
    },
    "replyType": {
     "type": "string",
     "enum": [
      "REPLY",
      "REPLY_ALL",
      "UNKNOWN_REPLY_TYPE"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "timeZone": {
     "type": "string"
    }
   }
  },
  "BuildReplyEmailResponse": {
   "id": "BuildReplyEmailResponse",
   "type": "object",
   "properties": {
    "emailTemplate": {
     "$ref": "Email"
    }
   }
  },
  "Business": {
   "id": "Business",
   "type": "object",
   "properties": {
    "address": {
     "$ref": "Address"
    },
    "listingId": {
     "type": "string",
     "format": "uint64"
    },
    "name": {
     "type": "string"
    }
   }
  },
  "CallBackRequest": {
   "id": "CallBackRequest",
   "type": "object"
  },
  "CallBackResponse": {
   "id": "CallBackResponse",
   "type": "object",
   "properties": {
    "callbackStatus": {
     "type": "string",
     "enum": [
      "AGENT_BUSY",
      "AGENT_HUNG_UP_EARLY",
      "AGENT_NOT_ANSWERED",
      "AGENT_NOT_CONNECTED",
      "AGENT_NOT_LOGGED_IN",
      "AUTHENTICATION_ERROR",
      "CALLBACK_STATUS_UNSPECIFIED",
      "CALL_CONNECTED",
      "CALL_IN_PROGRESS",
      "CUSTOMER_BUSY",
      "CUSTOMER_NOT_ANSWERED",
      "CUSTOMER_NOT_CONNECTED",
      "INTERNAL_ERROR",
      "INVALID_AGENT_SETTING",
      "INVALID_CUSTOMER_NUMBER"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "customer": {
     "$ref": "Customer"
    }
   }
  },
  "Campaign": {
   "id": "Campaign",
   "type": "object",
   "properties": {
    "campaignId": {
     "type": "string",
     "format": "int64"
    },
    "campaignName": {
     "type": "string"
    },
    "rank": {
     "type": "number",
     "format": "double"
    }
   }
  },
  "CancelAuthHoldRequest": {
   "id": "CancelAuthHoldRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    }
   }
  },
  "CancelComponentsRequest": {
   "id": "CancelComponentsRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "componentTokens": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "reason": {
     "type": "string",
     "enum": [
      "CANCEL_REFUND_REASON_UNKNOWN",
      "FEATURE_NOT_WORKING",
      "FRIEND_OR_FAMILY_CHARGES",
      "NO_LONGER_WANTED_REMORSE",
      "PURCHASE_BY_ACCIDENT",
      "SELF_SERVICE_REFUND",
      "UNRECOGNIZED_CHARGES_PAYMENT_FRAUD"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "revokeAccess": {
     "type": "boolean"
    },
    "ssoCookie": {
     "type": "string"
    }
   }
  },
  "CancelComponentsResponse": {
   "id": "CancelComponentsResponse",
   "type": "object",
   "properties": {
    "componentTokens": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "result": {
     "type": "string",
     "enum": [
      "ALREADY_CANCELED",
      "APPROVED",
      "CANCEL_RESULT_UNKNOWN",
      "CANCEL_RETRIABLE",
      "PERMANENT_CANCEL_FAILED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "CancelEntitlementRequest": {
   "id": "CancelEntitlementRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "entitlementToken": {
     "type": "string"
    },
    "entitlementTokens": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "reason": {
     "type": "string",
     "enum": [
      "CANCEL_REFUND_REASON_UNKNOWN",
      "FEATURE_NOT_WORKING",
      "FRIEND_OR_FAMILY_CHARGES",
      "NO_LONGER_WANTED_REMORSE",
      "PURCHASE_BY_ACCIDENT",
      "SELF_SERVICE_REFUND",
      "UNRECOGNIZED_CHARGES_PAYMENT_FRAUD"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "revokeAccess": {
     "type": "boolean"
    },
    "ssoCookie": {
     "type": "string"
    }
   }
  },
  "CancelEntitlementResponse": {
   "id": "CancelEntitlementResponse",
   "type": "object",
   "properties": {
    "cancelResultInfo": {
     "type": "array",
     "items": {
      "$ref": "CancelResultInfo"
     }
    },
    "entitlementToken": {
     "type": "string"
    },
    "result": {
     "type": "string",
     "enum": [
      "ALREADY_CANCELED",
      "APPROVED",
      "CANCEL_RESULT_UNKNOWN",
      "CANCEL_RETRIABLE",
      "PERMANENT_CANCEL_FAILED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "CancelHardwareOrderRequest": {
   "id": "CancelHardwareOrderRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "ssoTicket": {
     "type": "string"
    }
   }
  },
  "CancelHistorySummaryInfo": {
   "id": "CancelHistorySummaryInfo",
   "type": "object",
   "properties": {
    "cancelResult": {
     "type": "string",
     "enum": [
      "ALREADY_CANCELED",
      "APPROVED",
      "CANCEL_RESULT_UNKNOWN",
      "CANCEL_RETRIABLE",
      "PERMANENT_CANCEL_FAILED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "numberOfCancels": {
     "type": "integer",
     "format": "int32"
    },
    "productType": {
     "type": "string",
     "enum": [
      "BUNDLE",
      "LIVE_EVENT",
      "MOVIE",
      "PRODUCT_TYPE_UNKNOWN",
      "RED",
      "SEASON",
      "SHOW",
      "UNPLUGGED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "revoke": {
     "type": "boolean"
    }
   }
  },
  "CancelInfo": {
   "id": "CancelInfo",
   "type": "object",
   "properties": {
    "cancelReason": {
     "type": "string",
     "enum": [
      "CANCEL_REASON_NOT_SET",
      "INVALID_ADDRESS",
      "OTHER",
      "PAYMENT_ISSUE",
      "USER_INITIATED",
      "USER_REQUESTED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "cancelTime": {
     "type": "string"
    }
   }
  },
  "CancelResultInfo": {
   "id": "CancelResultInfo",
   "type": "object",
   "properties": {
    "entitlementToken": {
     "type": "string"
    },
    "result": {
     "type": "string",
     "enum": [
      "ALREADY_CANCELED",
      "APPROVED",
      "CANCEL_RESULT_UNKNOWN",
      "CANCEL_RETRIABLE",
      "PERMANENT_CANCEL_FAILED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "CancelRmaRequest": {
   "id": "CancelRmaRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "reason": {
     "type": "string",
     "enum": [
      "CANCEL_REASON_NOT_SET",
      "CUSTOMER_CHANGED_MIND",
      "FIX_AGENT_ERROR",
      "OTHER"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "CancelRmaResponse": {
   "id": "CancelRmaResponse",
   "type": "object",
   "properties": {
    "result": {
     "type": "string",
     "enum": [
      "CANCEL_RESULT_NOT_SET",
      "SUCCESSFUL",
      "UNSUCCESSFUL_CART_LINK_USED",
      "UNSUCCESSFUL_NOT_PENDING",
      "UNSUCCESSFUL_UNKNOWN"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "CancelSendRequest": {
   "id": "CancelSendRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    }
   }
  },
  "CancelSubscriptionRequest": {
   "id": "CancelSubscriptionRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "customerEmail": {
     "type": "string"
    },
    "locale": {
     "type": "string"
    },
    "reason": {
     "type": "string",
     "enum": [
      "CANCEL_REASON_ACCIDENTAL_PURCHASE",
      "CANCEL_REASON_DEFECTIVE",
      "CANCEL_REASON_DID_NOT_RECEIVE",
      "CANCEL_REASON_FRAUD",
      "CANCEL_REASON_FRIENDLY_FRAUD",
      "CANCEL_REASON_REMORSE",
      "CANCEL_REASON_UNSPECIFIED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "ssoCookie": {
     "type": "string"
    },
    "subscription": {
     "$ref": "Subscription"
    }
   }
  },
  "CancelSubscriptionResponse": {
   "id": "CancelSubscriptionResponse",
   "type": "object",
   "properties": {
    "cancelRejectionReason": {
     "type": "string",
     "enum": [
      "CANCEL_REJECTION_REASON_UNSPECIFIED",
      "SUBSCRIPTION_IS_NOT_CANCELLABLE"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    }
   }
  },
  "CannedResponse": {
   "id": "CannedResponse",
   "type": "object",
   "properties": {
    "kmsId": {
     "type": "integer",
     "format": "int32"
    },
    "locale": {
     "type": "string"
    },
    "type": {
     "type": "string",
     "enum": [
      "CHAT",
      "EMAIL",
      "EMAIL_AND_CHAT",
      "UNKNOWN_CHANNEL_TYPE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "CannedResponse1": {
   "id": "CannedResponse1",
   "type": "object",
   "properties": {
    "kmsId": {
     "type": "integer",
     "format": "int32"
    },
    "locale": {
     "type": "string"
    },
    "type": {
     "type": "string",
     "enum": [
      "CHAT",
      "EMAIL",
      "UNKNOWN_CHANNEL_TYPE"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "url": {
     "type": "string"
    }
   }
  },
  "CannedResponseAction": {
   "id": "CannedResponseAction",
   "type": "object",
   "properties": {
    "cannedResponseIds": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    }
   }
  },
  "CardLookupCriteria": {
   "id": "CardLookupCriteria",
   "type": "object",
   "properties": {
    "activationNumber": {
     "type": "string"
    },
    "redemptionCode": {
     "type": "string"
    }
   }
  },
  "Case": {
   "id": "Case",
   "type": "object",
   "properties": {
    "agentUpdateTimeMap": {
     "type": "object",
     "additionalProperties": {
      "type": "string"
     }
    },
    "assignee": {
     "$ref": "Assignee1"
    },
    "attributeMap": {
     "type": "object",
     "additionalProperties": {
      "$ref": "Attribute1"
     }
    },
    "caseId": {
     "type": "string"
    },
    "communicationInfo": {
     "$ref": "CommunicationInfo"
    },
    "createTime": {
     "type": "string"
    },
    "creator": {
     "$ref": "Source"
    },
    "customer": {
     "$ref": "Customer"
    },
    "dueByTime": {
     "type": "string"
    },
    "issue": {
     "$ref": "Issue"
    },
    "name": {
     "type": "string"
    },
    "priority": {
     "type": "integer",
     "format": "int32"
    },
    "relations": {
     "type": "array",
     "items": {
      "$ref": "Relation1"
     }
    },
    "state": {
     "type": "string",
     "enum": [
      "ASSIGNED",
      "BLOCKED_BY",
      "FINISHED",
      "IN_CONSULT",
      "NEED_INFO",
      "NEW",
      "SOLUTION_OFFERED",
      "UNASSIGNED",
      "UNKNOWN_CASE_STATE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "transitionTime": {
     "type": "string"
    },
    "updateTime": {
     "type": "string"
    },
    "workflowInfo": {
     "$ref": "WorkflowInfo"
    }
   }
  },
  "CaseData": {
   "id": "CaseData",
   "type": "object",
   "properties": {
    "assignee": {
     "$ref": "Assignee2"
    },
    "caseId": {
     "type": "string"
    },
    "categories": {
     "type": "array",
     "items": {
      "$ref": "Category1"
     }
    },
    "productName": {
     "type": "string"
    },
    "state": {
     "type": "string",
     "enum": [
      "ASSIGNED",
      "BLOCKED_BY",
      "FINISHED",
      "IN_CONSULT",
      "NEED_INFO",
      "NEW",
      "SOLUTION_OFFERED",
      "UNASSIGNED",
      "UNKNOWN_CASE_STATE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "CasesReviewKey": {
   "id": "CasesReviewKey",
   "type": "object",
   "properties": {
    "review3Id": {
     "type": "string"
    },
    "reviewId": {
     "type": "string"
    },
    "targetUnderReview": {
     "type": "string"
    },
    "token": {
     "type": "string"
    }
   }
  },
  "CasesTransactionIdentifier": {
   "id": "CasesTransactionIdentifier",
   "type": "object",
   "properties": {
    "orderId": {
     "type": "string"
    },
    "transactionId": {
     "type": "string"
    },
    "transactionType": {
     "type": "string",
     "enum": [
      "GOOGLE_PLAY",
      "GOOGLE_STORE",
      "P2P_RECEIVER",
      "P2P_SENDER",
      "TAP_AND_PAY",
      "UNKNOWN_WALLET_TRANSACTION_TYPE",
      "WALLET_CARD",
      "YOUTUBE_PURCHASE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "CasesWorkflow": {
   "id": "CasesWorkflow",
   "type": "object",
   "properties": {
    "hardwareOrderWorkflow": {
     "$ref": "HardwareOrderWorkflow"
    },
    "walletUnauthCharges": {
     "$ref": "UnauthorizedChargesWorkflow"
    }
   }
  },
  "Category": {
   "id": "Category",
   "type": "object",
   "properties": {
    "isBaseline": {
     "type": "boolean"
    },
    "path": {
     "$ref": "Path"
    }
   }
  },
  "Category1": {
   "id": "Category1",
   "type": "object",
   "properties": {
    "isBaseline": {
     "type": "boolean"
    },
    "path": {
     "$ref": "Path1"
    }
   }
  },
  "Category2": {
   "id": "Category2",
   "type": "object",
   "properties": {
    "nodes": {
     "type": "array",
     "items": {
      "$ref": "Node2"
     }
    }
   }
  },
  "Category3": {
   "id": "Category3",
   "type": "object",
   "properties": {
    "nodes": {
     "type": "array",
     "items": {
      "$ref": "Node3"
     }
    }
   }
  },
  "Category4": {
   "id": "Category4",
   "type": "object",
   "properties": {
    "nodes": {
     "type": "array",
     "items": {
      "$ref": "Node4"
     }
    }
   }
  },
  "Category5": {
   "id": "Category5",
   "type": "object",
   "properties": {
    "nodes": {
     "type": "array",
     "items": {
      "$ref": "Node5"
     }
    }
   }
  },
  "CategoryInfo": {
   "id": "CategoryInfo",
   "type": "object",
   "properties": {
    "children": {
     "type": "array",
     "items": {
      "$ref": "CategoryInfo"
     }
    },
    "matchDetail": {
     "$ref": "MatchDetail"
    },
    "name": {
     "type": "string"
    },
    "numChildren": {
     "type": "integer",
     "format": "int32"
    },
    "pathIds": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "pathNames": {
     "type": "array",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "CategoryPath": {
   "id": "CategoryPath",
   "type": "object",
   "properties": {
    "pathIds": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    }
   }
  },
  "CategoryPath1": {
   "id": "CategoryPath1",
   "type": "object",
   "properties": {
    "nodes": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    }
   }
  },
  "ChannelCount": {
   "id": "ChannelCount",
   "type": "object",
   "properties": {
    "channel": {
     "type": "string",
     "enum": [
      "ADOPTION",
      "CHAT",
      "EMAIL",
      "GOAL",
      "HANGOUT",
      "INCENTIVE",
      "MARKETING_EMAIL",
      "MEETING",
      "NOTE",
      "PHONE",
      "STUB",
      "TRAX",
      "UNKNOWN_EVENT_TYPE",
      "WEB"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "count": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "Charge": {
   "id": "Charge",
   "type": "object",
   "properties": {
    "chargeTime": {
     "type": "string"
    },
    "lineItems": {
     "type": "array",
     "items": {
      "$ref": "TransactionLineItem"
     }
    },
    "localizedChargeTime": {
     "$ref": "LocalizedTimestamp"
    },
    "priceIncludesTax": {
     "type": "boolean"
    },
    "prorated": {
     "type": "boolean"
    },
    "totalAmount": {
     "$ref": "Money"
    }
   }
  },
  "Chat": {
   "id": "Chat",
   "type": "object",
   "properties": {
    "chatPools": {
     "type": "array",
     "items": {
      "$ref": "ChatPool1"
     }
    }
   }
  },
  "Chat1": {
   "id": "Chat1",
   "type": "object",
   "properties": {
    "chatPools": {
     "type": "array",
     "items": {
      "$ref": "ChatPool2"
     }
    }
   }
  },
  "ChatMessage": {
   "id": "ChatMessage",
   "type": "object",
   "properties": {
    "isAgent": {
     "type": "boolean"
    },
    "payload": {
     "type": "string"
    },
    "senderName": {
     "type": "string"
    }
   }
  },
  "ChatPool": {
   "id": "ChatPool",
   "type": "object",
   "properties": {
    "chatPoolId": {
     "type": "string"
    },
    "chatPoolName": {
     "type": "string"
    }
   }
  },
  "ChatPool1": {
   "id": "ChatPool1",
   "type": "object",
   "properties": {
    "chatPoolId": {
     "type": "string"
    },
    "locale": {
     "type": "string"
    }
   }
  },
  "ChatPool2": {
   "id": "ChatPool2",
   "type": "object",
   "properties": {
    "chatPoolId": {
     "type": "string"
    },
    "locale": {
     "type": "string"
    }
   }
  },
  "ChatTransfer": {
   "id": "ChatTransfer",
   "type": "object",
   "properties": {
    "sourceChatPool": {
     "$ref": "ChatPool"
    },
    "targetChatPool": {
     "$ref": "ChatPool"
    }
   }
  },
  "CheckRedeemerRequest": {
   "id": "CheckRedeemerRequest",
   "type": "object",
   "properties": {
    "activationNumber": {
     "type": "string"
    },
    "caseId": {
     "type": "string"
    },
    "emailToCheck": {
     "type": "string"
    },
    "redemptionCode": {
     "type": "string"
    },
    "ssoCookie": {
     "type": "string"
    }
   }
  },
  "CheckRedeemerResponse": {
   "id": "CheckRedeemerResponse",
   "type": "object",
   "properties": {
    "emailToCheck": {
     "type": "string"
    },
    "isRedeemer": {
     "type": "boolean"
    }
   }
  },
  "CheckWalletAccountResponse": {
   "id": "CheckWalletAccountResponse",
   "type": "object",
   "properties": {
    "hasValidWalletAccount": {
     "type": "boolean"
    }
   }
  },
  "Cohort": {
   "id": "Cohort",
   "type": "object",
   "properties": {
    "canonicalName": {
     "type": "string"
    },
    "displayName": {
     "type": "string"
    },
    "treatmentsId": {
     "type": "string"
    }
   }
  },
  "Cohort1": {
   "id": "Cohort1",
   "type": "object",
   "properties": {
    "canonicalName": {
     "type": "string"
    },
    "displayName": {
     "type": "string"
    },
    "displayStateRestriction": {
     "type": "string",
     "enum": [
      "HIDE",
      "NONE",
      "SHOW",
      "UNKNOWN_DISPLAY_STATE_RESTRICTION"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "Cohort2": {
   "id": "Cohort2",
   "type": "object",
   "properties": {
    "canonicalName": {
     "type": "string"
    },
    "displayName": {
     "type": "string"
    },
    "displayStateRestriction": {
     "type": "string",
     "enum": [
      "HIDE",
      "NONE",
      "SHOW",
      "UNKNOWN_DISPLAY_STATE_RESTRICTION"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "formId": {
     "type": "string"
    },
    "helpcenterName": {
     "type": "string"
    },
    "treatmentsId": {
     "type": "string"
    }
   }
  },
  "CohortMetadataCollection": {
   "id": "CohortMetadataCollection",
   "type": "object",
   "properties": {
    "cohort": {
     "$ref": "Cohort"
    },
    "formMetadata": {
     "$ref": "FormMetadata"
    }
   }
  },
  "Communication": {
   "id": "Communication",
   "type": "object",
   "properties": {
    "allowsCaseSplit": {
     "type": "boolean"
    },
    "attachments": {
     "type": "array",
     "items": {
      "$ref": "AttachmentInfo"
     }
    },
    "authenticationInfo": {
     "$ref": "AuthenticationInfo"
    },
    "caseId": {
     "type": "string"
    },
    "communicationId": {
     "type": "string"
    },
    "consultInfo": {
     "$ref": "ConsultInfo"
    },
    "contentInfo": {
     "$ref": "ContentInfo"
    },
    "draftInfo": {
     "$ref": "DraftInfo"
    },
    "email": {
     "$ref": "Email"
    },
    "escalationInfo": {
     "$ref": "EscalationInfo"
    },
    "form": {
     "$ref": "Form"
    },
    "inResponseTo": {
     "type": "string"
    },
    "name": {
     "type": "string"
    },
    "note": {
     "$ref": "Note"
    },
    "phoneInfo": {
     "$ref": "PhoneInfo"
    },
    "realTime": {
     "$ref": "RealTime"
    },
    "recipients": {
     "type": "array",
     "items": {
      "$ref": "Identity"
     }
    },
    "routingInfo": {
     "$ref": "RoutingInfo"
    },
    "sender": {
     "$ref": "Identity"
    },
    "source": {
     "$ref": "Source"
    },
    "subject": {
     "type": "string"
    },
    "updateTime": {
     "type": "string"
    }
   }
  },
  "CommunicationInfo": {
   "id": "CommunicationInfo",
   "type": "object",
   "properties": {
    "lastClosedTime": {
     "type": "string"
    },
    "lastCommunicationTime": {
     "type": "string"
    },
    "lastIncomingEmailTime": {
     "type": "string"
    },
    "lastOutgoingCommunicationTime": {
     "type": "string"
    },
    "lastOutgoingEmailTime": {
     "type": "string"
    },
    "numCommunications": {
     "type": "integer",
     "format": "int32"
    },
    "numConsults": {
     "type": "integer",
     "format": "int32"
    },
    "numIncomingEmails": {
     "type": "integer",
     "format": "int32"
    },
    "numOutgoingEmails": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "ComponentData": {
   "id": "ComponentData",
   "type": "object",
   "properties": {
    "components": {
     "type": "array",
     "items": {
      "$ref": "SubscriptionComponent"
     }
    }
   }
  },
  "ComponentToken": {
   "id": "ComponentToken",
   "type": "object",
   "properties": {
    "token": {
     "type": "string"
    }
   }
  },
  "ConsultAction": {
   "id": "ConsultAction",
   "type": "object",
   "properties": {
    "consultDifm": {
     "$ref": "DifmAction"
    },
    "postConsultAnswerHelpCenter": {
     "type": "string"
    },
    "postConsultAnswerId": {
     "type": "string"
    }
   }
  },
  "ConsultInfo": {
   "id": "ConsultInfo",
   "type": "object"
  },
  "ConsultSettings": {
   "id": "ConsultSettings",
   "type": "object",
   "properties": {
    "topCategory": {
     "$ref": "Category2"
    }
   }
  },
  "Contact": {
   "id": "Contact",
   "type": "object",
   "properties": {
    "contactName": {
     "type": "string"
    },
    "emailAddress": {
     "$ref": "EmailAddress"
    }
   }
  },
  "ContactInfo": {
   "id": "ContactInfo",
   "type": "object",
   "properties": {
    "callbackNumber": {
     "$ref": "PhoneNumber"
    },
    "contactName": {
     "type": "string"
    },
    "emailAddress": {
     "type": "string"
    }
   }
  },
  "ContentInfo": {
   "id": "ContentInfo",
   "type": "object",
   "properties": {
    "bodyCrIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "footerCrIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "headerCrIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "helpcenterLinkIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "CreateAgentActivityRequest": {
   "id": "CreateAgentActivityRequest",
   "type": "object",
   "properties": {
    "agentActivity": {
     "$ref": "AgentActivity"
    }
   }
  },
  "CreateConsultNoteRequest": {
   "id": "CreateConsultNoteRequest",
   "type": "object",
   "properties": {
    "body": {
     "type": "string"
    },
    "caseId": {
     "type": "string"
    },
    "inReplyTo": {
     "type": "string"
    },
    "isHtml": {
     "type": "boolean"
    },
    "subject": {
     "type": "string"
    }
   }
  },
  "CreateConsultNoteResponse": {
   "id": "CreateConsultNoteResponse",
   "type": "object",
   "properties": {
    "communication": {
     "$ref": "Communication"
    }
   }
  },
  "CreateEmailRequest": {
   "id": "CreateEmailRequest",
   "type": "object",
   "properties": {
    "afterSendSetting": {
     "$ref": "AfterSendSetting"
    },
    "bccAddresses": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "body": {
     "type": "string"
    },
    "cannedResponseIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "caseId": {
     "type": "string"
    },
    "ccAddresses": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "footerIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "fromAddress": {
     "type": "string"
    },
    "headerIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "inReplyTo": {
     "type": "string"
    },
    "isHtml": {
     "type": "boolean"
    },
    "subject": {
     "type": "string"
    },
    "toAddresses": {
     "type": "array",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "CreateEmailResponse": {
   "id": "CreateEmailResponse",
   "type": "object",
   "properties": {
    "communication": {
     "$ref": "Communication"
    }
   }
  },
  "CreateExchangeWithoutReturnRequest": {
   "id": "CreateExchangeWithoutReturnRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "device": {
     "$ref": "LostStolenDevice"
    },
    "shipment": {
     "$ref": "LostStolenShipment"
    },
    "skipAddressValidation": {
     "type": "boolean"
    },
    "ssoCookie": {
     "type": "string"
    },
    "updatedAddress": {
     "$ref": "MailingAddress"
    }
   }
  },
  "CreateExchangeWithoutReturnResponse": {
   "id": "CreateExchangeWithoutReturnResponse",
   "type": "object",
   "properties": {
    "failureType": {
     "type": "string",
     "enum": [
      "FAILURE_TYPE_NOT_SET",
      "FAILURE_TYPE_UNKNOWN",
      "NOTES_INVALID",
      "PHONE_NUMBER_INVALID",
      "RMA_ALREADY_OPEN_FOR_ASSET",
      "SHIPPING_ADDRESS_ADDRESSEE_INVALID",
      "SHIPPING_ADDRESS_CITY_INVALID",
      "SHIPPING_ADDRESS_COUNTRY_CODE_INVALID",
      "SHIPPING_ADDRESS_INVALID",
      "SHIPPING_ADDRESS_LINE_1_INVALID",
      "SHIPPING_ADDRESS_LINE_2_INVALID",
      "SHIPPING_ADDRESS_LINE_3_INVALID",
      "SHIPPING_ADDRESS_POSTAL_CODE_INVALID",
      "SHIPPING_ADDRESS_STATE_PROVINCE_CODE_INVALID",
      "WALLET_ACCOUNT_REQUIRED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "failures": {
     "type": "array",
     "items": {
      "$ref": "RmaFailure"
     }
    },
    "rmaNumber": {
     "type": "array",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "CreateFromHelpCenterDeepLinkRequest": {
   "id": "CreateFromHelpCenterDeepLinkRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "url": {
     "type": "string"
    }
   }
  },
  "CreateNewCaseRequest": {
   "id": "CreateNewCaseRequest",
   "type": "object"
  },
  "CreateNewCaseResponse": {
   "id": "CreateNewCaseResponse",
   "type": "object",
   "properties": {
    "case": {
     "$ref": "Case"
    }
   }
  },
  "CreateNoteConsultCaseRequest": {
   "id": "CreateNoteConsultCaseRequest",
   "type": "object",
   "properties": {
    "attachments": {
     "type": "array",
     "items": {
      "$ref": "Attachment"
     }
    },
    "attributes": {
     "type": "array",
     "items": {
      "$ref": "Attribute1"
     }
    },
    "body": {
     "type": "string"
    },
    "consultFormId": {
     "type": "string"
    },
    "formFields": {
     "type": "array",
     "items": {
      "$ref": "FormField1"
     }
    },
    "issueCategory": {
     "$ref": "Category3"
    },
    "subject": {
     "type": "string"
    },
    "targetCaseCategories": {
     "type": "array",
     "items": {
      "$ref": "Category3"
     }
    },
    "targetTeamId": {
     "type": "string"
    }
   }
  },
  "CreateNoteConsultCaseResponse": {
   "id": "CreateNoteConsultCaseResponse",
   "type": "object",
   "properties": {
    "targetCaseId": {
     "type": "string"
    }
   }
  },
  "CreateNoteRequest": {
   "id": "CreateNoteRequest",
   "type": "object",
   "properties": {
    "body": {
     "type": "string"
    },
    "cannedResponseIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "caseId": {
     "type": "string"
    },
    "isHtml": {
     "type": "boolean"
    },
    "noteType": {
     "type": "string",
     "enum": [
      "PHONE",
      "UNKNOWN_NOTE_TYPE",
      "USER"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "subject": {
     "type": "string"
    }
   }
  },
  "CreateNoteResponse": {
   "id": "CreateNoteResponse",
   "type": "object",
   "properties": {
    "communication": {
     "$ref": "Communication"
    }
   }
  },
  "CreatePitchResponse": {
   "id": "CreatePitchResponse",
   "type": "object",
   "properties": {
    "opportunityId": {
     "type": "string"
    },
    "pitchId": {
     "$ref": "PitchId"
    },
    "status": {
     "$ref": "Status"
    }
   }
  },
  "CreateRealTimeConsultCaseRequest": {
   "id": "CreateRealTimeConsultCaseRequest",
   "type": "object",
   "properties": {
    "attachments": {
     "type": "array",
     "items": {
      "$ref": "Attachment1"
     }
    },
    "attributes": {
     "type": "array",
     "items": {
      "$ref": "Attribute1"
     }
    },
    "body": {
     "type": "string"
    },
    "chatPoolId": {
     "type": "string"
    },
    "consultFormId": {
     "type": "string"
    },
    "formFields": {
     "type": "array",
     "items": {
      "$ref": "FormField2"
     }
    },
    "issueCategory": {
     "$ref": "Category4"
    },
    "subject": {
     "type": "string"
    },
    "targetCaseCategories": {
     "type": "array",
     "items": {
      "$ref": "Category4"
     }
    }
   }
  },
  "CreateRealTimeConsultCaseResponse": {
   "id": "CreateRealTimeConsultCaseResponse",
   "type": "object",
   "properties": {
    "targetCaseId": {
     "type": "string"
    }
   }
  },
  "CreateTroubleshooterSessionRequest": {
   "id": "CreateTroubleshooterSessionRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "issueId": {
     "type": "string"
    },
    "ssoCookie": {
     "type": "string"
    }
   }
  },
  "CreateWorkflowRequest": {
   "id": "CreateWorkflowRequest",
   "type": "object",
   "properties": {
    "workflow": {
     "$ref": "CasesWorkflow"
    }
   }
  },
  "CreditCard": {
   "id": "CreditCard",
   "type": "object",
   "properties": {
    "billingName": {
     "type": "string"
    },
    "billingPostalCode": {
     "type": "string"
    },
    "cardNumberSuffix": {
     "type": "string"
    },
    "creditCardToken": {
     "type": "string"
    },
    "creditCardType": {
     "$ref": "CreditCardType"
    }
   }
  },
  "CreditCard1": {
   "id": "CreditCard1",
   "type": "object",
   "properties": {
    "creditCardSuffix": {
     "type": "string"
    },
    "creditCardType": {
     "type": "string",
     "enum": [
      "AMEX",
      "CARTES_BANCAIRES",
      "DISCOVER",
      "JCB",
      "MASTERCARD",
      "UKNOWN_AUTHENTICATION_CARD_TYPE",
      "VISA"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "creditCardTypeToken": {
     "type": "string"
    }
   }
  },
  "CreditCardType": {
   "id": "CreditCardType",
   "type": "object",
   "properties": {
    "backgroundUrl": {
     "type": "string"
    },
    "creditCardTypeToken": {
     "type": "string"
    },
    "description": {
     "type": "string"
    },
    "displayName": {
     "type": "string"
    },
    "logoUrl": {
     "type": "string"
    }
   }
  },
  "Customer": {
   "id": "Customer",
   "type": "object",
   "properties": {
    "attributeMap": {
     "type": "object",
     "additionalProperties": {
      "$ref": "Attribute1"
     }
    },
    "authentication": {
     "$ref": "Authentication"
    },
    "cohorts": {
     "type": "array",
     "items": {
      "$ref": "Cohort1"
     }
    },
    "contact": {
     "$ref": "ContactInfo"
    },
    "gaiaAccountStatus": {
     "type": "string",
     "enum": [
      "ACTIVE",
      "DELETED",
      "DISABLED",
      "INVALID",
      "PURGED",
      "UNKNOWN_GAIA_ACCOUNT_STATUS"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "profileImageUrl": {
     "type": "string"
    },
    "timezone": {
     "$ref": "Timezone"
    }
   }
  },
  "CustomerAnswer": {
   "id": "CustomerAnswer",
   "type": "object",
   "properties": {
    "bankAccount": {
     "$ref": "BankAccount1"
    },
    "creditCard": {
     "$ref": "CreditCard1"
    },
    "dcb": {
     "$ref": "Dcb"
    },
    "paypal": {
     "$ref": "Paypal1"
    },
    "phoneNumber": {
     "$ref": "PhoneNumber"
    },
    "playBalance": {
     "$ref": "Money"
    },
    "postalCode": {
     "type": "string"
    },
    "questionToken": {
     "type": "string"
    },
    "walletBalance": {
     "$ref": "Money"
    }
   }
  },
  "CustomerDocsSubmissionStatus": {
   "id": "CustomerDocsSubmissionStatus",
   "type": "object",
   "properties": {
    "hasSubmittedDocs": {
     "type": "boolean"
    },
    "submitTime": {
     "type": "string"
    }
   }
  },
  "CustomerIssue": {
   "id": "CustomerIssue",
   "type": "object",
   "properties": {
    "description": {
     "type": "string"
    },
    "displayName": {
     "type": "string"
    },
    "issueFailures": {
     "type": "array",
     "items": {
      "$ref": "IssueFailure"
     }
    },
    "issueId": {
     "type": "string"
    },
    "issueStatus": {
     "type": "string",
     "enum": [
      "FAIL",
      "ISSUE_STATUS_UNSPECIFIED",
      "NOT_RUN",
      "PASS"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "rank": {
     "type": "number",
     "format": "double"
    }
   }
  },
  "Date": {
   "id": "Date",
   "type": "object",
   "properties": {
    "day": {
     "type": "integer",
     "format": "int32"
    },
    "month": {
     "type": "integer",
     "format": "int32"
    },
    "year": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "Dcb": {
   "id": "Dcb",
   "type": "object",
   "properties": {
    "phoneNumber": {
     "type": "string"
    }
   }
  },
  "DeauthenticateRequest": {
   "id": "DeauthenticateRequest",
   "type": "object",
   "properties": {
    "customerEmail": {
     "type": "string"
    }
   }
  },
  "DeauthenticateResponse": {
   "id": "DeauthenticateResponse",
   "type": "object",
   "properties": {
    "customer": {
     "$ref": "Customer"
    }
   }
  },
  "DedupeRequest": {
   "id": "DedupeRequest",
   "type": "object",
   "properties": {
    "duplicateCaseIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "reason": {
     "type": "string"
    }
   }
  },
  "DedupeResponse": {
   "id": "DedupeResponse",
   "type": "object",
   "properties": {
    "case": {
     "$ref": "Case"
    }
   }
  },
  "DeliveryInfo": {
   "id": "DeliveryInfo",
   "type": "object",
   "properties": {
    "deliveryStatus": {
     "type": "string",
     "enum": [
      "FAILED",
      "NOT_SCHEDULED",
      "PENDING",
      "SENT",
      "UNKNOWN_DELIVERY_STATUS"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "DesktopScreenshareAcceptEvent": {
   "id": "DesktopScreenshareAcceptEvent",
   "type": "object"
  },
  "DesktopScreenshareAutoDeclineEvent": {
   "id": "DesktopScreenshareAutoDeclineEvent",
   "type": "object",
   "properties": {
    "declineType": {
     "type": "string",
     "enum": [
      "NOT_SUPPORTED",
      "UNKNOWN_AUTO_DECLINE_TYPE"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    }
   }
  },
  "DesktopScreenshareCancelEvent": {
   "id": "DesktopScreenshareCancelEvent",
   "type": "object"
  },
  "DesktopScreenshareCleanupEvent": {
   "id": "DesktopScreenshareCleanupEvent",
   "type": "object"
  },
  "DesktopScreenshareConnectEvent": {
   "id": "DesktopScreenshareConnectEvent",
   "type": "object"
  },
  "DesktopScreenshareDeclineEvent": {
   "id": "DesktopScreenshareDeclineEvent",
   "type": "object"
  },
  "DesktopScreenshareDisconnectEvent": {
   "id": "DesktopScreenshareDisconnectEvent",
   "type": "object"
  },
  "DesktopScreenshareEndEvent": {
   "id": "DesktopScreenshareEndEvent",
   "type": "object",
   "properties": {
    "agentEnded": {
     "type": "boolean"
    }
   }
  },
  "DesktopScreenshareEvent": {
   "id": "DesktopScreenshareEvent",
   "type": "object",
   "properties": {
    "acceptEvent": {
     "$ref": "DesktopScreenshareAcceptEvent"
    },
    "autoDeclineEvent": {
     "$ref": "DesktopScreenshareAutoDeclineEvent"
    },
    "cancelEvent": {
     "$ref": "DesktopScreenshareCancelEvent"
    },
    "cleanupEvent": {
     "$ref": "DesktopScreenshareCleanupEvent"
    },
    "connectEvent": {
     "$ref": "DesktopScreenshareConnectEvent"
    },
    "declineEvent": {
     "$ref": "DesktopScreenshareDeclineEvent"
    },
    "disconnectEvent": {
     "$ref": "DesktopScreenshareDisconnectEvent"
    },
    "endEvent": {
     "$ref": "DesktopScreenshareEndEvent"
    },
    "initiateEvent": {
     "$ref": "DesktopScreenshareInitiateEvent"
    },
    "invitationId": {
     "type": "string"
    },
    "inviteEvent": {
     "$ref": "DesktopScreenshareInviteEvent"
    },
    "joinEvent": {
     "$ref": "DesktopScreenshareJoinEvent"
    },
    "leaveEvent": {
     "$ref": "DesktopScreenshareLeaveEvent"
    },
    "receivedEvent": {
     "$ref": "DesktopScreenshareReceivedEvent"
    },
    "revivedEvent": {
     "$ref": "DesktopScreenshareRevivedEvent"
    },
    "startingConnectEvent": {
     "$ref": "DesktopScreenshareStartingConnectEvent"
    }
   }
  },
  "DesktopScreenshareInitiateEvent": {
   "id": "DesktopScreenshareInitiateEvent",
   "type": "object",
   "properties": {
    "screensharingState": {
     "type": "string",
     "enum": [
      "SUPPORTED",
      "UNKNOWN",
      "UNKNOWN_SCREENSHARING_STATE",
      "UNSUPPORTED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "DesktopScreenshareInviteEvent": {
   "id": "DesktopScreenshareInviteEvent",
   "type": "object"
  },
  "DesktopScreenshareJoinEvent": {
   "id": "DesktopScreenshareJoinEvent",
   "type": "object",
   "properties": {
    "agentJoined": {
     "type": "boolean"
    }
   }
  },
  "DesktopScreenshareLeaveEvent": {
   "id": "DesktopScreenshareLeaveEvent",
   "type": "object",
   "properties": {
    "agentLeft": {
     "type": "boolean"
    }
   }
  },
  "DesktopScreenshareReceivedEvent": {
   "id": "DesktopScreenshareReceivedEvent",
   "type": "object"
  },
  "DesktopScreenshareRevivedEvent": {
   "id": "DesktopScreenshareRevivedEvent",
   "type": "object"
  },
  "DesktopScreenshareStartingConnectEvent": {
   "id": "DesktopScreenshareStartingConnectEvent",
   "type": "object"
  },
  "Device": {
   "id": "Device",
   "type": "object",
   "properties": {
    "actions": {
     "type": "array",
     "items": {
      "type": "string",
      "enum": [
       "ADVANCED_EXCHANGE",
       "EXCHANGE",
       "EXCHANGE_WITHOUT_RETURN",
       "REPAIR",
       "RETURN",
       "UNKNOWN_ACTION",
       "WARRANTY_REFUND"
      ],
      "enumDescriptions": [
       "",
       "",
       "",
       "",
       "",
       "",
       ""
      ]
     }
    },
    "countryOfPurchase": {
     "type": "string"
    },
    "deviceClass": {
     "type": "string",
     "enum": [
      "CHROMEBOOK",
      "UNKNOWN_DEVICE_CLASS"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "deviceId": {
     "type": "string"
    },
    "displayName": {
     "type": "string"
    },
    "doaEndDate": {
     "type": "string"
    },
    "doaExpired": {
     "type": "boolean"
    },
    "exchangeGpn": {
     "type": "string"
    },
    "extendedWarrantyActive": {
     "type": "boolean"
    },
    "extendedWarrantyContractId": {
     "type": "string"
    },
    "extendedWarrantyEndDate": {
     "type": "string"
    },
    "extendedWarrantyExpired": {
     "type": "boolean"
    },
    "gpn": {
     "type": "string"
    },
    "hashedFullDeviceId": {
     "type": "string"
    },
    "noRmaTypeReason": {
     "type": "string",
     "enum": [
      "CONVERTED_TO_DASH_R",
      "GOOGLE_SHOPPING_EXPRESS",
      "NO_DATA_AVAILABLE",
      "NO_LONGER_SUPPORTED",
      "NO_RMA_REASON_SET",
      "UNKNOWN_NO_RMA_REASON",
      "UNSUPPORTED_3PR_DEVICE",
      "WALK_IN_CENTERS_ONLY"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "orderNumber": {
     "type": "string"
    },
    "pointOfPurchase": {
     "type": "string",
     "enum": [
      "BULK_ORDER",
      "EVENT_GIVEAWAY",
      "GOOGLER_GIFT",
      "GOOGLE_PLAY",
      "RETAIL",
      "UNKNOWN_POINT_OF_PURCHASE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "purchaseDate": {
     "type": "string"
    },
    "remorseEndDate": {
     "type": "string"
    },
    "remorseExpired": {
     "type": "boolean"
    },
    "replacementDevices": {
     "type": "array",
     "items": {
      "$ref": "ReplacementDevice"
     }
    },
    "rmaTypes": {
     "type": "array",
     "items": {
      "$ref": "RmaType"
     }
    },
    "rmas": {
     "type": "array",
     "items": {
      "$ref": "DeviceRma"
     }
    },
    "shipDate": {
     "type": "string"
    },
    "shipmentId": {
     "type": "string"
    },
    "supportedBy3pr": {
     "type": "boolean"
    },
    "warrantyEndDate": {
     "type": "string"
    },
    "warrantyExpired": {
     "type": "boolean"
    }
   }
  },
  "Device1": {
   "id": "Device1",
   "type": "object",
   "properties": {
    "action": {
     "type": "string",
     "enum": [
      "ADVANCED_EXCHANGE",
      "EXCHANGE",
      "EXCHANGE_WITHOUT_RETURN",
      "REPAIR",
      "RETURN",
      "RMA_ACTION_NOT_SET",
      "WARRANTY_REFUND"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "deviceId": {
     "type": "string"
    },
    "displayName": {
     "type": "string"
    },
    "hashedFullDeviceId": {
     "type": "string"
    },
    "rmaNumber": {
     "type": "string"
    },
    "state": {
     "type": "string",
     "enum": [
      "RMA_CANCELLED",
      "RMA_COMPLETED",
      "RMA_INCOMPLETE",
      "RMA_PENDING",
      "RMA_STATE_NOT_SET",
      "RMA_SUBMITTED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "Device2": {
   "id": "Device2",
   "type": "object",
   "properties": {
    "androidId": {
     "type": "string"
    },
    "displayName": {
     "type": "string"
    },
    "imei": {
     "type": "string"
    },
    "lastUsedTime": {
     "type": "string"
    },
    "manufacturer": {
     "type": "string"
    },
    "modelName": {
     "type": "string"
    },
    "registrationTime": {
     "type": "string"
    }
   }
  },
  "DeviceRma": {
   "id": "DeviceRma",
   "type": "object",
   "properties": {
    "authHold": {
     "type": "boolean"
    },
    "availableFlows": {
     "type": "array",
     "items": {
      "type": "string",
      "enum": [
       "GENERATE_PACKING_LABEL",
       "GENERATE_REPLACEMENT_CART_LINK",
       "GENERATE_SHIPPING_LABEL",
       "SUBMIT_RMA",
       "UNKNOWN_FLOW",
       "UPDATE_ADDRESS_AND_SEND_SHIPPING_EMAIL"
      ],
      "enumDescriptions": [
       "",
       "",
       "",
       "",
       "",
       ""
      ]
     }
    },
    "cancelable": {
     "type": "boolean"
    },
    "identifier": {
     "$ref": "RmaIdentifier"
    },
    "state": {
     "type": "string",
     "enum": [
      "RMA_CANCELLED",
      "RMA_COMPLETED",
      "RMA_INCOMPLETE",
      "RMA_PENDING",
      "RMA_SUBMITTED",
      "UNKNOWN_RMA_STATE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "DifmAction": {
   "id": "DifmAction",
   "type": "object",
   "properties": {
    "difmId": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "DirectCarrierBilling": {
   "id": "DirectCarrierBilling",
   "type": "object",
   "properties": {
    "phoneNumber": {
     "type": "string"
    }
   }
  },
  "DiscardDraftRequest": {
   "id": "DiscardDraftRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    }
   }
  },
  "DiscardDraftResponse": {
   "id": "DiscardDraftResponse",
   "type": "object"
  },
  "Docid": {
   "id": "Docid",
   "type": "object",
   "properties": {
    "backend": {
     "type": "string"
    },
    "backendDocid": {
     "type": "string"
    },
    "type": {
     "type": "string",
     "enum": [
      "ANDROID_APK",
      "ANDROID_APP",
      "ANDROID_DEVELOPER",
      "ANDROID_DYNAMIC_MODULE",
      "ANDROID_IN_APP_ITEM",
      "APK",
      "APPS_RECS_TOPIC_METADATA",
      "APPS_TOPIC",
      "BADGE",
      "BADGE_CONTAINER",
      "BOOKS_EDITORIAL_ARTICLE",
      "BOOKS_EXPLORE_ANNOUNCEMENT",
      "BOOKS_EXPLORE_NEWSSTAND_POST",
      "BOOKS_EXPLORE_YOUTUBE_VIDEO",
      "BUNDLE",
      "CHROME_APP",
      "CLUSTER",
      "CONTAINER",
      "DOCUMENT_TYPE_UNSPECIFIED",
      "DYNAMIC_ANDROID_IN_APP_ITEM",
      "DYNAMIC_SUBSCRIPTION",
      "EDITORIAL",
      "ENTERTAINMENT_STORY",
      "HARDWARE",
      "HARDWARE_PROMOTION",
      "HARDWARE_SHIPPING",
      "LINK",
      "MAGAZINE",
      "MAGAZINE_ISSUE",
      "MOVIES_PERSISTED_CLUSTER",
      "MOVIE_PERSON",
      "MUSIC_ACCESS",
      "MUSIC_ADAPTIVE_HOME_CARD_IMAGE",
      "MUSIC_ALBUM",
      "MUSIC_ARTIST",
      "MUSIC_AUDIO_AD",
      "MUSIC_BROWSE_CATEGORY",
      "MUSIC_CONCERT",
      "MUSIC_NOW_MODULE_HEADING",
      "MUSIC_PODCAST_EPISODE",
      "MUSIC_PODCAST_SERIES",
      "MUSIC_SITUATION",
      "MUSIC_SONG",
      "MUSIC_STATION",
      "MUSIC_USER_PLAYLIST",
      "MUSIC_VENUE",
      "NEWS_EDITION",
      "NEWS_ISSUE",
      "OCEAN_AUDIOBOOK",
      "OCEAN_AUTHOR",
      "OCEAN_BOOK",
      "OCEAN_BOOK_SERIES",
      "PERSON",
      "PLAY_BALANCE_TOP_UP",
      "PLAY_STORED_VALUE",
      "STREAM",
      "SUBSCRIPTION",
      "SUGGEST_CONTAINER",
      "TALENT",
      "TOPIC",
      "TV_BROADCASTER",
      "TV_EPISODE",
      "TV_SEASON",
      "TV_SHOW",
      "VETTED_APP_FEATURE",
      "VIDEO_DISTRIBUTOR",
      "VOUCHER",
      "YOUTUBE_MOVIE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "DraftInfo": {
   "id": "DraftInfo",
   "type": "object",
   "properties": {
    "transitionToState": {
     "type": "string",
     "enum": [
      "ASSIGNED",
      "BLOCKED_BY",
      "FINISHED",
      "IN_CONSULT",
      "NEED_INFO",
      "NEW",
      "SOLUTION_OFFERED",
      "UNASSIGNED",
      "UNKNOWN_CASE_STATE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "Duplicate": {
   "id": "Duplicate",
   "type": "object",
   "properties": {
    "sourceCaseId": {
     "type": "string"
    },
    "targetCaseId": {
     "type": "string"
    }
   }
  },
  "EasterEggSettings": {
   "id": "EasterEggSettings",
   "type": "object",
   "properties": {
    "disableBoostCard": {
     "type": "boolean"
    }
   }
  },
  "Email": {
   "id": "Email",
   "type": "object",
   "properties": {
    "body": {
     "type": "string"
    },
    "deliveryInfo": {
     "$ref": "DeliveryInfo"
    },
    "headers": {
     "$ref": "Headers"
    },
    "isHtml": {
     "type": "boolean"
    },
    "type": {
     "type": "string",
     "enum": [
      "NEW",
      "REPLY",
      "REPLY_ALL",
      "UNKNOWN_EMAIL_TYPE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "Email1": {
   "id": "Email1",
   "type": "object",
   "properties": {
    "sla": {
     "type": "string"
    }
   }
  },
  "Email2": {
   "id": "Email2",
   "type": "object",
   "properties": {
    "locale": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "sla": {
     "type": "string"
    }
   }
  },
  "EmailAddress": {
   "id": "EmailAddress",
   "type": "object",
   "properties": {
    "type": {
     "type": "string",
     "enum": [
      "EXTERNAL",
      "PERSONAL_ALIAS",
      "PRODUCT_ALIAS",
      "TEAM_ALIAS",
      "UNKNOWN_EMAIL_ADDRESS_TYPE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "value": {
     "type": "string"
    }
   }
  },
  "EmploymentInfo": {
   "id": "EmploymentInfo",
   "type": "object",
   "properties": {
    "employmentType": {
     "type": "string"
    },
    "location": {
     "type": "string"
    },
    "tvcStaffingPartner": {
     "type": "string"
    }
   }
  },
  "Empty": {
   "id": "Empty",
   "type": "object"
  },
  "Entitlement": {
   "id": "Entitlement",
   "type": "object",
   "properties": {
    "actions": {
     "type": "array",
     "items": {
      "type": "string",
      "enum": [
       "CANCELABLE",
       "ENTITLEMENT_ACTIONS_UNKNOWN",
       "REVOKABLE"
      ],
      "enumDescriptions": [
       "",
       "",
       ""
      ]
     }
    },
    "badges": {
     "type": "array",
     "items": {
      "$ref": "EntitlementBadge"
     }
    },
    "billingBackend": {
     "type": "string",
     "enum": [
      "BILLING",
      "CDP",
      "PAYMENT_BACKEND_UNDEFINED"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "billingPeriod": {
     "$ref": "Period"
    },
    "cancelTime": {
     "type": "string"
    },
    "componentData": {
     "$ref": "ComponentData"
    },
    "customerTimezone": {
     "type": "string"
    },
    "entitlementToken": {
     "type": "string"
    },
    "hasFuturePayments": {
     "type": "boolean"
    },
    "inFreeTrial": {
     "type": "boolean"
    },
    "isActive": {
     "type": "boolean"
    },
    "isCancelable": {
     "type": "boolean"
    },
    "isRevokable": {
     "type": "boolean"
    },
    "localizedCancelTime": {
     "$ref": "LocalizedTimestamp"
    },
    "localizedPurchaseTime": {
     "$ref": "LocalizedTimestamp"
    },
    "name": {
     "type": "string"
    },
    "orderId": {
     "type": "string"
    },
    "productType": {
     "type": "string",
     "enum": [
      "BUNDLE",
      "LIVE_EVENT",
      "MOVIE",
      "PRODUCT_TYPE_UNKNOWN",
      "RED",
      "SEASON",
      "SHOW",
      "UNPLUGGED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "purchaseTime": {
     "type": "string"
    },
    "redSignals": {
     "$ref": "RedSignals"
    },
    "shmoovieSignals": {
     "$ref": "ShmoovieSignals"
    },
    "state": {
     "type": "string",
     "enum": [
      "ACTIVE_NOT_RENEWING",
      "ACTIVE_RENEWING",
      "ENTITLEMENT_STATE_ERROR",
      "ENTITLEMENT_STATE_UNKNOWN",
      "INACTIVE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "unpluggedSignals": {
     "$ref": "UnpluggedSignals"
    },
    "url": {
     "type": "string"
    },
    "utcOffset": {
     "type": "string",
     "format": "int64"
    }
   }
  },
  "EntitlementBadge": {
   "id": "EntitlementBadge",
   "type": "object",
   "properties": {
    "type": {
     "type": "string",
     "enum": [
      "FAMILY_HEAD",
      "FAMILY_MEMBER",
      "FREE_TRIAL",
      "GRACE_PERIOD",
      "IN_FREE_TRIAL",
      "IOS",
      "UNDEFINED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "EntitlementComponent": {
   "id": "EntitlementComponent",
   "type": "object",
   "properties": {
    "accessExpiryTime": {
     "type": "string"
    },
    "accessStartTime": {
     "type": "string"
    },
    "actions": {
     "type": "array",
     "items": {
      "type": "string",
      "enum": [
       "CANCELABLE",
       "ENTITLEMENT_ACTIONS_UNKNOWN",
       "REVOKABLE"
      ],
      "enumDescriptions": [
       "",
       "",
       ""
      ]
     }
    },
    "cancelTime": {
     "type": "string"
    },
    "componentToken": {
     "type": "string"
    },
    "entitlementId": {
     "type": "string"
    },
    "hasFuturePayments": {
     "type": "boolean"
    },
    "introductoryPrice": {
     "$ref": "Money"
    },
    "isActive": {
     "type": "boolean"
    },
    "isBasePackage": {
     "type": "boolean"
    },
    "isCancelable": {
     "type": "boolean"
    },
    "isRevokable": {
     "type": "boolean"
    },
    "itemId": {
     "type": "string"
    },
    "lineItemKey": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "localizedAccessExpiryTime": {
     "$ref": "LocalizedTimestamp"
    },
    "localizedAccessStartTime": {
     "$ref": "LocalizedTimestamp"
    },
    "localizedCancelTime": {
     "$ref": "LocalizedTimestamp"
    },
    "localizedTrialEndTime": {
     "$ref": "LocalizedTimestamp"
    },
    "monthlyPrice": {
     "$ref": "Money"
    },
    "state": {
     "type": "string",
     "enum": [
      "ACTIVE_NOT_RENEWING",
      "ACTIVE_RENEWING",
      "ENTITLEMENT_STATE_ERROR",
      "ENTITLEMENT_STATE_UNKNOWN",
      "INACTIVE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "title": {
     "type": "string"
    },
    "trialEndTime": {
     "type": "string"
    },
    "trialPeriod": {
     "$ref": "Period"
    }
   }
  },
  "Entry": {
   "id": "Entry",
   "type": "object",
   "properties": {
    "boolValue": {
     "type": "boolean"
    },
    "doubleValue": {
     "type": "number",
     "format": "double"
    },
    "enumValue": {
     "type": "string"
    },
    "int64Value": {
     "type": "string",
     "format": "int64"
    },
    "intValue": {
     "type": "integer",
     "format": "int32"
    },
    "sources": {
     "type": "array",
     "items": {
      "$ref": "Source"
     }
    },
    "stringValue": {
     "type": "string"
    },
    "timeValue": {
     "type": "string"
    }
   }
  },
  "EnumValue": {
   "id": "EnumValue",
   "type": "object",
   "properties": {
    "displayValue": {
     "type": "string"
    },
    "value": {
     "type": "string"
    }
   }
  },
  "EscalateRequest": {
   "id": "EscalateRequest",
   "type": "object",
   "properties": {
    "escalationId": {
     "type": "string"
    },
    "locale": {
     "type": "string"
    },
    "productId": {
     "type": "string"
    },
    "reason": {
     "type": "string"
    }
   }
  },
  "EscalateResponse": {
   "id": "EscalateResponse",
   "type": "object",
   "properties": {
    "case": {
     "$ref": "Case"
    }
   }
  },
  "EscalateSettings": {
   "id": "EscalateSettings",
   "type": "object"
  },
  "EscalationInfo": {
   "id": "EscalationInfo",
   "type": "object",
   "properties": {
    "agentTransfer": {
     "$ref": "AgentTransfer"
    },
    "chatTransfer": {
     "$ref": "ChatTransfer"
    },
    "escalationTargetName": {
     "type": "string"
    },
    "localeTransfer": {
     "$ref": "LocaleTransfer"
    }
   }
  },
  "EscalationTarget": {
   "id": "EscalationTarget",
   "type": "object",
   "properties": {
    "chat": {
     "$ref": "Chat"
    },
    "email": {
     "$ref": "Email1"
    },
    "targetId": {
     "type": "string"
    },
    "targetName": {
     "type": "string"
    }
   }
  },
  "ExtendedWarrantyInfo": {
   "id": "ExtendedWarrantyInfo",
   "type": "object",
   "properties": {
    "contractId": {
     "type": "string"
    },
    "lineItemId": {
     "type": "integer",
     "format": "int32"
    },
    "price": {
     "$ref": "Money"
    }
   }
  },
  "ExternalToolSettings": {
   "id": "ExternalToolSettings",
   "type": "object",
   "properties": {
    "accountLookupTools": {
     "type": "array",
     "items": {
      "$ref": "AccountLookupTool"
     }
    }
   }
  },
  "FinalizeConsultNoteRequest": {
   "id": "FinalizeConsultNoteRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    }
   }
  },
  "FinalizeConsultNoteResponse": {
   "id": "FinalizeConsultNoteResponse",
   "type": "object",
   "properties": {
    "communication": {
     "$ref": "Communication"
    }
   }
  },
  "FinalizeNoteRequest": {
   "id": "FinalizeNoteRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    }
   }
  },
  "FinalizeNoteResponse": {
   "id": "FinalizeNoteResponse",
   "type": "object",
   "properties": {
    "communication": {
     "$ref": "Communication"
    }
   }
  },
  "FinishRequest": {
   "id": "FinishRequest",
   "type": "object"
  },
  "FinishResponse": {
   "id": "FinishResponse",
   "type": "object",
   "properties": {
    "case": {
     "$ref": "Case"
    }
   }
  },
  "FocusInfo": {
   "id": "FocusInfo",
   "type": "object",
   "properties": {
    "profileImageUrl": {
     "type": "string"
    }
   }
  },
  "Form": {
   "id": "Form",
   "type": "object"
  },
  "FormField": {
   "id": "FormField",
   "type": "object",
   "properties": {
    "label": {
     "type": "string"
    },
    "name": {
     "type": "string"
    },
    "values": {
     "type": "array",
     "items": {
      "$ref": "FormFieldValue"
     }
    }
   }
  },
  "FormField1": {
   "id": "FormField1",
   "type": "object",
   "properties": {
    "formFieldDisplayValues": {
     "type": "array",
     "items": {
      "$ref": "FormFieldValue1"
     }
    },
    "formFieldLabel": {
     "type": "string"
    },
    "formFieldName": {
     "type": "string"
    },
    "formFieldValues": {
     "type": "array",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "FormField2": {
   "id": "FormField2",
   "type": "object",
   "properties": {
    "formFieldDisplayValues": {
     "type": "array",
     "items": {
      "$ref": "FormFieldValue2"
     }
    },
    "formFieldLabel": {
     "type": "string"
    },
    "formFieldName": {
     "type": "string"
    },
    "formFieldValues": {
     "type": "array",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "FormFieldValue": {
   "id": "FormFieldValue",
   "type": "object",
   "properties": {
    "displayValue": {
     "type": "string"
    },
    "value": {
     "type": "string"
    }
   }
  },
  "FormFieldValue1": {
   "id": "FormFieldValue1",
   "type": "object",
   "properties": {
    "displayValue": {
     "type": "string"
    },
    "value": {
     "type": "string"
    }
   }
  },
  "FormFieldValue2": {
   "id": "FormFieldValue2",
   "type": "object",
   "properties": {
    "displayValue": {
     "type": "string"
    },
    "value": {
     "type": "string"
    }
   }
  },
  "FormMetadata": {
   "id": "FormMetadata",
   "type": "object",
   "properties": {
    "formFields": {
     "type": "array",
     "items": {
      "$ref": "FormField"
     }
    },
    "formId": {
     "type": "string"
    },
    "helpcenterName": {
     "type": "string"
    }
   }
  },
  "GetAccountReviewStatusRequest": {
   "id": "GetAccountReviewStatusRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "reviewKey": {
     "$ref": "ReviewKey"
    },
    "ssoCookie": {
     "type": "string"
    }
   }
  },
  "GetAccountReviewStatusResponse": {
   "id": "GetAccountReviewStatusResponse",
   "type": "object",
   "properties": {
    "reviewAction": {
     "type": "string",
     "enum": [
      "REVIEW_FIX_ACTION_UNSPECIFIED"
     ],
     "enumDescriptions": [
      ""
     ]
    },
    "reviewKey": {
     "$ref": "ReviewKey"
    },
    "reviewState": {
     "type": "string",
     "enum": [
      "ASSIGNED",
      "CLOSED",
      "REVIEW_STATE_UNSPECIFIED",
      "UNASSIGNED",
      "UNKNOWN_REVIEW_STATE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "GetAccountSignalsResponse": {
   "id": "GetAccountSignalsResponse",
   "type": "object",
   "properties": {
    "results": {
     "type": "array",
     "items": {
      "$ref": "AccountSignalResult"
     }
    }
   }
  },
  "GetAgentSearchCountResponse": {
   "id": "GetAgentSearchCountResponse",
   "type": "object",
   "properties": {
    "searchCounts": {
     "type": "array",
     "items": {
      "$ref": "SearchCount"
     }
    }
   }
  },
  "GetAgentUnreadCasesInfoResponse": {
   "id": "GetAgentUnreadCasesInfoResponse",
   "type": "object",
   "properties": {
    "agentUnreadCasesInfo": {
     "$ref": "AgentUnreadCasesInfo"
    }
   }
  },
  "GetAuthenticationCreditCardTypesRequest": {
   "id": "GetAuthenticationCreditCardTypesRequest",
   "type": "object",
   "properties": {
    "customerEmail": {
     "type": "string"
    }
   }
  },
  "GetAuthenticationCreditCardTypesResponse": {
   "id": "GetAuthenticationCreditCardTypesResponse",
   "type": "object",
   "properties": {
    "authenticationCreditCards": {
     "type": "array",
     "items": {
      "$ref": "AuthenticationCreditCard"
     }
    },
    "creditCardTypes": {
     "type": "array",
     "items": {
      "type": "string",
      "enum": [
       "AMEX",
       "CARTES_BANCAIRES",
       "DISCOVER",
       "JCB",
       "MASTERCARD",
       "UKNOWN_AUTHENTICATION_CARD_TYPE",
       "VISA"
      ],
      "enumDescriptions": [
       "",
       "",
       "",
       "",
       "",
       "",
       ""
      ]
     }
    }
   }
  },
  "GetAuthenticationQuestionsRequest": {
   "id": "GetAuthenticationQuestionsRequest",
   "type": "object",
   "properties": {
    "agentSsoCookie": {
     "type": "string"
    },
    "customerEmail": {
     "type": "string"
    }
   }
  },
  "GetAuthenticationQuestionsResponse": {
   "id": "GetAuthenticationQuestionsResponse",
   "type": "object",
   "properties": {
    "questionSets": {
     "type": "array",
     "items": {
      "$ref": "QuestionSet"
     }
    }
   }
  },
  "GetAuthenticationResultRequest": {
   "id": "GetAuthenticationResultRequest",
   "type": "object",
   "properties": {
    "agentSsoCookie": {
     "type": "string"
    },
    "customerEmail": {
     "type": "string"
    }
   }
  },
  "GetAuthenticationResultResponse": {
   "id": "GetAuthenticationResultResponse",
   "type": "object",
   "properties": {
    "result": {
     "type": "string",
     "enum": [
      "FAIL",
      "PASS",
      "PENDING",
      "UNKNOWN_RESULT"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "GetBusinessListingsRequest": {
   "id": "GetBusinessListingsRequest",
   "type": "object",
   "properties": {
    "emailAddress": {
     "type": "string"
    }
   }
  },
  "GetBusinessListingsResponse": {
   "id": "GetBusinessListingsResponse",
   "type": "object",
   "properties": {
    "listings": {
     "type": "array",
     "items": {
      "$ref": "Business"
     }
    }
   }
  },
  "GetByDeviceIdResponse": {
   "id": "GetByDeviceIdResponse",
   "type": "object",
   "properties": {
    "device": {
     "$ref": "Device"
    }
   }
  },
  "GetCancellationStatusRequest": {
   "id": "GetCancellationStatusRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "ssoCookie": {
     "type": "string"
    }
   }
  },
  "GetCancellationStatusResponse": {
   "id": "GetCancellationStatusResponse",
   "type": "object",
   "properties": {
    "reason": {
     "type": "string",
     "enum": [
      "CANCEL_REASON_ACCIDENTAL_PURCHASE",
      "CANCEL_REASON_DEFECTIVE",
      "CANCEL_REASON_DID_NOT_RECEIVE",
      "CANCEL_REASON_FRAUD",
      "CANCEL_REASON_FRIENDLY_FRAUD",
      "CANCEL_REASON_REMORSE",
      "CANCEL_REASON_UNSPECIFIED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "subscription": {
     "$ref": "Subscription"
    }
   }
  },
  "GetConsultSlaRequest": {
   "id": "GetConsultSlaRequest",
   "type": "object",
   "properties": {
    "channel": {
     "type": "string",
     "enum": [
      "NOTE",
      "UNKNOWN_CHANNEL"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "consultFormId": {
     "type": "string"
    },
    "dynamicAttributes": {
     "type": "array",
     "items": {
      "$ref": "Attribute1"
     }
    },
    "issueCategory": {
     "$ref": "Category5"
    },
    "targetCaseCategories": {
     "type": "array",
     "items": {
      "$ref": "Category5"
     }
    }
   }
  },
  "GetConsultSlaResponse": {
   "id": "GetConsultSlaResponse",
   "type": "object",
   "properties": {
    "dueByDuration": {
     "type": "string"
    }
   }
  },
  "GetCustomerSummaryRequest": {
   "id": "GetCustomerSummaryRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "disableEventHistory": {
     "type": "boolean"
    },
    "email": {
     "type": "string"
    },
    "historyCutoff": {
     "type": "string"
    },
    "lastNumberDays": {
     "type": "string",
     "format": "int64"
    },
    "pageSize": {
     "type": "integer",
     "format": "int32"
    },
    "pageToken": {
     "type": "string"
    },
    "productTypes": {
     "type": "array",
     "items": {
      "type": "string",
      "enum": [
       "BUNDLE",
       "LIVE_EVENT",
       "MOVIE",
       "PRODUCT_TYPE_UNKNOWN",
       "RED",
       "SEASON",
       "SHOW",
       "UNPLUGGED"
      ],
      "enumDescriptions": [
       "",
       "",
       "",
       "",
       "",
       "",
       "",
       ""
      ]
     }
    },
    "ssoCookie": {
     "type": "string"
    }
   }
  },
  "GetCustomerSummaryResponse": {
   "id": "GetCustomerSummaryResponse",
   "type": "object",
   "properties": {
    "cancelHistory": {
     "type": "array",
     "items": {
      "$ref": "CancelHistorySummaryInfo"
     }
    },
    "entitlements": {
     "type": "array",
     "items": {
      "$ref": "Entitlement"
     }
    },
    "hasOneTimeContentPurchase": {
     "type": "boolean"
    },
    "nextPageToken": {
     "type": "string"
    },
    "offsetFromUtc": {
     "type": "number",
     "format": "double"
    },
    "oneTimeContentPurchaseCount": {
     "type": "integer",
     "format": "int32"
    },
    "refundHistory": {
     "type": "array",
     "items": {
      "$ref": "RefundHistorySummaryInfo"
     }
    },
    "timezone": {
     "type": "string"
    }
   }
  },
  "GetEscalationTargetsResponse": {
   "id": "GetEscalationTargetsResponse",
   "type": "object",
   "properties": {
    "escalationTargets": {
     "type": "array",
     "items": {
      "$ref": "EscalationTarget"
     }
    }
   }
  },
  "GetHardwareOrderDetailRequest": {
   "id": "GetHardwareOrderDetailRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "ssoTicket": {
     "type": "string"
    }
   }
  },
  "GetHardwareSignalsRequest": {
   "id": "GetHardwareSignalsRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    }
   }
  },
  "GetHardwareSignalsResponse": {
   "id": "GetHardwareSignalsResponse",
   "type": "object",
   "properties": {
    "hasStandardExchange": {
     "type": "boolean"
    }
   }
  },
  "GetLostStolenEligibilityRequest": {
   "id": "GetLostStolenEligibilityRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "ssoTicket": {
     "type": "string"
    }
   }
  },
  "GetLostStolenRefundEligibilityRequest": {
   "id": "GetLostStolenRefundEligibilityRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "ssoTicket": {
     "type": "string"
    }
   }
  },
  "GetMailingAddressRequest": {
   "id": "GetMailingAddressRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "isRequiredAction": {
     "type": "boolean"
    },
    "ssoTicket": {
     "type": "string"
    }
   }
  },
  "GetMyAssignStreamSearchesResponse": {
   "id": "GetMyAssignStreamSearchesResponse",
   "type": "object",
   "properties": {
    "searches": {
     "type": "array",
     "items": {
      "$ref": "Search"
     }
    },
    "teams": {
     "type": "array",
     "items": {
      "$ref": "Team"
     }
    }
   }
  },
  "GetOneTimePurchasesRequest": {
   "id": "GetOneTimePurchasesRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "email": {
     "type": "string"
    },
    "pageSize": {
     "type": "integer",
     "format": "int32"
    },
    "pageToken": {
     "type": "string"
    },
    "ssoCookie": {
     "type": "string"
    }
   }
  },
  "GetOneTimePurchasesResponse": {
   "id": "GetOneTimePurchasesResponse",
   "type": "object",
   "properties": {
    "nextPageToken": {
     "type": "string"
    },
    "purchases": {
     "type": "array",
     "items": {
      "$ref": "Purchase"
     }
    }
   }
  },
  "GetOrdersRequest": {
   "id": "GetOrdersRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "customerEmail": {
     "type": "string"
    },
    "finskyPurchaseIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "locale": {
     "type": "string"
    },
    "ssoCookie": {
     "type": "string"
    }
   }
  },
  "GetOrdersResponse": {
   "id": "GetOrdersResponse",
   "type": "object",
   "properties": {
    "orders": {
     "type": "array",
     "items": {
      "$ref": "Order"
     }
    }
   }
  },
  "GetPaymentMethodHijackReviewsStatusRequest": {
   "id": "GetPaymentMethodHijackReviewsStatusRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "reviewKeys": {
     "type": "array",
     "items": {
      "$ref": "ReviewKey"
     }
    },
    "ssoCookie": {
     "type": "string"
    }
   }
  },
  "GetPaymentMethodHijackReviewsStatusResponse": {
   "id": "GetPaymentMethodHijackReviewsStatusResponse",
   "type": "object",
   "properties": {
    "allTransactions": {
     "type": "array",
     "items": {
      "$ref": "TransactionsSummary"
     }
    },
    "alreadyRefundedTransactions": {
     "type": "array",
     "items": {
      "$ref": "TransactionsSummary"
     }
    },
    "chargedBackTransactions": {
     "type": "array",
     "items": {
      "$ref": "TransactionsSummary"
     }
    },
    "newlyRefundedTransactions": {
     "type": "array",
     "items": {
      "$ref": "TransactionsSummary"
     }
    },
    "notFoundTransactions": {
     "type": "array",
     "items": {
      "$ref": "PaymentMethodHijackTransaction"
     }
    },
    "notRefundedTransactions": {
     "type": "array",
     "items": {
      "$ref": "PaymentMethodHijackTransaction"
     }
    },
    "resolvedTransactions": {
     "type": "array",
     "items": {
      "$ref": "TransactionsSummary"
     }
    },
    "reviewAgentLdaps": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "reviewKeys": {
     "type": "array",
     "items": {
      "$ref": "ReviewKey"
     }
    },
    "state": {
     "type": "string",
     "enum": [
      "ASSIGNED",
      "CLOSED",
      "REVIEW_STATE_UNSPECIFIED",
      "UNASSIGNED",
      "UNKNOWN_REVIEW_STATE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "underReviewTransactions": {
     "type": "array",
     "items": {
      "$ref": "TransactionsSummary"
     }
    }
   }
  },
  "GetPaymentsInfoRequest": {
   "id": "GetPaymentsInfoRequest",
   "type": "object",
   "properties": {
    "agentSso": {
     "type": "string"
    },
    "caseId": {
     "type": "string"
    }
   }
  },
  "GetPaymentsInfoResponse": {
   "id": "GetPaymentsInfoResponse",
   "type": "object",
   "properties": {
    "paymentsInfo": {
     "$ref": "PaymentsInfo"
    }
   }
  },
  "GetPhoneSettingResponse": {
   "id": "GetPhoneSettingResponse",
   "type": "object",
   "properties": {
    "phoneSetting": {
     "$ref": "PhoneSetting"
    }
   }
  },
  "GetRefundStatusRequest": {
   "id": "GetRefundStatusRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "ssoCookie": {
     "type": "string"
    }
   }
  },
  "GetRefundStatusResponse": {
   "id": "GetRefundStatusResponse",
   "type": "object",
   "properties": {
    "approvedOrderInfos": {
     "type": "array",
     "items": {
      "$ref": "OrderRefundStatusInfo"
     }
    },
    "approvedOrders": {
     "type": "array",
     "items": {
      "$ref": "Order"
     }
    },
    "escalateOrderInfos": {
     "type": "array",
     "items": {
      "$ref": "OrderRefundStatusInfo"
     }
    },
    "escalateOrders": {
     "type": "array",
     "items": {
      "$ref": "Order"
     }
    },
    "failedOrderInfos": {
     "type": "array",
     "items": {
      "$ref": "OrderRefundStatusInfo"
     }
    },
    "failedOrders": {
     "type": "array",
     "items": {
      "$ref": "Order"
     }
    },
    "inProgress": {
     "type": "boolean"
    },
    "inProgressOrderInfos": {
     "type": "array",
     "items": {
      "$ref": "OrderRefundStatusInfo"
     }
    },
    "inProgressOrders": {
     "type": "array",
     "items": {
      "$ref": "Order"
     }
    },
    "optionalEscalateOrderInfos": {
     "type": "array",
     "items": {
      "$ref": "OrderRefundStatusInfo"
     }
    },
    "optionalEscalateOrders": {
     "type": "array",
     "items": {
      "$ref": "Order"
     }
    },
    "processLaterOrderInfos": {
     "type": "array",
     "items": {
      "$ref": "OrderRefundStatusInfo"
     }
    },
    "processLaterOrders": {
     "type": "array",
     "items": {
      "$ref": "Order"
     }
    },
    "refundReason": {
     "type": "string",
     "enum": [
      "ACCIDENTAL_PURCHASE",
      "DEFECTIVE",
      "DID_NOT_RECEIVE",
      "FRAUD",
      "FRIENDLY_FRAUD",
      "REFUND_REASON_UNSPECIFIED",
      "REMORSE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "rejectedOrderInfos": {
     "type": "array",
     "items": {
      "$ref": "OrderRefundStatusInfo"
     }
    },
    "rejectedOrders": {
     "type": "array",
     "items": {
      "$ref": "Order"
     }
    },
    "sidewinderRejectedOrderInfos": {
     "type": "array",
     "items": {
      "$ref": "OrderRefundStatusInfo"
     }
    }
   }
  },
  "GetReplacementDetailRequest": {
   "id": "GetReplacementDetailRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "ssoTicket": {
     "type": "string"
    }
   }
  },
  "GetRmaOrderDetailRequest": {
   "id": "GetRmaOrderDetailRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "ssoTicket": {
     "type": "string"
    }
   }
  },
  "GetRoutingTargetsResponse": {
   "id": "GetRoutingTargetsResponse",
   "type": "object",
   "properties": {
    "products": {
     "type": "array",
     "items": {
      "$ref": "Product2"
     }
    }
   }
  },
  "GetShippingAddressRequest": {
   "id": "GetShippingAddressRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "isRequiredAction": {
     "type": "boolean"
    },
    "ssoTicket": {
     "type": "string"
    }
   }
  },
  "GetShippingCustomerNameRequest": {
   "id": "GetShippingCustomerNameRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "ssoTicket": {
     "type": "string"
    }
   }
  },
  "GetShippingCustomerPhoneNumberRequest": {
   "id": "GetShippingCustomerPhoneNumberRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "ssoTicket": {
     "type": "string"
    }
   }
  },
  "GetSubscriptionsRequest": {
   "id": "GetSubscriptionsRequest",
   "type": "object",
   "properties": {
    "caseId": {
     "type": "string"
    },
    "customerEmail": {
     "type": "string"
    },
    "locale": {
     "type": "string"
    },
    "ssoCookie": {
     "type": "string"
    },
    "subscriptionIds": {
     "type": "array",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "GetSubscriptionsResponse": {
   "id": "GetSubscriptionsResponse",
   "type": "object",
   "properties": {
    "subscriptions": {
     "type": "array",
     "items": {
      "$ref": "Subscription"
     }
    }
   }
  },
  "GiftCard": {
   "id": "GiftCard",
   "type": "object",
   "properties": {
    "activationNumber": {
     "type": "string"
    },
    "amount": {
     "$ref": "Money"
    },
    "redemptionDate": {
     "$ref": "Date"
    },
    "redemptionToken": {
     "$ref": "RedemptionToken"
    },
    "status": {
     "type": "string",
     "enum": [
      "ACTIVATED",
[...]
