{
 "kind": "discovery#restDescription",
 "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/MuNbTn-U7uo4q5kIHWudYUMbnVc\"",
 "discoveryVersion": "v1",
 "id": "replicapoolupdater:v1beta1",
 "name": "replicapoolupdater",
 "version": "v1beta1",
 "revision": "20150114",
 "title": "Google Compute Engine Instance Group Updater API",
 "description": "The Google Compute Engine Instance Group Updater API provides services for updating groups of Compute Engine Instances.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/search-16.gif",
  "x32": "http://www.google.com/images/icons/product/search-32.gif"
 },
 "documentationLink": "https://cloud.google.com/compute/docs/instance-groups/manager/#applying_rolling_updates_using_the_updater_service",
 "labels": [
  "limited_availability"
 ],
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/replicapoolupdater/v1beta1/projects/",
 "basePath": "/replicapoolupdater/v1beta1/projects/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "replicapoolupdater/v1beta1/projects/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/replicapool": {
     "description": "View and manage replica pools"
    },
    "https://www.googleapis.com/auth/replicapool.readonly": {
     "description": "View replica pools"
    }
   }
  }
 },
 "schemas": {
  "InsertResponse": {
   "id": "InsertResponse",
   "type": "object",
   "description": "Response returned by Insert method.",
   "properties": {
    "rollingUpdate": {
     "type": "string",
     "description": "The name of the update."
    }
   }
  },
  "InstanceUpdate": {
   "id": "InstanceUpdate",
   "type": "object",
   "description": "Update of a single instance.",
   "properties": {
    "instance": {
     "type": "string",
     "description": "URL of the instance being updated."
    },
    "status": {
     "type": "string",
     "description": "Status of the instance update. Possible values are:  \n- \"PENDING\": The instance update is pending execution. \n- \"ROLLING_FORWARD\": The instance update is going forward. \n- \"ROLLING_BACK\": The instance update is being rolled back. \n- \"PAUSED\": The instance update is temporarily paused (inactive). \n- \"ROLLED_OUT\": The instance update is finished, the instance is running the new template. \n- \"ROLLED_BACK\": The instance update is finished, the instance has been reverted to the previous template. \n- \"CANCELLED\": The instance update is paused and no longer can be resumed, undefined in which template the instance is running."
    }
   }
  },
  "InstanceUpdateList": {
   "id": "InstanceUpdateList",
   "type": "object",
   "description": "Response returned by ListInstanceUpdates method.",
   "properties": {
    "items": {
     "type": "array",
     "description": "Collection of requested instance updates.",
     "items": {
      "$ref": "InstanceUpdate"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource.",
     "default": "replicapoolupdater#instanceUpdateList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The fully qualified URL for the resource."
    }
   }
  },
  "RollingUpdate": {
   "id": "RollingUpdate",
   "type": "object",
   "description": "Resource describing a single update (rollout) of a group of instances to the given template.",
   "properties": {
    "actionType": {
     "type": "string",
     "description": "Action to be performed for each instance. Possible values are:  \n- \"RECREATE\": Instance will be recreated."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "instanceGroupManager": {
     "type": "string",
     "description": "URL of an instance group manager being updated."
    },
    "instanceTemplate": {
     "type": "string",
     "description": "URL of an instance template to apply."
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource.",
     "default": "replicapoolupdater#rollingUpdate"
    },
    "policy": {
     "type": "object",
     "description": "Parameters of the update process. Setting (api.field).field_number manually is a workaround for b/16512602.",
     "properties": {
      "canary": {
       "type": "object",
       "description": "Parameters of a canary phase. If absent, canary will NOT be performed.",
       "properties": {
        "numInstances": {
         "type": "integer",
         "description": "Number of instances updated as a part of canary phase. If absent, the default number of instances will be used.",
         "format": "int32"
        }
       }
      },
      "maxNumConcurrentInstances": {
       "type": "integer",
       "description": "Maximum number of instances that can be updated simultaneously (concurrently). An update of an instance starts when the instance is about to be restarted and finishes after the instance has been restarted and the sleep period (defined by sleepAfterInstanceRestartSec) has passed.",
       "format": "int32"
      },
      "sleepAfterInstanceRestartSec": {
       "type": "integer",
       "description": "The number of seconds to wait between when the instance has been successfully updated and restarted, to when it is marked as done.",
       "format": "int32"
      }
     }
    },
    "progress": {
     "type": "integer",
     "description": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess at when the update will be complete. This number should be monotonically increasing as the update progresses.",
     "format": "int32"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The fully qualified URL for the resource."
    },
    "status": {
     "type": "string",
     "description": "[Output Only] Status of the update. Possible values are:  \n- \"ROLLING_FORWARD\": The update is going forward. \n- \"ROLLING_BACK\": The update is being rolled back. \n- \"PAUSED\": The update is temporarily paused (inactive). \n- \"ROLLED_OUT\": The update is finished, all instances have been updated successfully. \n- \"ROLLED_BACK\": The update is finished, all instances have been reverted to the previous template. \n- \"CANCELLED\": The update is paused and no longer can be resumed, undefined how many instances are running in which template."
    },
    "statusMessage": {
     "type": "string",
     "description": "[Output Only] An optional textual description of the current status of the update."
    },
    "user": {
     "type": "string",
     "description": "[Output Only] User who requested the update, for example: user@example.com."
    }
   }
  },
  "RollingUpdateList": {
   "id": "RollingUpdateList",
   "type": "object",
   "description": "Response returned by List method.",
   "properties": {
    "items": {
     "type": "array",
     "description": "Collection of requested updates.",
     "items": {
      "$ref": "RollingUpdate"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource.",
     "default": "replicapoolupdater#rollingUpdateList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "A token used to continue a truncated list request."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] The fully qualified URL for the resource."
    }
   }
  }
 },
 "resources": {
  "rollingUpdates": {
   "methods": {
    "cancel": {
     "id": "replicapoolupdater.rollingUpdates.cancel",
     "path": "{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/cancel",
     "httpMethod": "POST",
     "description": "Cancels an update. The update must be PAUSED before it can be cancelled. This has no effect if the update is already CANCELLED.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollingUpdate": {
       "type": "string",
       "description": "The name of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollingUpdate"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "get": {
     "id": "replicapoolupdater.rollingUpdates.get",
     "path": "{project}/zones/{zone}/rollingUpdates/{rollingUpdate}",
     "httpMethod": "GET",
     "description": "Returns information about an update.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollingUpdate": {
       "type": "string",
       "description": "The name of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollingUpdate"
     ],
     "response": {
      "$ref": "RollingUpdate"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool",
      "https://www.googleapis.com/auth/replicapool.readonly"
     ]
    },
    "insert": {
     "id": "replicapoolupdater.rollingUpdates.insert",
     "path": "{project}/zones/{zone}/rollingUpdates",
     "httpMethod": "POST",
     "description": "Inserts and starts a new update.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone"
     ],
     "request": {
      "$ref": "RollingUpdate"
     },
     "response": {
      "$ref": "InsertResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "list": {
     "id": "replicapoolupdater.rollingUpdates.list",
     "path": "{project}/zones/{zone}/rollingUpdates",
     "httpMethod": "GET",
     "description": "Lists recent updates for a given managed instance group, in reverse chronological order and paginated format.",
     "parameters": {
      "filter": {
       "type": "string",
       "description": "Optional. Filter expression for filtering listed resources.",
       "location": "query"
      },
      "instanceGroupManager": {
       "type": "string",
       "description": "The name of the instance group manager.",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
       "default": "500",
       "format": "uint32",
       "minimum": "0",
       "maximum": "500",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
       "location": "query"
      },
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone"
     ],
     "response": {
      "$ref": "RollingUpdateList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool",
      "https://www.googleapis.com/auth/replicapool.readonly"
     ]
    },
    "listInstanceUpdates": {
     "id": "replicapoolupdater.rollingUpdates.listInstanceUpdates",
     "path": "{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/instanceUpdates",
     "httpMethod": "GET",
     "description": "Lists the current status for each instance within a given update.",
     "parameters": {
      "filter": {
       "type": "string",
       "description": "Optional. Filter expression for filtering listed resources.",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
       "default": "500",
       "format": "uint32",
       "minimum": "0",
       "maximum": "500",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
       "location": "query"
      },
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollingUpdate": {
       "type": "string",
       "description": "The name of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollingUpdate"
     ],
     "response": {
      "$ref": "InstanceUpdateList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool",
      "https://www.googleapis.com/auth/replicapool.readonly"
     ]
    },
    "pause": {
     "id": "replicapoolupdater.rollingUpdates.pause",
     "path": "{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/pause",
     "httpMethod": "POST",
     "description": "Pauses the update in state from ROLLING_FORWARD or ROLLING_BACK. Has no effect if invoked when the state of the update is PAUSED.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollingUpdate": {
       "type": "string",
       "description": "The name of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollingUpdate"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "resume": {
     "id": "replicapoolupdater.rollingUpdates.resume",
     "path": "{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/resume",
     "httpMethod": "POST",
     "description": "Continues an update in PAUSED state. Has no effect if invoked when the state of the update is ROLLED_OUT.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollingUpdate": {
       "type": "string",
       "description": "The name of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollingUpdate"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    },
    "rollback": {
     "id": "replicapoolupdater.rollingUpdates.rollback",
     "path": "{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/rollback",
     "httpMethod": "POST",
     "description": "Rolls back the update in state from ROLLING_FORWARD or PAUSED. Has no effect if invoked when the state of the update is ROLLED_BACK.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The Google Developers Console project name.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      },
      "rollingUpdate": {
       "type": "string",
       "description": "The name of the update.",
       "required": true,
       "location": "path"
      },
      "zone": {
       "type": "string",
       "description": "The name of the zone in which the update's target resides.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "zone",
      "rollingUpdate"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/replicapool"
     ]
    }
   }
  }
 }
}
