{
 "kind": "discovery#restDescription",
 "etag": "\"-vXktEC13RBC5q_wkxEsszrjKM4/60MkXtghmFo3IAbnXWTI1IlGp0k\"",
 "discoveryVersion": "v1",
 "id": "youtube:v3",
 "name": "youtube",
 "canonicalName": "YouTube",
 "version": "v3",
 "revision": "20130225",
 "title": "YouTube Data API",
 "description": "Programmatic access to YouTube features.",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/youtube-16.png",
  "x32": "http://www.google.com/images/icons/product/youtube-32.png"
 },
 "documentationLink": "https://developers.google.com/youtube/v3",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/youtube/v3/",
 "basePath": "/youtube/v3/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "youtube/v3/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/youtube": {
     "description": "Manage your YouTube account"
    },
    "https://www.googleapis.com/auth/youtube.readonly": {
     "description": "View your YouTube account"
    },
    "https://www.googleapis.com/auth/youtube.upload": {
     "description": "Manage your YouTube videos"
    },
    "https://www.googleapis.com/auth/youtubepartner": {
     "description": "View and manage your assets and associated content on YouTube"
    }
   }
  }
 },
 "schemas": {
  "AccessPolicy": {
   "id": "AccessPolicy",
   "type": "object",
   "description": "Rights management policy for YouTube resources.",
   "properties": {
    "allowed": {
     "type": "boolean",
     "description": "The value of allowed indicates whether the access to the policy is allowed or denied by default."
    },
    "exception": {
     "type": "array",
     "description": "A list of region codes that identify countries where the default policy do not apply.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "Activity": {
   "id": "Activity",
   "type": "object",
   "description": "An activity resource contains information about an action that a particular channel, or user, has taken on YouTube. The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
   "properties": {
    "contentDetails": {
     "$ref": "ActivityContentDetails",
     "description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video."
    },
    "etag": {
     "type": "string",
     "description": "The ETag of the activity resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the activity."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For activity resources, the value will be youtube#activity.",
     "default": "youtube#activity"
    },
    "snippet": {
     "$ref": "ActivitySnippet",
     "description": "The snippet object contains basic details about the activity, including the activity's type and group ID."
    }
   }
  },
  "ActivityContentDetails": {
   "id": "ActivityContentDetails",
   "type": "object",
   "description": "Details about the content of an activity: the video that was shared, the channel that was subscribed to, etc.",
   "properties": {
    "bulletin": {
     "type": "object",
     "description": "The bulletin object contains details about a channel bulletin post. This object is only present if the snippet.type is bulletin.",
     "properties": {
      "resourceId": {
       "$ref": "ResourceId",
       "description": "The resourceId object contains information that identifies the resource associated with a bulletin post."
      }
     }
    },
    "channelItem": {
     "type": "object",
     "description": "The channelItem object contains details about a resource which was added to a channel. This property is only present if the snippet.type is channelItem.",
     "properties": {
      "resourceId": {
       "$ref": "ResourceId",
       "description": "The resourceId object contains information that identifies the resource that was added to the channel."
      }
     }
    },
    "comment": {
     "type": "object",
     "description": "The comment object contains information about a resource that received a comment. This property is only present if the snippet.type is comment.",
     "properties": {
      "resourceId": {
       "$ref": "ResourceId",
       "description": "The resourceId object contains information that identifies the resource associated with the comment."
      }
     }
    },
    "favorite": {
     "type": "object",
     "description": "The favorite object contains information about a video that was marked as a favorite video. This property is only present if the snippet.type is favorite.",
     "properties": {
      "resourceId": {
       "$ref": "ResourceId",
       "description": "The resourceId object contains information that identifies the resource that was marked as a favorite."
      }
     }
    },
    "like": {
     "type": "object",
     "description": "The like object contains information about a resource that received a positive (like) rating. This property is only present if the snippet.type is like.",
     "properties": {
      "resourceId": {
       "$ref": "ResourceId",
       "description": "The resourceId object contains information that identifies the rated resource."
      }
     }
    },
    "playlistItem": {
     "type": "object",
     "description": "The playlistItem object contains information about a new playlist item. This property is only present if the snippet.type is playlistItem.",
     "properties": {
      "playlistId": {
       "type": "string",
       "description": "The value that YouTube uses to uniquely identify the playlist."
      },
      "playlistItemId": {
       "type": "string",
       "description": "ID of the item within the playlist."
      },
      "resourceId": {
       "$ref": "ResourceId",
       "description": "The resourceId object contains information about the resource that was added to the playlist."
      }
     }
    },
    "recommendation": {
     "type": "object",
     "description": "The recommendation object contains information about a recommended resource. This property is only present if the snippet.type is recommendation.",
     "properties": {
      "reason": {
       "type": "string",
       "description": "The reason that the resource is recommended to the user."
      },
      "resourceId": {
       "$ref": "ResourceId",
       "description": "The resourceId object contains information that identifies the recommended resource."
      },
      "seedResourceId": {
       "$ref": "ResourceId",
       "description": "The seedResourceId object contains information about the resource that caused the recommendation."
      }
     }
    },
    "social": {
     "type": "object",
     "description": "The social object contains details about a social network post. This property is only present if the snippet.type is social.",
     "properties": {
      "author": {
       "type": "string",
       "description": "The author of the social network post."
      },
      "imageUrl": {
       "type": "string",
       "description": "An image of the post's author."
      },
      "referenceUrl": {
       "type": "string",
       "description": "The URL of the social network post."
      },
      "resourceId": {
       "$ref": "ResourceId",
       "description": "The resourceId object encapsulates information that identifies the resource associated with a social network post."
      },
      "type": {
       "type": "string",
       "description": "The name of the social network."
      }
     }
    },
    "subscription": {
     "type": "object",
     "description": "The subscription object contains information about a channel that a user subscribed to. This property is only present if the snippet.type is subscription.",
     "properties": {
      "resourceId": {
       "$ref": "ResourceId",
       "description": "The resourceId object contains information that identifies the resource that the user subscribed to."
      }
     }
    },
    "upload": {
     "type": "object",
     "description": "The upload object contains information about the uploaded video. This property is only present if the snippet.type is upload.",
     "properties": {
      "videoId": {
       "type": "string",
       "description": "The ID that YouTube uses to uniquely identify the uploaded video."
      }
     }
    }
   }
  },
  "ActivityListResponse": {
   "id": "ActivityListResponse",
   "type": "object",
   "description": "A paginated list of activities returned as a response to youtube.activities.list calls.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the response."
    },
    "items": {
     "type": "array",
     "description": "A list of activities, or events, that match the request criteria.",
     "items": {
      "$ref": "Activity"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value will be youtube#activityListResponse.",
     "default": "youtube#activityListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    }
   }
  },
  "ActivitySnippet": {
   "id": "ActivitySnippet",
   "type": "object",
   "description": "Basic details about an activity, including title, description, thumbnails, activity type and group.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the channel associated with the activity."
    },
    "description": {
     "type": "string",
     "description": "The description of the resource primarily associated with the activity.",
     "annotations": {
      "required": [
       "youtube.activities.insert"
      ]
     }
    },
    "groupId": {
     "type": "string",
     "description": "The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user rates a video and marks the same video as a favorite, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same groupId value."
    },
    "publishedAt": {
     "type": "string",
     "description": "The date and time that the activity occurred. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "thumbnails": {
     "type": "object",
     "description": "A map of thumbnail images associated with the resource that is primarily associated with the activity. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
     "additionalProperties": {
      "$ref": "Thumbnail",
      "description": "The thumbnail image's name."
     }
    },
    "title": {
     "type": "string",
     "description": "The title of the resource primarily associated with the activity."
    },
    "type": {
     "type": "string",
     "description": "The type of activity that the resource describes."
    }
   }
  },
  "Channel": {
   "id": "Channel",
   "type": "object",
   "description": "A channel resource contains information about a YouTube channel.",
   "properties": {
    "contentDetails": {
     "$ref": "ChannelContentDetails",
     "description": "The contentDetails object encapsulates information about the channel's content."
    },
    "etag": {
     "type": "string",
     "description": "The ETag for the channel resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the channel."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For channel resources, the value will be youtube#channel.",
     "default": "youtube#channel"
    },
    "snippet": {
     "$ref": "ChannelSnippet",
     "description": "The snippet object contains basic details about the channel, such as its title, description, and thumbnail images."
    },
    "statistics": {
     "$ref": "ChannelStatistics",
     "description": "The statistics object encapsulates statistics for the channel."
    },
    "status": {
     "$ref": "ChannelStatus",
     "description": "The status object encapsulates information about the privacy status of the channel."
    },
    "topicDetails": {
     "$ref": "ChannelTopicDetails",
     "description": "The topicDetails object encapsulates information about Freebase topics associated with the channel."
    }
   }
  },
  "ChannelContentDetails": {
   "id": "ChannelContentDetails",
   "type": "object",
   "description": "Details about the content of a channel.",
   "properties": {
    "googlePlusUserId": {
     "type": "string",
     "description": "The googlePlusUserId object identifies the Google+ profile ID associated with this channel."
    },
    "relatedPlaylists": {
     "type": "object",
     "description": "The relatedPlaylists object is a map that identifies playlists associated with the channel, such as the channel's uploaded videos or favorite videos. You can retrieve any of these playlists using the playlists.list method.",
     "properties": {
      "favorites": {
       "type": "string",
       "description": "The ID of the playlist that contains the channel's favorite videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
      },
      "likes": {
       "type": "string",
       "description": "The ID of the playlist that contains the channel's liked videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
      },
      "uploads": {
       "type": "string",
       "description": "The ID of the playlist that contains the channel's uploaded videos. Use the videos.insert method to upload new videos and the videos.delete method to delete previously uploaded videos."
      },
      "watchHistory": {
       "type": "string",
       "description": "The ID of the playlist that contains the channel's watch history. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
      },
      "watchLater": {
       "type": "string",
       "description": "The ID of the channel's watch later playlist. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
      }
     }
    }
   }
  },
  "ChannelListResponse": {
   "id": "ChannelListResponse",
   "type": "object",
   "description": "A paginated list of channels returned as the response to a youtube.channels.list call.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag for the response."
    },
    "items": {
     "type": "array",
     "description": "A list of channels that match the request criteria.",
     "items": {
      "$ref": "Channel"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value will be youtube#channelListResponse.",
     "default": "youtube#channelListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    }
   }
  },
  "ChannelSnippet": {
   "id": "ChannelSnippet",
   "type": "object",
   "description": "Basic details about a channel, including title, description and thumbnails.",
   "properties": {
    "description": {
     "type": "string",
     "description": "The description of the channel."
    },
    "publishedAt": {
     "type": "string",
     "description": "The date and time that the channel was created. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "thumbnails": {
     "type": "object",
     "description": "A map of thumbnail images associated with the channel. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
     "additionalProperties": {
      "$ref": "Thumbnail",
      "description": "Name of the thumbnail, to easily identify it. The set of names is dependent on the resource the thumbnail is for."
     }
    },
    "title": {
     "type": "string",
     "description": "The channel's title."
    }
   }
  },
  "ChannelStatistics": {
   "id": "ChannelStatistics",
   "type": "object",
   "description": "Statistics about a channel: number of subscribers, number of videos in the channel, etc.",
   "properties": {
    "commentCount": {
     "type": "string",
     "description": "The number of comments for the channel.",
     "format": "uint64"
    },
    "subscriberCount": {
     "type": "string",
     "description": "The number of subscribers that the channel has.",
     "format": "uint64"
    },
    "videoCount": {
     "type": "string",
     "description": "The number of videos uploaded to the channel.",
     "format": "uint64"
    },
    "viewCount": {
     "type": "string",
     "description": "The number of times the channel has been viewed.",
     "format": "uint64"
    }
   }
  },
  "ChannelStatus": {
   "id": "ChannelStatus",
   "type": "object",
   "description": "JSON template for the status part of a channel.",
   "properties": {
    "privacyStatus": {
     "type": "string",
     "description": "Privacy status of the channel."
    }
   }
  },
  "ChannelTopicDetails": {
   "id": "ChannelTopicDetails",
   "type": "object",
   "description": "Freebase topic information related to the channel.",
   "properties": {
    "topicIds": {
     "type": "array",
     "description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "GeoPoint": {
   "id": "GeoPoint",
   "type": "object",
   "description": "A geoPoint holds geo location information associated with a YouTube resource.",
   "properties": {
    "elevation": {
     "type": "number",
     "description": "Altitude above the Earth, in meters.",
     "format": "double"
    },
    "latitude": {
     "type": "number",
     "description": "Latitude in degrees.",
     "format": "double"
    },
    "longitude": {
     "type": "number",
     "description": "Longitude in degrees.",
     "format": "double"
    }
   }
  },
  "GuideCategory": {
   "id": "GuideCategory",
   "type": "object",
   "description": "A guideCategory resource identifies a category that YouTube algorithmically assigns based on a channel's content or other indicators, such as the channel's popularity. The list is similar to video categories, with the difference being that a video's uploader can assign a video category but only YouTube can assign a channel category.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the guideCategory resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the guide category."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For guideCategory resources, the value will be youtube#guideCategory/code\u003e.",
     "default": "youtube#guideCategory"
    },
    "snippet": {
     "$ref": "GuideCategorySnippet",
     "description": "The snippet object contains basic details about the category, such as its title."
    }
   }
  },
  "GuideCategoryListResponse": {
   "id": "GuideCategoryListResponse",
   "type": "object",
   "description": "A paginated list of guide categories returned as the response to a youtube.guideCategories.list call.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the response."
    },
    "items": {
     "type": "array",
     "description": "A list of categories that can be associated with YouTube channels. In this map, the category ID is the map key, and its value is the corresponding guideCategory resource.",
     "items": {
      "$ref": "GuideCategory"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value will be youtube#guideCategoryListResponse.",
     "default": "youtube#guideCategoryListResponse"
    }
   }
  },
  "GuideCategorySnippet": {
   "id": "GuideCategorySnippet",
   "type": "object",
   "description": "Basic details about a guide category.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the channel publishing the guide category.",
     "default": "UCBR8-60-B28hp2BmDPdntcQ"
    },
    "title": {
     "type": "string",
     "description": "The category's title."
    }
   }
  },
  "LiveBroadcast": {
   "id": "LiveBroadcast",
   "type": "object",
   "description": "A live broadcast describes live event configuration.",
   "properties": {
    "contentDetails": {
     "$ref": "LiveBroadcastContentDetails",
     "description": "The content details of the live broadcast."
    },
    "etag": {
     "type": "string",
     "description": "The eTag of the broadcast."
    },
    "id": {
     "type": "string",
     "description": "The unique id of the broadcast."
    },
    "kind": {
     "type": "string",
     "description": "The type of this API resource.",
     "default": "youtube#liveBroadcast"
    },
    "slateSettings": {
     "$ref": "LiveBroadcastSlateSettings",
     "description": "The slate settings of the live broadcast."
    },
    "snippet": {
     "$ref": "LiveBroadcastSnippet",
     "description": "Basic details about the live broadcast."
    },
    "status": {
     "$ref": "LiveBroadcastStatus",
     "description": "The status of the live broadcast."
    }
   }
  },
  "LiveBroadcastContentDetails": {
   "id": "LiveBroadcastContentDetails",
   "type": "object",
   "description": "Slate settings of a broadcast.",
   "properties": {
    "boundStreamId": {
     "type": "string",
     "description": "The id of the stream bound to the broadcast."
    },
    "enableArchive": {
     "type": "boolean",
     "description": "Whether the live event will be archived or not."
    },
    "enableContentEncryption": {
     "type": "boolean",
     "description": "Whether to enable or disable content encryption."
    },
    "enableDvr": {
     "type": "boolean",
     "description": "Whether the dvr (digital video recording) is enabled or not."
    },
    "enableEmbed": {
     "type": "boolean",
     "description": "Whether to allow the broadcast to be played in an embedded player."
    },
    "monitorStream": {
     "type": "object",
     "description": "Information about the monitor stream which helps the broadcaster to review the event content before shown to the public.",
     "properties": {
      "broadcastStreamDelayMs": {
       "type": "integer",
       "description": "If enableMonitorStream is true, the public broadcast will be delayed by this value.",
       "format": "uint32"
      },
      "embedHtml": {
       "type": "string",
       "description": "The html code of the embedded player for the monitor stream."
      },
      "enableMonitorStream": {
       "type": "boolean",
       "description": "Whether to enable the monitor stream for the broadcast."
      }
     }
    },
    "startWithSlateCuepoint": {
     "type": "boolean",
     "description": "Automatically start with a slate cuepoint."
    }
   }
  },
  "LiveBroadcastList": {
   "id": "LiveBroadcastList",
   "type": "object",
   "description": "JSON template for list of broadcasts.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The eTag of the chart."
    },
    "items": {
     "type": "array",
     "description": "A list of broadcasts that match the request criteria.",
     "items": {
      "$ref": "LiveBroadcast"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of this API resource.",
     "default": "youtube#liveBroadcastList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the {@code pageInfo} parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The {@code pageInfo} object encapsulates paging information for the result set."
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the {@code pageInfo} parameter to retrieve the previous page in the result set."
    }
   }
  },
  "LiveBroadcastSlateSettings": {
   "id": "LiveBroadcastSlateSettings",
   "type": "object",
   "description": "Slate settings of a broadcast.",
   "properties": {
    "enableSlates": {
     "type": "boolean",
     "description": "Whether slate is enabled or not."
    },
    "slates": {
     "type": "object",
     "description": "Broadcast slates.",
     "additionalProperties": {
      "type": "object",
      "description": "Locale code indicating in which region should the slate be displayed.",
      "properties": {
       "backgroundUrl": {
        "type": "string",
        "description": "Url of the background image."
       },
       "textLines": {
        "type": "array",
        "description": "Multi-line message showing in the slate.",
        "items": {
         "type": "string"
        }
       }
      }
     }
    }
   }
  },
  "LiveBroadcastSnippet": {
   "id": "LiveBroadcastSnippet",
   "type": "object",
   "description": "Basic details about a live broadcast, including title, description and thumbnails.",
   "properties": {
    "actualEndTime": {
     "type": "string",
     "description": "Date and time the broadcast is actual to end. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "actualStartTime": {
     "type": "string",
     "description": "Date and time the broadcast is actual to start. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "channelId": {
     "type": "string",
     "description": "Channel publishing the broadcast."
    },
    "description": {
     "type": "string",
     "description": "Description of the broadcast."
    },
    "publishedAt": {
     "type": "string",
     "description": "Date and time the broadcast was published at. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "scheduledEndTime": {
     "type": "string",
     "description": "Date and time the broadcast is scheduled to end. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "scheduledStartTime": {
     "type": "string",
     "description": "Date and time the broadcast is scheduled to start. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "thumbnails": {
     "type": "object",
     "description": "Video thumbnails.",
     "additionalProperties": {
      "$ref": "Thumbnail",
      "description": "A map of thumbnails by their name."
     }
    },
    "title": {
     "type": "string",
     "description": "Title of the broadcast."
    }
   }
  },
  "LiveBroadcastStatus": {
   "id": "LiveBroadcastStatus",
   "type": "object",
   "description": "The status of a live broadcast.",
   "properties": {
    "lifeCycleStatus": {
     "type": "string",
     "description": "Life status of the live broadcast."
    },
    "privacyStatus": {
     "type": "string",
     "description": "Privacy settings of the live broadcast. Allowed values: private, unlisted, public."
    }
   }
  },
  "LiveStream": {
   "id": "LiveStream",
   "type": "object",
   "description": "A live stream describes a live ingestion point.",
   "properties": {
    "cdn": {
     "$ref": "LiveStreamCdn",
     "description": "Cdn settings of the live stream."
    },
    "etag": {
     "type": "string",
     "description": "The eTag of the stream."
    },
    "id": {
     "type": "string",
     "description": "The unique id of the stream."
    },
    "kind": {
     "type": "string",
     "description": "The type of this API resource.",
     "default": "youtube#liveStream"
    },
    "snippet": {
     "$ref": "LiveStreamSnippet",
     "description": "Basic details about the live stream."
    },
    "status": {
     "$ref": "LiveStreamStatus",
     "description": "Status of the live stream."
    }
   }
  },
  "LiveStreamCdn": {
   "id": "LiveStreamCdn",
   "type": "object",
   "description": "Brief description of the live stream cdn settings.",
   "properties": {
    "format": {
     "type": "string",
     "description": "The format of the inbound data. Allowed values: 240p, 360p, 480p, 720p, 1080p, webm_360p, multicast_qcif, multicast_240p, multicast_360p, multicast_480p, multicast_720p, multicast_1080p."
    },
    "ingestionInfo": {
     "$ref": "LiveStreamCdnIngestionInfo",
     "description": "Encapsulates information for ingesting an RTMP or an HTTP stream."
    },
    "ingestionType": {
     "type": "string",
     "description": "The live stream ingestion type. Allowed values: rtmp, http, multicast."
    },
    "multicastIngestionInfo": {
     "$ref": "LiveStreamCdnMulticastIngestionInfo",
     "description": "Encapsulates information for ingesting a multicast stream."
    }
   }
  },
  "LiveStreamCdnIngestionInfo": {
   "id": "LiveStreamCdnIngestionInfo",
   "type": "object",
   "description": "Brief description of the live stream cdn settings.",
   "properties": {
    "backupIngestionAddress": {
     "type": "string",
     "description": "The backup address of the inbound data."
    },
    "ingestionAddress": {
     "type": "string",
     "description": "The address of the inbound data."
    },
    "streamName": {
     "type": "string",
     "description": "Ingestion stream name."
    }
   }
  },
  "LiveStreamCdnMulticastIngestionInfo": {
   "id": "LiveStreamCdnMulticastIngestionInfo",
   "type": "object",
   "description": "Brief description of the live stream cdn settings.",
   "properties": {
    "multicastAddress": {
     "type": "string",
     "description": "The IP address of the multicast data."
    }
   }
  },
  "LiveStreamList": {
   "id": "LiveStreamList",
   "type": "object",
   "description": "List of live streams.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The eTag of the chart."
    },
    "items": {
     "type": "array",
     "description": "A list of live streams that match the request criteria.",
     "items": {
      "$ref": "LiveStream"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of this API resource.",
     "default": "youtube#liveStreamList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the {@code pageInfo} parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The {@code pageInfo} object encapsulates paging information for the result set."
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the {@code pageInfo} parameter to retrieve the previous page in the result set."
    }
   }
  },
  "LiveStreamSnippet": {
   "id": "LiveStreamSnippet",
   "type": "object",
   "description": "Basic details about a live stream, including title and description.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "Channel publishing the live stream."
    },
    "description": {
     "type": "string",
     "description": "Description of the live stream."
    },
    "publishedAt": {
     "type": "string",
     "description": "Date and time the live stream was published at.",
     "format": "date-time"
    },
    "title": {
     "type": "string",
     "description": "Title of the live stream."
    }
   }
  },
  "LiveStreamStatus": {
   "id": "LiveStreamStatus",
   "type": "object",
   "description": "Brief description of the live stream status.",
   "properties": {
    "streamStatus": {
     "type": "string",
     "description": "The status of the stream."
    }
   }
  },
  "PageInfo": {
   "id": "PageInfo",
   "type": "object",
   "description": "Paging details for lists of resources, including total number of items available and number of resources returned in a single page.",
   "properties": {
    "resultsPerPage": {
     "type": "integer",
     "description": "The number of results included in the API response.",
     "format": "int32"
    },
    "totalResults": {
     "type": "integer",
     "description": "The total number of results in the result set.",
     "format": "int32"
    }
   }
  },
  "Playlist": {
   "id": "Playlist",
   "type": "object",
   "description": "A playlist resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. A playlist can contain up to 200 videos, and YouTube does not limit the number of playlists that each user creates. By default, playlists are publicly visible to other users, but playlists can be public or private.\n\nYouTube also uses playlists to identify special collections of videos for a channel, such as:  \n- uploaded videos \n- favorite videos \n- positively rated (liked) videos \n- watch history \n- watch later  To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel.\n\nYou can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods.",
   "properties": {
    "contentDetails": {
     "$ref": "PlaylistContentDetails",
     "description": "The contentDetails object contains information like video count."
    },
    "etag": {
     "type": "string",
     "description": "The ETag for the playlist resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the playlist."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For video resources, the value will be youtube#playlist.",
     "default": "youtube#playlist"
    },
    "player": {
     "$ref": "PlaylistPlayer",
     "description": "The player object contains information that you would use to play the playlist in an embedded player."
    },
    "snippet": {
     "$ref": "PlaylistSnippet",
     "description": "The snippet object contains basic details about the playlist, such as its title and description."
    },
    "status": {
     "$ref": "PlaylistStatus",
     "description": "The status object contains status information for the playlist."
    }
   }
  },
  "PlaylistContentDetails": {
   "id": "PlaylistContentDetails",
   "type": "object",
   "description": "Details about the content of a playlist, such as the video count.",
   "properties": {
    "itemCount": {
     "type": "integer",
     "description": "The number of videos in the playlist.",
     "format": "uint32"
    }
   }
  },
  "PlaylistItem": {
   "id": "PlaylistItem",
   "type": "object",
   "description": "A playlistItem resource identifies another resource, such as a video, that is included in a playlist. In addition, the playlistItem resource contains details about the included resource that pertain specifically to how that resource is used in that playlist.\n\nYouTube uses playlists to identify special collections of videos for a channel, such as:  \n- uploaded videos \n- favorite videos \n- positively rated (liked) videos \n- watch history \n- watch later  To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information.\n\nYou can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods. For example, if a user gives a positive rating to a video, you would insert that video into the liked videos playlist for that user's channel.",
   "properties": {
    "contentDetails": {
     "$ref": "PlaylistItemContentDetails",
     "description": "The contentDetails object is included in the resource if the included item is a YouTube video. The object contains additional information about the video."
    },
    "etag": {
     "type": "string",
     "description": "The ETag for the playlist item resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the playlist item."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For playlist item resources, the value will be youtube#playlistItem.",
     "default": "youtube#playlistItem"
    },
    "snippet": {
     "$ref": "PlaylistItemSnippet",
     "description": "The snippet object contains basic details about the playlist item, such as its title and position in the playlist."
    }
   }
  },
  "PlaylistItemContentDetails": {
   "id": "PlaylistItemContentDetails",
   "type": "object",
   "description": "Details about the content of a playlist item, such as the video or the video fragment start and end time included in the playlist.",
   "properties": {
    "endAt": {
     "type": "string",
     "description": "The time, measured in seconds from the start of the video, when the video should stop playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) By default, assume that the video.endTime is the end of the video."
    },
    "note": {
     "type": "string",
     "description": "A user-generated note for this item."
    },
    "startAt": {
     "type": "string",
     "description": "The time, measured in seconds from the start of the video, when the video should start playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) The default value is 0."
    },
    "videoId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify a video. To retrieve the video resource, set the id query parameter to this value in your API request."
    }
   }
  },
  "PlaylistItemListResponse": {
   "id": "PlaylistItemListResponse",
   "type": "object",
   "description": "A paginated list of playlist items returned as the response to a youtube.playlistItems.list call.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag for the response."
    },
    "items": {
     "type": "array",
     "description": "A list of playlist items that match the request criteria.",
     "items": {
      "$ref": "PlaylistItem"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value will be youtube#playlistItemListResponse.",
     "default": "youtube#playlistItemListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "A token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    },
    "prevPageToken": {
     "type": "string",
     "description": "A token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    }
   }
  },
  "PlaylistItemSnippet": {
   "id": "PlaylistItemSnippet",
   "type": "object",
   "description": "Basic details about an item included in a playlist, including title, description, thumbnails, playlist the item is part of and position of the item inside the playlist.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the user that added the item to the playlist."
    },
    "description": {
     "type": "string",
     "description": "The item's description."
    },
    "playlistId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the playlist that the playlist item is in.",
     "annotations": {
      "required": [
       "youtube.playlistItems.insert"
      ]
     }
    },
    "position": {
     "type": "integer",
     "description": "The order in which the item appears in the playlist. The value uses a zero-based index, so the first item has a position of 0, the second item has a position of 1, and so forth.",
     "format": "uint32"
    },
    "publishedAt": {
     "type": "string",
     "description": "The date and time that the item was added to the playlist. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "resourceId": {
     "$ref": "ResourceId",
     "description": "The id object contains information that can be used to uniquely identify the resource that is included in the playlist as the playlist item.",
     "annotations": {
      "required": [
       "youtube.playlistItems.insert"
      ]
     }
    },
    "thumbnails": {
     "type": "object",
     "description": "A map of thumbnail images associated with the playlist item. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
     "additionalProperties": {
      "$ref": "Thumbnail",
      "description": "The thumbnail image's name. This value is used as the key in the snippet.thumbnails map."
     }
    },
    "title": {
     "type": "string",
     "description": "The item's title."
    }
   }
  },
  "PlaylistListResponse": {
   "id": "PlaylistListResponse",
   "type": "object",
   "description": "A paginated list of playlists returned as the response to a youtube.playlists.list call.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the response."
    },
    "items": {
     "type": "array",
     "description": "A list of playlists that match the request criteria.",
     "items": {
      "$ref": "Playlist"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value will be youtube#playlistListResponse.",
     "default": "youtube#playlistListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    }
   }
  },
  "PlaylistPlayer": {
   "id": "PlaylistPlayer",
   "type": "object",
   "description": "Player to be used for a playlist playback.",
   "properties": {
    "embedHtml": {
     "type": "string",
     "description": "An \u003ciframe\u003e tag that embeds a player that will play the playlist."
    }
   }
  },
  "PlaylistSnippet": {
   "id": "PlaylistSnippet",
   "type": "object",
   "description": "Basic details about a playlist, including title, description and thumbnails.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the channel that published the playlist."
    },
    "description": {
     "type": "string",
     "description": "The playlist's description."
    },
    "publishedAt": {
     "type": "string",
     "description": "The date and time that the playlist was created. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "thumbnails": {
     "type": "object",
     "description": "A map of thumbnail images associated with the playlist. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
     "additionalProperties": {
      "$ref": "Thumbnail",
      "description": "The thumbnail image's name. This value is used as the key in the snippet.thumbnails map."
     }
    },
    "title": {
     "type": "string",
     "description": "The playlist's title.",
     "annotations": {
      "required": [
       "youtube.playlists.insert",
       "youtube.playlists.update"
      ]
     }
    }
   }
  },
  "PlaylistStatus": {
   "id": "PlaylistStatus",
   "type": "object",
   "description": "The status details of a playlist describes whether the playlist is private.",
   "properties": {
    "privacyStatus": {
     "type": "string",
     "description": "The playlist's privacy status."
    }
   }
  },
  "ResourceId": {
   "id": "ResourceId",
   "type": "object",
   "description": "A resource id is a generic reference that points to another YouTube resource.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a channel. This property is only present if the resourceId.kind value is youtube#channel."
    },
    "kind": {
     "type": "string",
     "description": "The kind, or type, of the referred resource."
    },
    "playlistId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a playlist. This property is only present if the resourceId.kind value is youtube#playlist."
    },
    "videoId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a video. This property is only present if the resourceId.kind value is youtube#video."
    }
   }
  },
  "SearchListResponse": {
   "id": "SearchListResponse",
   "type": "object",
   "description": "A paginated list of search results returned as the response to a youtube.search.list call.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag for the response."
    },
    "items": {
     "type": "array",
     "description": "A list of results that match the search criteria.",
     "items": {
      "$ref": "SearchResult"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value will be youtube#searchListResponse.",
     "default": "youtube#searchListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the search result set."
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    }
   }
  },
  "SearchResult": {
   "id": "SearchResult",
   "type": "object",
   "description": "A search result contains information about a YouTube video, channel, or playlist that matches the search parameters specified in an API request. While a search result points to a uniquely identifiable resource, like a video, it does not have its own persistent data.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the search result."
    },
    "id": {
     "$ref": "ResourceId",
     "description": "The id object contains information that can be used to uniquely identify the resource that matches the search request."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this resource, the value will be youtube#searchResult.",
     "default": "youtube#searchResult"
    },
    "snippet": {
     "$ref": "SearchResultSnippet",
     "description": "The snippet object contains basic details about a search result, such as its title or description. For example, if the search result is a video, then the title will be the video's title and the description will be the video's description."
    }
   }
  },
  "SearchResultSnippet": {
   "id": "SearchResultSnippet",
   "type": "object",
   "description": "Basic details about a search result, including title, description and thumbnails of the item referenced by the search result.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The value that YouTube uses to uniquely identify the channel that published the resource that the search result identifies."
    },
    "description": {
     "type": "string",
     "description": "A description of the search result."
    },
    "publishedAt": {
     "type": "string",
     "description": "The creation date and time of the resource that the search result identifies. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "thumbnails": {
     "type": "object",
     "description": "A map of thumbnail images associated with the search result. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
     "additionalProperties": {
      "$ref": "Thumbnail",
      "description": "The thumbnail image's name. This value is used as the key in the snippet.thumbnails map."
     }
    },
    "title": {
     "type": "string",
     "description": "The title to display for the search result."
    }
   }
  },
  "Subscription": {
   "id": "Subscription",
   "type": "object",
   "description": "A subscription resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video.",
   "properties": {
    "contentDetails": {
     "$ref": "SubscriptionContentDetails",
     "description": "The contentDetails object contains basic statistics about the subscription."
    },
    "etag": {
     "type": "string",
     "description": "The ETag of the subscription resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the subscription."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For subscription resources, the value will be youtube#subscription.",
     "default": "youtube#subscription"
    },
    "snippet": {
     "$ref": "SubscriptionSnippet",
     "description": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to."
    }
   }
  },
  "SubscriptionContentDetails": {
   "id": "SubscriptionContentDetails",
   "type": "object",
   "description": "Details about the content to witch a subscription refers.",
   "properties": {
    "newItemCount": {
     "type": "integer",
     "description": "The number of new items in the subscription since its content was last read.",
     "format": "uint32"
    },
    "totalItemCount": {
     "type": "integer",
     "description": "The approximate number of items that the subscription points to.",
     "format": "uint32"
    }
   }
  },
  "SubscriptionListResponse": {
   "id": "SubscriptionListResponse",
   "type": "object",
   "description": "A paginated list of subscriptions returned as the response to a youtube.subscriptions.list call.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the response."
    },
    "items": {
     "type": "array",
     "description": "A list of subscriptions that match the request criteria.",
     "items": {
      "$ref": "Subscription"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value will be youtube#subscriptionListResponse.",
     "default": "youtube#subscriptionListResponse"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    },
    "prevPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    }
   }
  },
  "SubscriptionSnippet": {
   "id": "SubscriptionSnippet",
   "type": "object",
   "description": "Basic details about a subscription, including title, description and thumbnails of the subscribed item.",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the subscriber's channel."
    },
    "description": {
     "type": "string",
     "description": "The subscription's details."
    },
    "publishedAt": {
     "type": "string",
     "description": "The date and time that the subscription was created. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "resourceId": {
     "$ref": "ResourceId",
     "description": "The id object contains information about the channel that the user subscribed to.",
     "annotations": {
      "required": [
       "youtube.subscriptions.insert"
      ]
     }
    },
    "thumbnails": {
     "type": "object",
     "description": "A map of thumbnail images associated with the subscription. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
     "additionalProperties": {
      "$ref": "Thumbnail",
      "description": "The thumbnail image's name."
     }
    },
    "title": {
     "type": "string",
     "description": "The subscription's title."
    }
   }
  },
  "Thumbnail": {
   "id": "Thumbnail",
   "type": "object",
   "description": "A thumbnail is an image representing a YouTube resource.",
   "properties": {
    "height": {
     "type": "integer",
     "description": "(Optional) Height of the thumbnail image.",
     "format": "uint32"
    },
    "url": {
     "type": "string",
     "description": "The thumbnail image's URL."
    },
    "width": {
     "type": "integer",
     "description": "(Optional) Width of the thumbnail image.",
     "format": "uint32"
    }
   }
  },
  "Video": {
   "id": "Video",
   "type": "object",
   "description": "A video resource represents a YouTube video.",
   "properties": {
    "contentDetails": {
     "$ref": "VideoContentDetails",
     "description": "The contentDetails object contains information about the video content, including the length of the video and its aspect ratio."
    },
    "etag": {
     "type": "string",
     "description": "The ETag of the video resource."
    },
    "fileDetails": {
     "$ref": "VideoFileDetails",
     "description": "The fileDetails object encapsulates information about the video file that was uploaded to YouTube, including the file's resolution, duration, audio and video codecs, stream bitrates, and more. This data can only be retrieved by the video owner."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the video."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For video resources, the value will be youtube#video.",
     "default": "youtube#video"
    },
    "monetizationDetails": {
     "$ref": "VideoMonetizationDetails",
     "description": "The monetizationDetails object encapsulates information about the monetization status of the video."
    },
    "player": {
     "$ref": "VideoPlayer",
     "description": "The player object contains information that you would use to play the video in an embedded player."
    },
    "processingDetails": {
     "$ref": "VideoProcessingDetails",
     "description": "The processingProgress object encapsulates information about YouTube's progress in processing the uploaded video file. The properties in the object identify the current processing status and an estimate of the time remaining until YouTube finishes processing the video. This part also indicates whether different types of data or content, such as file details or thumbnail images, are available for the video.\n\nThe processingProgress object is designed to be polled so that the video uploaded can track the progress that YouTube has made in processing the uploaded video file. This data can only be retrieved by the video owner."
    },
    "projectDetails": {
     "$ref": "VideoProjectDetails",
     "description": "The projectDetails object contains information about the project specific video metadata."
    },
    "recordingDetails": {
     "$ref": "VideoRecordingDetails",
     "description": "The recordingDetails object encapsulates information about the location, date and address where the video was recorded."
    },
    "snippet": {
     "$ref": "VideoSnippet",
     "description": "The snippet object contains basic details about the video, such as its title, description, and category."
    },
    "statistics": {
     "$ref": "VideoStatistics",
     "description": "The statistics object contains statistics about the video."
    },
    "status": {
     "$ref": "VideoStatus",
     "description": "The status object contains information about the video's uploading, processing, and privacy statuses."
    },
    "suggestions": {
     "$ref": "VideoSuggestions",
     "description": "The suggestions object encapsulates suggestions that identify opportunities to improve the video quality or the metadata for the uploaded video. This data can only be retrieved by the video owner."
    },
    "topicDetails": {
     "$ref": "VideoTopicDetails",
     "description": "The topicDetails object encapsulates information about Freebase topics associated with the video."
    }
   }
  },
  "VideoCategory": {
   "id": "VideoCategory",
   "type": "object",
   "description": "A videoCategory resource identifies a category that has been or could be associated with uploaded videos.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the videoCategory resource."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the video category."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For video category resources, the value will be youtube#videoCategory.",
     "default": "youtube#videoCategory"
    },
    "snippet": {
     "$ref": "VideoCategorySnippet",
     "description": "The snippet object contains basic details about the video category, including its title."
    }
   }
  },
  "VideoCategoryListResponse": {
   "id": "VideoCategoryListResponse",
   "type": "object",
   "description": "A paginated list of video categories returned as the response to a youtube.videoCategory.list call.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the response."
    },
    "items": {
     "type": "array",
     "description": "A list of video categories that can be associated with YouTube videos. In this map, the video category ID is the map key, and its value is the corresponding videoCategory resource.",
     "items": {
      "$ref": "VideoCategory"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value will be youtube#videoCategoryListResponse.",
     "default": "youtube#videoCategoryListResponse"
    }
   }
  },
  "VideoCategorySnippet": {
   "id": "VideoCategorySnippet",
   "type": "object",
   "properties": {
    "channelId": {
     "type": "string",
     "description": "The YouTube channel that created the video category.",
     "default": "UCBR8-60-B28hp2BmDPdntcQ"
    },
    "title": {
     "type": "string"
    }
   }
  },
  "VideoContentDetails": {
   "id": "VideoContentDetails",
   "type": "object",
   "description": "Details about the content of a YouTube Video.",
   "properties": {
    "caption": {
     "type": "string",
     "description": "The value of captions indicates whether the video has captions or not."
    },
    "definition": {
     "type": "string",
     "description": "The value of definition indicates whether the video is available in high definition or only in standard definition."
    },
    "dimension": {
     "type": "string",
     "description": "The value of dimension indicates whether the video is available in 3D or in 2D."
    },
    "duration": {
     "type": "string",
     "description": "The length of the video. The tag value is an ISO 8601 duration in the format PT#M#S, in which the letters PT indicate that the value specifies a period of time, and the letters M and S refer to length in minutes and seconds, respectively. The # characters preceding the M and S letters are both integers that specify the number of minutes (or seconds) of the video. For example, a value of PT15M51S indicates that the video is 15 minutes and 51 seconds long."
    },
    "licensedContent": {
     "type": "boolean",
     "description": "The value of is_license_content indicates whether the video is licensed content."
    },
    "regionRestriction": {
     "$ref": "VideoContentDetailsRegionRestriction",
     "description": "The regionRestriction object contains information about the countries where a video is (or is not) viewable. The object will contain either the contentDetails.regionRestriction.allowed property or the contentDetails.regionRestriction.blocked property."
    }
   }
  },
  "VideoContentDetailsRegionRestriction": {
   "id": "VideoContentDetailsRegionRestriction",
   "type": "object",
   "description": "Region restriction of the video.",
   "properties": {
    "allowed": {
     "type": "array",
     "description": "A list of region codes that identify countries where the video is viewable. If this property is present and a country is not listed in its value, then the video is blocked from appearing in that country. If this property is present and contains an empty list, the video is blocked in all countries.",
     "items": {
      "type": "string"
     }
    },
    "blocked": {
     "type": "array",
     "description": "A list of region codes that identify countries where the video is blocked. If this property is present and a country is not listed in its value, then the video is viewable in that country. If this property is present and contains an empty list, the video is viewable in all countries.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "VideoFileDetails": {
   "id": "VideoFileDetails",
   "type": "object",
   "description": "Describes original video file properties, including technical details about audio and video streams, but also metadata information like content length, digitization time, or geotagging information.",
   "properties": {
    "audioStreams": {
     "type": "array",
     "description": "A list of audio streams contained in the uploaded video file. Each item in the list contains detailed metadata about an audio stream.",
     "items": {
      "$ref": "VideoFileDetailsAudioStream"
     }
    },
    "bitrateBps": {
     "type": "string",
     "description": "The uploaded video file's combined (video and audio) bitrate in bits per second.",
     "format": "uint64"
    },
    "container": {
     "type": "string",
     "description": "The uploaded video file's container format."
    },
    "creationTime": {
     "type": "string",
     "description": "The date and time when the uploaded video file was created. The value is specified in ISO 8601 format. Currently, the following ISO 8601 formats are supported:  \n- Date only: YYYY-MM-DD \n- Naive time: YYYY-MM-DDTHH:MM:SS \n- Time with timezone: YYYY-MM-DDTHH:MM:SS+HH:MM"
    },
    "durationMs": {
     "type": "string",
     "description": "The length of the uploaded video in milliseconds.",
     "format": "uint64"
    },
    "fileName": {
     "type": "string",
     "description": "The uploaded file's name. This field is present whether a video file or another type of file was uploaded."
    },
    "fileSize": {
     "type": "string",
     "description": "The uploaded file's size in bytes. This field is present whether a video file or another type of file was uploaded.",
     "format": "uint64"
    },
    "fileType": {
     "type": "string",
     "description": "The uploaded file's type as detected by YouTube's video processing engine. Currently, YouTube only processes video files, but this field is present whether a video file or another type of file was uploaded."
    },
    "recordingLocation": {
     "$ref": "GeoPoint",
     "description": "Geographic coordinates that identify the place where the uploaded video was recorded. Coordinates are defined using WGS 84."
    },
    "videoStreams": {
     "type": "array",
     "description": "A list of video streams contained in the uploaded video file. Each item in the list contains detailed metadata about a video stream.",
     "items": {
      "$ref": "VideoFileDetailsVideoStream"
     }
    }
   }
  },
  "VideoFileDetailsAudioStream": {
   "id": "VideoFileDetailsAudioStream",
   "type": "object",
   "description": "Information about an audio stream.",
   "properties": {
    "bitrateBps": {
     "type": "string",
     "description": "The audio stream's bitrate, in bits per second.",
     "format": "uint64"
    },
    "channelCount": {
     "type": "integer",
     "description": "The number of audio channels that the stream contains.",
     "format": "uint32"
    },
    "codec": {
     "type": "string",
     "description": "The audio codec that the stream uses."
    },
    "vendor": {
     "type": "string",
     "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code."
    }
   }
  },
  "VideoFileDetailsVideoStream": {
   "id": "VideoFileDetailsVideoStream",
   "type": "object",
   "description": "Information about a video stream.",
   "properties": {
    "aspectRatio": {
     "type": "number",
     "description": "The video content's display aspect ratio, which specifies the aspect ratio in which the video should be displayed.",
     "format": "double"
    },
    "bitrateBps": {
     "type": "string",
     "description": "The video stream's bitrate, in bits per second.",
     "format": "uint64"
    },
    "codec": {
     "type": "string",
     "description": "The video codec that the stream uses."
    },
    "frameRateFps": {
     "type": "number",
     "description": "The video stream's frame rate, in frames per second.",
     "format": "double"
    },
    "heightPixels": {
     "type": "integer",
     "description": "The encoded video content's height in pixels.",
     "format": "uint32"
    },
    "rotation": {
     "type": "string",
     "description": "The amount that YouTube needs to rotate the original source content to properly display the video."
    },
    "vendor": {
     "type": "string",
     "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code."
    },
    "widthPixels": {
     "type": "integer",
     "description": "The encoded video content's width in pixels. You can calculate the video's encoding aspect ratio as width_pixels / height_pixels.",
     "format": "uint32"
    }
   }
  },
  "VideoListResponse": {
   "id": "VideoListResponse",
   "type": "object",
   "description": "A paginated list of videos returned as the response to a youtube.videos.list call.",
   "properties": {
    "etag": {
     "type": "string",
     "description": "The ETag of the response."
    },
    "items": {
     "type": "array",
     "description": "A list of videos that match the request criteria.",
     "items": {
      "$ref": "Video"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value will be youtube#videoListResponse.",
     "default": "youtube#videoListResponse"
    }
   }
  },
  "VideoMonetizationDetails": {
   "id": "VideoMonetizationDetails",
   "type": "object",
   "description": "Details about monetization of a YouTube Video.",
   "properties": {
    "access": {
     "$ref": "AccessPolicy",
     "description": "The value of access indicates whether the video can be monetized or not."
    }
   }
  },
  "VideoPlayer": {
   "id": "VideoPlayer",
   "type": "object",
   "description": "Player to be used for a video playback.",
   "properties": {
    "embedHtml": {
     "type": "string",
     "description": "An \u003ciframe\u003e tag that embeds a player that will play the video."
    }
   }
  },
  "VideoProcessingDetails": {
   "id": "VideoProcessingDetails",
   "type": "object",
   "description": "Describes processing status and progress and availability of some other Video resource parts.",
   "properties": {
    "editorSuggestionsAvailability": {
     "type": "string",
     "description": "This value indicates whether video editing suggestions, which might improve video quality or the playback experience, are available for the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
    },
    "fileDetailsAvailability": {
     "type": "string",
     "description": "This value indicates whether file details are available for the uploaded video. You can retrieve a video's file details by requesting the fileDetails part in your videos.list() request."
    },
    "processingFailureReason": {
     "type": "string",
     "description": "The reason that YouTube failed to process the video. This property will only have a value if the processingStatus property's value is failed."
    },
    "processingIssuesAvailability": {
     "type": "string",
     "description": "This value indicates whether the video processing engine has generated suggestions that might improve YouTube's ability to process the the video, warnings that explain video processing problems, or errors that cause video processing problems. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
    },
    "processingProgress": {
     "$ref": "VideoProcessingDetailsProcessingProgress",
     "description": "The processingProgress object contains information about the progress YouTube has made in processing the video. The values are really only relevant if the video's processing status is processing."
    },
    "processingStatus": {
     "type": "string",
     "description": "The video's processing status. This value indicates whether YouTube was able to process the video or if the video is still being processed."
    },
    "tagSuggestionsAvailability": {
     "type": "string",
     "description": "This value indicates whether keyword (tag) suggestions are available for the video. Tags can be added to a video's metadata to make it easier for other users to find the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
    },
    "thumbnailsAvailability": {
     "type": "string",
     "description": "This value indicates whether thumbnail images have been generated for the video."
    }
   }
  },
  "VideoProcessingDetailsProcessingProgress": {
   "id": "VideoProcessingDetailsProcessingProgress",
   "type": "object",
   "description": "Video processing progress and completion time estimate.",
   "properties": {
    "partsProcessed": {
     "type": "string",
     "description": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating:\n100 * parts_processed / parts_total\n\nNote that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video.",
     "format": "uint64"
    },
    "partsTotal": {
     "type": "string",
     "description": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video.",
     "format": "uint64"
    },
    "timeLeftMs": {
     "type": "string",
     "description": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video.",
     "format": "uint64"
    }
   }
  },
  "VideoProjectDetails": {
   "id": "VideoProjectDetails",
   "type": "object",
   "description": "Project specific details about the content of a YouTube Video.",
   "properties": {
    "tags": {
     "type": "array",
     "description": "A list of project tags associated with the video during the upload.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "VideoRecordingDetails": {
   "id": "VideoRecordingDetails",
   "type": "object",
   "description": "Recording information associated with the video.",
   "properties": {
    "location": {
     "$ref": "GeoPoint",
     "description": "The geolocation information associated with the video."
    },
    "locationDescription": {
     "type": "string",
     "description": "The text description of the location where the video was recorded."
    },
    "recordingDate": {
     "type": "string",
     "description": "The date and time when the video was recorded. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    }
   }
  },
  "VideoSnippet": {
   "id": "VideoSnippet",
   "type": "object",
   "description": "Basic details about a video, including title, description, uploader, thumbnails and category.",
   "properties": {
    "categoryId": {
     "type": "string",
     "description": "The YouTube video category associated with the video."
    },
    "channelId": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the channel that the video was uploaded to."
    },
    "channelTitle": {
     "type": "string",
     "description": "Channel title for the channel that the video belongs to."
    },
    "description": {
     "type": "string",
     "description": "The video's description."
    },
    "publishedAt": {
     "type": "string",
     "description": "The date and time that the video was uploaded. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
     "format": "date-time"
    },
    "tags": {
     "type": "array",
     "description": "A list of keyword tags associated with the video. Tags may contain spaces. This field is only visible to the video's uploader.",
     "items": {
      "type": "string"
     }
    },
    "thumbnails": {
     "type": "object",
     "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
     "additionalProperties": {
      "$ref": "Thumbnail",
      "description": "Name of the thumbnail, to easily identify it. The set of names is dependent on the resource the thumbnail is for."
     }
    },
    "title": {
     "type": "string",
     "description": "The video's title."
    }
   }
  },
  "VideoStatistics": {
   "id": "VideoStatistics",
   "type": "object",
   "description": "Statistics about the video, such as the number of times the video was viewed or liked.",
   "properties": {
    "commentCount": {
     "type": "string",
     "description": "The number of comments for the video.",
     "format": "uint64"
    },
    "dislikeCount": {
     "type": "string",
     "description": "The number of users who have indicated that they disliked the video by giving it a negative rating.",
     "format": "uint64"
    },
    "favoriteCount": {
     "type": "string",
     "description": "The number of users who currently have the video marked as a favorite video.",
     "format": "uint64"
    },
    "likeCount": {
     "type": "string",
     "description": "The number of users who have indicated that they liked the video by giving it a positive rating.",
     "format": "uint64"
    },
    "viewCount": {
     "type": "string",
     "description": "The number of times the video has been viewed.",
     "format": "uint64"
    }
   }
  },
  "VideoStatus": {
   "id": "VideoStatus",
   "type": "object",
   "description": "The status of a video details the video's upload status and privacy status.",
   "properties": {
    "embeddable": {
     "type": "boolean",
     "description": "This value indicates if the video can be embedded on another website."
    },
    "failureReason": {
     "type": "string",
     "description": "This value explains why a video failed to upload. This property is only present if the uploadStatus property indicates that the upload failed."
    },
    "license": {
     "type": "string",
     "description": "The video's license."
    },
    "privacyStatus": {
     "type": "string",
     "description": "The video's privacy status."
    },
    "rejectionReason": {
     "type": "string",
     "description": "This value explains why YouTube rejected an uploaded video. This property is only present if the uploadStatus property indicates that the upload was rejected."
    },
    "uploadStatus": {
     "type": "string",
     "description": "The status of the uploaded video."
    }
   }
  },
  "VideoSuggestions": {
   "id": "VideoSuggestions",
   "type": "object",
   "description": "Specifies suggestions on how to improve video content, including encoding hints, tag suggestions, and editor suggestions.",
   "properties": {
    "editorSuggestions": {
     "type": "array",
     "description": "A list of video editing operations that might improve the video quality or playback experience of the uploaded video.",
     "items": {
      "type": "string"
     }
    },
    "processingErrors": {
     "type": "array",
     "description": "A list of errors that will prevent YouTube from successfully processing the uploaded video video. These errors indicate that, regardless of the video's current processing status, eventually, that status will almost certainly be failed.",
     "items": {
      "type": "string"
     }
    },
    "processingHints": {
     "type": "array",
     "description": "A list of suggestions that may improve YouTube's ability to process the video.",
     "items": {
      "type": "string"
     }
    },
    "processingWarnings": {
     "type": "array",
     "description": "A list of reasons why YouTube may have difficulty transcoding the uploaded video or that might result in an erroneous transcoding. These warnings are generated before YouTube actually processes the uploaded video file. In addition, they identify issues that are unlikely to cause the video processing to fail but that might cause problems such as sync issues, video artifacts, or a missing audio track.",
     "items": {
      "type": "string"
     }
    },
    "tagSuggestions": {
     "type": "array",
     "description": "A list of keyword tags that could be added to the video's metadata to increase the likelihood that users will locate your video when searching or browsing on YouTube.",
     "items": {
      "$ref": "VideoSuggestionsTagSuggestion"
     }
    }
   }
  },
  "VideoSuggestionsTagSuggestion": {
   "id": "VideoSuggestionsTagSuggestion",
   "type": "object",
   "description": "A single tag suggestion with it's relevance information.",
   "properties": {
    "categoryRestricts": {
     "type": "array",
     "description": "A set of video categories for which the tag is relevant. You can use this information to display appropriate tag suggestions based on the video category that the video uploader associates with the video. By default, tag suggestions are relevant for all categories if there are no restricts defined for the keyword.",
     "items": {
      "type": "string"
     }
    },
    "tag": {
     "type": "string",
     "description": "The keyword tag suggested for the video."
    }
   }
  },
  "VideoTopicDetails": {
   "id": "VideoTopicDetails",
   "type": "object",
   "description": "Freebase topic information related to the video.",
   "properties": {
    "topicIds": {
     "type": "array",
     "description": "A list of Freebase topic IDs associated with the video. You can retrieve information about each topic using the Freebase Topic API.",
     "items": {
      "type": "string"
     }
    }
   }
  }
 },
 "resources": {
  "activities": {
   "methods": {
    "insert": {
     "id": "youtube.activities.insert",
     "path": "activities",
     "httpMethod": "POST",
     "description": "Posts a bulletin for a specific channel. (The user submitting the request must be authorized to act on the channel's behalf.)",
     "parameters": {
      "part": {
       "type": "string",
       "description": "The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.\n\nThe part names that you can include in the parameter value are snippet and contentDetails.",
       "required": true,
       "location": "query"
      }
     },
     "parameterOrder": [
      "part"
     ],
     "request": {
      "$ref": "Activity"
     },
     "response": {
      "$ref": "Activity"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtube"
     ]
    },
    "list": {
     "id": "youtube.activities.list",
     "path": "activities",
     "httpMethod": "GET",
     "description": "Returns a list of channel activity events that match the request criteria. For example, you can retrieve events associated with a particular channel, events associated with the user's subscriptions and Google+ friends, or the YouTube home page feed, which is customized for each user.",
     "parameters": {
      "channelId": {
       "type": "string",
       "description": "The channelId parameter specifies a unique YouTube channel ID. The API will then return a list of that channel's activities.",
       "location": "query"
      },
      "home": {
       "type": "string",
       "description": "Set this parameter's value to true to retrieve the activity feed that displays on the YouTube home page for the currently authenticated user.",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "USE_DESCRIPTION --- channels:list:maxResults",
       "default": "5",
       "format": "uint32",
       "minimum": "0",
       "maximum": "50",
       "location": "query"
      },
      "mine": {
       "type": "boolean",
       "description": "Set this parameter's value to true to retrieve a feed of the authenticated user's activities.",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "USE_DESCRIPTION --- channels:list:pageToken",
       "location": "query"
      },
      "part": {
       "type": "string",
       "description": "The part parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails.\n\nIf the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set part=snippet, the API response will also contain all of those nested properties.",
       "required": true,
       "location": "query"
      },
      "publishedAfter": {
       "type": "string",
       "description": "The publishedAfter parameter specifies the earliest date and time that an activity could have occurred for that activity to be included in the API response. If the parameter value specifies a day, but not a time, then any activities that occurred that day will be included in the result set. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
       "format": "date-time",
       "location": "query"
      },
      "publishedBefore": {
       "type": "string",
       "description": "The publishedBefore parameter specifies the date and time before which an activity must have occurred for that activity to be included in the API response. If the parameter value specifies a day, but not a time, then any activities that occurred that day will be excluded from the result set. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
       "format": "date-time",
       "location": "query"
      }
     },
     "parameterOrder": [
      "part"
     ],
     "response": {
      "$ref": "ActivityListResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtube",
      "https://www.googleapis.com/auth/youtube.readonly"
     ]
    }
   }
  },
  "channels": {
   "methods": {
    "list": {
     "id": "youtube.channels.list",
     "path": "channels",
     "httpMethod": "GET",
     "description": "Returns a collection of zero or more channel resources that match the request criteria.",
     "parameters": {
      "categoryId": {
       "type": "string",
       "description": "The categoryId parameter specifies a YouTube guide category, thereby requesting YouTube channels associated with that category.",
       "location": "query"
      },
      "id": {
       "type": "string",
       "description": "The id parameter specifies a comma-separated list of the YouTube channel ID(s) for the resource(s) that are being retrieved. In a channel resource, the id property specifies the channel's YouTube channel ID.",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set.",
       "default": "5",
       "format": "uint32",
       "minimum": "0",
       "maximum": "50",
       "location": "query"
      },
      "mine": {
       "type": "boolean",
       "description": "Set this parameter's value to true to instruct the API to only return channels owned by the authenticated user.",
       "location": "query"
      },
      "mySubscribers": {
       "type": "string",
       "description": "Set this parameter's value to true to retrieve a list of channels that subscribed to the authenticated user's channel.",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
       "location": "query"
      },
      "part": {
       "type": "string",
       "description": "The part parameter specifies a comma-separated list of one or more channel resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, statistics, and topicDetails.\n\nIf the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set part=contentDetails, the API response will also contain all of those nested properties.",
       "required": true,
       "location": "query"
      }
     },
     "parameterOrder": [
      "part"
     ],
     "response": {
      "$ref": "ChannelListResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtube",
      "https://www.googleapis.com/auth/youtube.readonly",
      "https://www.googleapis.com/auth/youtubepartner"
     ]
    }
   }
  },
  "guideCategories": {
   "methods": {
    "list": {
     "id": "youtube.guideCategories.list",
     "path": "guideCategories",
     "httpMethod": "GET",
     "description": "Returns a list of categories that can be associated with YouTube channels.",
     "parameters": {
      "hl": {
       "type": "string",
       "description": "The hl parameter specifies the language that will be used for text values in the API response.",
       "default": "en-US",
       "location": "query"
      },
      "id": {
       "type": "string",
       "description": "The id parameter specifies a comma-separated list of the YouTube channel category ID(s) for the resource(s) that are being retrieved. In a guideCategory resource, the id property specifies the YouTube channel category ID.",
       "location": "query"
      },
      "part": {
       "type": "string",
       "description": "The part parameter specifies a comma-separated list of one or more guideCategory resource properties that the API response will include. The part names that you can include in the parameter value are id and snippet.\n\nIf the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a guideCategory resource, the snippet property contains other properties, such as the category's title. If you set part=snippet, the API response will also contain all of those nested properties.",
       "required": true,
       "location": "query"
      },
      "regionCode": {
       "type": "string",
       "description": "The regionCode parameter instructs the API to return the list of guide categories available in the specified country. The parameter value is an ISO 3166-1 alpha-2 country code.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "part"
     ],
     "response": {
      "$ref": "GuideCategoryListResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtube",
      "https://www.googleapis.com/auth/youtube.readonly",
      "https://www.googleapis.com/auth/youtubepartner"
     ]
    }
   }
  },
  "liveBroadcasts": {
   "methods": {
    "bind": {
     "id": "youtube.liveBroadcasts.bind",
     "path": "liveBroadcasts/bind",
     "httpMethod": "POST",
     "description": "Bind a YouTube live broadcast to a stream.",
     "parameters": {
      "id": {
       "type": "string",
       "description": "ID of the broadcast to which the stream will be bound",
       "required": true,
       "location": "query"
      },
      "part": {
       "type": "string",
       "description": "Live broadcast parts to be returned in the response. Valid values are: id, snippet, status, slateSettings, contentDetails.",
       "required": true,
       "location": "query"
      },
      "streamId": {
       "type": "string",
       "description": "ID of the stream to bind to the broadcast",
       "location": "query"
      }
     },
     "parameterOrder": [
      "id",
      "part"
     ],
     "response": {
      "$ref": "LiveBroadcast"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtube"
     ]
    },
    "delete": {
     "id": "youtube.liveBroadcasts.delete",
     "path": "liveBroadcasts",
     "httpMethod": "DELETE",
     "description": "Delete a YouTube live broadcast.",
     "parameters": {
      "id": {
       "type": "string",
       "description": "The id parameter specifies the YouTube live broadcast ID for the resource that is being deleted.",
       "required": true,
       "location": "query"
      }
     },
     "parameterOrder": [
      "id"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/youtube"
     ]
    },
    "insert": {
     "id": "youtube.liveBroadcasts.insert",
     "path": "liveBroadcasts",
     "httpMethod": "POST",
     "description": "Insert a YouTube live broadcast.",
     "parameters": {
      "part": {
       "type": "string",
       "description": "Live broadcast parts to be set for the broadcast as well as included in the returned response. Valid values are: snippet, status, slateSettings, contentDetails.",
       "required": true,
       "location": "query"
      }
     },
     "parameterOrder": [
      "part"
     ],
     "request": {
      "$ref": "LiveBroadcast"
     },
     "response": {
      "$ref": "LiveBroadcast"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtube"
     ]
    },
    "list": {
     "id": "youtube.liveBroadcasts.list",
     "path": "liveBroadcasts",
     "httpMethod": "GET",
     "description": "Browse the YouTube broadcast collection.",
     "parameters": {
      "broadcastStatus": {
       "type": "string",
       "description": "Filter to only return broadcasts with the given status by the authenticated user.",
       "enum": [
        "active",
        "all",
        "completed",
        "upcoming"
       ],
       "enumDescriptions": [
        "Return active broadcasts.",
        "Return all the broadcasts.",
        "Return previously completed broadcasts.",
        "Return upcoming broadcasts."
       ],
       "location": "query"
      },
      "id": {
       "type": "string",
       "description": "IDs of the live broadcasts to be returned.",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "Maximum number of results to return",
       "default": "5",
       "format": "uint32",
       "minimum": "0",
       "maximum": "50",
       "location": "query"
      },
      "mine": {
       "type": "boolean",
       "description": "Filter to only return broadcasts owned by authenticated user.",
       "location": "query"
      },
      "onBehalfOf": {
       "type": "string",
       "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Token for the page selection.",
       "location": "query"
      },
      "part": {
       "type": "string",
       "description": "Live broadcast parts to include in the returned response. Valid values are: id, snippet, status, slateSettings, contentDetails.",
       "required": true,
       "location": "query"
      }
     },
     "parameterOrder": [
      "part"
     ],
     "response": {
      "$ref": "LiveBroadcastList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtube.readonly"
     ]
    },
    "transition": {
     "id": "youtube.liveBroadcasts.transition",
     "path": "liveBroadcasts/transition",
     "httpMethod": "POST",
     "description": "Change the broadcasting status of a YouTube live broadcast and start all the processes associated with it.",
     "parameters": {
      "broadcastStatus": {
       "type": "string",
       "description": "Desired broadcast status.",
       "required": true,
       "enum": [
        "complete",
        "live",
        "testing"
       ],
       "enumDescriptions": [
        "Stop broadcasting.",
        "Start broadcasting.",
        "Start broadcast testing."
       ],
       "location": "query"
      },
      "id": {
       "type": "string",
       "description": "ID of the broadcast to change status",
       "required": true,
       "location": "query"
      },
      "part": {
       "type": "string",
       "description": "Live broadcast parts to be returned in the response. Valid values are: id, snippet, status, slateSettings, contentDetails.",
       "required": true,
       "location": "query"
      }
     },
     "parameterOrder": [
      "broadcastStatus",
      "id",
      "part"
     ],
     "response": {
      "$ref": "LiveBroadcast"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtube"
     ]
    },
    "update": {
     "id": "youtube.liveBroadcasts.update",
     "path": "liveBroadcasts",
     "httpMethod": "PUT",
     "description": "Update a YouTube live broadcast.",
     "parameters": {
      "part": {
       "type": "string",
       "description": "The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.\n\nThe part names that you can include in the parameter value are id, snippet, status, slateSettings, contentDetails.",
       "required": true,
       "location": "query"
      }
     },
     "parameterOrder": [
      "part"
     ],
     "request": {
      "$ref": "LiveBroadcast"
     },
     "response": {
      "$ref": "LiveBroadcast"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtube"
     ]
[...]
