{
 "kind": "discovery#restDescription",
 "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/su6xARXDviFKMcCcXpmlSeVVUas\"",
 "discoveryVersion": "v1",
 "id": "logging:v1beta3",
 "name": "logging",
 "version": "v1beta3",
 "revision": "20150615",
 "title": "Google Cloud Logging API",
 "description": "Google Cloud Logging API lets you create logs, ingest log entries, and manage log sinks.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/search-16.gif",
  "x32": "http://www.google.com/images/icons/product/search-32.gif"
 },
 "documentationLink": "https://cloud.google.com/logging/docs/",
 "protocol": "rest",
 "baseUrl": "https://logging.googleapis.com/",
 "basePath": "",
 "rootUrl": "https://logging.googleapis.com/",
 "servicePath": "",
 "batchPath": "batch",
 "parameters": {
  "access_token": {
   "type": "string",
   "description": "OAuth access token.",
   "location": "query"
  },
  "alt": {
   "type": "string",
   "description": "Data format for response.",
   "default": "json",
   "enumDescriptions": [
    "Responses with Content-Type of application/json",
    "Media download with context-dependent Content-Type",
    "Responses with Content-Type of application/x-protobuf"
   ],
   "location": "query"
  },
  "bearer_token": {
   "type": "string",
   "description": "OAuth bearer token.",
   "location": "query"
  },
  "callback": {
   "type": "string",
   "description": "JSONP",
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "pp": {
   "type": "boolean",
   "description": "Pretty-print response.",
   "default": "true",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
   "location": "query"
  },
  "upload_protocol": {
   "type": "string",
   "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
   "location": "query"
  },
  "uploadType": {
   "type": "string",
   "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
   "location": "query"
  },
  "$.xgafv": {
   "type": "string",
   "description": "V1 error format.",
   "enumDescriptions": [
    "v1 error format",
    "v2 error format"
   ],
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/logging.admin": {
     "description": "Administrate log data for your projects"
    },
    "https://www.googleapis.com/auth/logging.read": {
     "description": "View log data for your projects"
    },
    "https://www.googleapis.com/auth/logging.write": {
     "description": "Submit log data for your projects"
    }
   }
  }
 },
 "schemas": {
  "ListLogsResponse": {
   "id": "ListLogsResponse",
   "type": "object",
   "description": "Result returned from ListLogs.",
   "properties": {
    "logs": {
     "type": "array",
     "description": "A list of log resources.",
     "items": {
      "$ref": "Log"
     }
    },
    "nextPageToken": {
     "type": "string",
     "description": "If there are more results, then `nextPageToken` is returned in the response. To get the next batch of logs, use the value of `nextPageToken` as `pageToken` in the next call of `ListLogs`. If `nextPageToken` is empty, then there are no more results."
    }
   }
  },
  "Log": {
   "id": "Log",
   "type": "object",
   "description": "A log object.",
   "properties": {
    "name": {
     "type": "string",
     "description": "REQUIRED: The log's name. Example: `\"compute.googleapis.com/activity_log\"`."
    },
    "displayName": {
     "type": "string",
     "description": "Name used when displaying the log to the user (for example, in a UI). Example: `\"activity_log\"`"
    },
    "payloadType": {
     "type": "string",
     "description": "Type URL describing the expected payload type for the log."
    }
   }
  },
  "Empty": {
   "id": "Empty",
   "type": "object",
   "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
  },
  "WriteLogEntriesRequest": {
   "id": "WriteLogEntriesRequest",
   "type": "object",
   "description": "The parameters to WriteLogEntries.",
   "properties": {
    "commonLabels": {
     "type": "object",
     "description": "Metadata labels that apply to all log entries in this request, so that you don't have to repeat them in each log entry's `metadata.labels` field. If any of the log entries contains a (key, value) with the same key that is in `commonLabels`, then the entry's (key, value) overrides the one in `commonLabels`.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "entries": {
     "type": "array",
     "description": "Log entries to insert.",
     "items": {
      "$ref": "LogEntry"
     }
    }
   }
  },
  "LogEntry": {
   "id": "LogEntry",
   "type": "object",
   "description": "An individual entry in a log.",
   "properties": {
    "metadata": {
     "$ref": "LogEntryMetadata",
     "description": "Information about the log entry."
    },
    "protoPayload": {
     "type": "object",
     "description": "The log entry payload, represented as a protocol buffer that is expressed as a JSON object. You can only pass `protoPayload` values that belong to a set of approved types.",
     "additionalProperties": {
      "type": "any",
      "description": "Properties of the object. Contains field @ype with type URL."
     }
    },
    "textPayload": {
     "type": "string",
     "description": "The log entry payload, represented as a text string."
    },
    "structPayload": {
     "type": "object",
     "description": "The log entry payload, represented as a structure that is expressed as a JSON object.",
     "additionalProperties": {
      "type": "any",
      "description": "Properties of the object."
     }
    },
    "insertId": {
     "type": "string",
     "description": "A unique ID for the log entry. If you provide this field, the logging service considers other log entries in the same log with the same ID as duplicates which can be removed."
    },
    "log": {
     "type": "string",
     "description": "The log to which this entry belongs. When a log entry is ingested, the value of this field is set by the logging system."
    },
    "httpRequest": {
     "$ref": "HttpRequest",
     "description": "Information about the HTTP request associated with this log entry, if applicable."
    }
   }
  },
  "LogEntryMetadata": {
   "id": "LogEntryMetadata",
   "type": "object",
   "description": "Additional data that is associated with a log entry, set by the service creating the log entry.",
   "properties": {
    "timestamp": {
     "type": "string",
     "description": "The time the event described by the log entry occurred. Timestamps must be later than January 1, 1970."
    },
    "severity": {
     "type": "string",
     "description": "The severity of the log entry.",
     "enum": [
      "DEFAULT",
      "DEBUG",
      "INFO",
      "NOTICE",
      "WARNING",
      "ERROR",
      "CRITICAL",
      "ALERT",
      "EMERGENCY"
     ]
    },
    "projectId": {
     "type": "string",
     "description": "The project ID of the Google Cloud Platform service that created the log entry."
    },
    "serviceName": {
     "type": "string",
     "description": "The API name of the Google Cloud Platform service that created the log entry. For example, `\"compute.googleapis.com\"`."
    },
    "region": {
     "type": "string",
     "description": "The region name of the Google Cloud Platform service that created the log entry. For example, `\"us-central1\"`."
    },
    "zone": {
     "type": "string",
     "description": "The zone of the Google Cloud Platform service that created the log entry. For example, `\"us-central1-a\"`."
    },
    "userId": {
     "type": "string",
     "description": "The fully-qualified email address of the authenticated user that performed or requested the action represented by the log entry. If the log entry does not apply to an action taken by an authenticated user, then the field should be empty."
    },
    "labels": {
     "type": "object",
     "description": "A set of (key, value) data that provides additional information about the log entry. If the log entry is from one of the Google Cloud Platform sources listed below, the indicated (key, value) information must be provided: Google App Engine, service_name `appengine.googleapis.com`: \"appengine.googleapis.com/module_id\",  \"appengine.googleapis.com/version_id\",  and one of: \"appengine.googleapis.com/replica_index\",  \"appengine.googleapis.com/clone_id\",  or else provide the following Compute Engine labels: Google Compute Engine, service_name `compute.googleapis.com`: \"compute.googleapis.com/resource_type\", \"instance\" \"compute.googleapis.com/resource_id\",",
     "additionalProperties": {
      "type": "string"
     }
    }
   }
  },
  "HttpRequest": {
   "id": "HttpRequest",
   "type": "object",
   "description": "A common proto for logging HTTP requests.",
   "properties": {
    "requestMethod": {
     "type": "string",
     "description": "Request method, such as `GET`, `HEAD`, `PUT` or `POST`."
    },
    "requestUrl": {
     "type": "string",
     "description": "Contains the scheme (http|https), the host name, the path and the query portion of the URL that was requested."
    },
    "requestSize": {
     "type": "string",
     "description": "Size of the HTTP request message in bytes, including request headers and the request body.",
     "format": "int64"
    },
    "status": {
     "type": "integer",
     "description": "A response code indicates the status of response, e.g., 200.",
     "format": "int32"
    },
    "responseSize": {
     "type": "string",
     "description": "Size of the HTTP response message in bytes sent back to the client, including response headers and response body.",
     "format": "int64"
    },
    "userAgent": {
     "type": "string",
     "description": "User agent sent by the client, e.g., \"Mozilla/4.0 (compatible; MSIE 6.0; Windows 98; Q312461; .NET CLR 1.0.3705)\"."
    },
    "remoteIp": {
     "type": "string",
     "description": "IP address of the client who issues the HTTP request. Could be either IPv4 or IPv6."
    },
    "referer": {
     "type": "string",
     "description": "Referer (a.k.a. referrer) URL of request, as defined in http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html."
    }
   }
  },
  "WriteLogEntriesResponse": {
   "id": "WriteLogEntriesResponse",
   "type": "object",
   "description": "Result returned from WriteLogEntries. empty"
  },
  "ListLogServicesResponse": {
   "id": "ListLogServicesResponse",
   "type": "object",
   "description": "Result returned from `ListLogServicesRequest`.",
   "properties": {
    "logServices": {
     "type": "array",
     "description": "A list of log services.",
     "items": {
      "$ref": "LogService"
     }
    },
    "nextPageToken": {
     "type": "string",
     "description": "If there are more results, then `nextPageToken` is returned in the response. To get the next batch of services, use the value of `nextPageToken` as `pageToken` in the next call of `ListLogServices`. If `nextPageToken` is empty, then there are no more results."
    }
   }
  },
  "LogService": {
   "id": "LogService",
   "type": "object",
   "description": "A log service object.",
   "properties": {
    "name": {
     "type": "string",
     "description": "The service's name."
    },
    "indexKeys": {
     "type": "array",
     "description": "Label keys used when labeling log entries for this service. The order of the keys is significant, with higher priority keys coming earlier in the list.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ListLogServiceIndexesResponse": {
   "id": "ListLogServiceIndexesResponse",
   "type": "object",
   "description": "Result returned from ListLogServiceIndexesRequest.",
   "properties": {
    "serviceIndexPrefixes": {
     "type": "array",
     "description": "A list of log service index prefixes.",
     "items": {
      "type": "string"
     }
    },
    "nextPageToken": {
     "type": "string",
     "description": "If there are more results, then `nextPageToken` is returned in the response. To get the next batch of indexes, use the value of `nextPageToken` as `pageToken` in the next call of `ListLogServiceIndexes`. If `nextPageToken` is empty, then there are no more results."
    }
   }
  },
  "ListLogSinksResponse": {
   "id": "ListLogSinksResponse",
   "type": "object",
   "description": "Result returned from `ListLogSinks`.",
   "properties": {
    "sinks": {
     "type": "array",
     "description": "The requested log sinks. If any of the returned `LogSink` objects have an empty `destination` field, then call `logServices.sinks.get` to retrieve the complete `LogSink` object.",
     "items": {
      "$ref": "LogSink"
     }
    }
   }
  },
  "LogSink": {
   "id": "LogSink",
   "type": "object",
   "description": "An object that describes where a log may be written.",
   "properties": {
    "name": {
     "type": "string",
     "description": "The name of this sink. This is a client-assigned identifier for the resource. This is ignored by UpdateLogSink and UpdateLogServicesSink."
    },
    "destination": {
     "type": "string",
     "description": "The resource to send log entries to. The supported sink resource types are: + Google Cloud Storage: `storage.googleapis.com/BUCKET` or `BUCKET.storage.googleapis.com/` + Google BigQuery: `bigquery.googleapis.com/projects/PROJECT/datasets/DATASET` Currently the Cloud Logging API supports at most one sink for each resource type per log or log service resource."
    },
    "filter": {
     "type": "string",
     "description": "One Platform filter expression. If provided, only the messages matching the filter will be published."
    },
    "errors": {
     "type": "array",
     "description": "_Output only._ All active errors found for this sink.",
     "items": {
      "$ref": "LogError"
     }
    }
   }
  },
  "LogError": {
   "id": "LogError",
   "type": "object",
   "description": "A problem in a sink or the sink's configuration.",
   "properties": {
    "resource": {
     "type": "string",
     "description": "The resource associated with the error. It may be different from the sink destination. For example, the sink may point to a BigQuery dataset, but the error may refer to a table resource inside the dataset."
    },
    "status": {
     "$ref": "Status",
     "description": "The description of the last error observed."
    },
    "timeNanos": {
     "type": "string",
     "description": "The last time the error was observed, in nanoseconds since the Unix epoch.",
     "format": "int64"
    }
   }
  },
  "Status": {
   "id": "Status",
   "type": "object",
   "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). The error model is designed to be: - Simple to use and understand for most users - Flexible enough to meet unexpected needs # Overview The `Status` message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of [google.rpc.Code][], but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers *understand* and *resolve* the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package `google.rpc` which can be used for common error conditions. # Language mapping The `Status` message is the logical representation of the error model, but it is not necessarily the actual wire format. When the `Status` message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C. # Other uses The error model and the `Status` message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments. Example uses of this error model include: - Partial errors. If a service needs to return partial errors to the client, it may embed the `Status` in the normal response to indicate the partial errors. - Workflow errors. A typical workflow has multiple steps. Each step may have a `Status` message for error reporting purpose. - Batch operations. If a client uses batch request and batch response, the `Status` message should be used directly inside batch response, one for each error sub-response. - Asynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the `Status` message. - Logging. If some API errors are stored in logs, the message `Status` could be used directly after any stripping needed for security/privacy reasons.",
   "properties": {
    "code": {
     "type": "integer",
     "description": "The status code, which should be an enum value of [google.rpc.Code][].",
     "format": "int32"
    },
    "message": {
     "type": "string",
     "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client."
    },
    "details": {
     "type": "array",
     "description": "A list of messages that carry the error details. There will be a common set of message types for APIs to use.",
     "items": {
      "type": "object",
      "additionalProperties": {
       "type": "any",
       "description": "Properties of the object. Contains field @ype with type URL."
      }
     }
    }
   }
  },
  "ListLogServiceSinksResponse": {
   "id": "ListLogServiceSinksResponse",
   "type": "object",
   "description": "Result returned from `ListLogServiceSinks`.",
   "properties": {
    "sinks": {
     "type": "array",
     "description": "The requested log service sinks. If any of the returned `LogSink` objects have an empty `destination` field, then call `logServices.sinks.get` to retrieve the complete `LogSink` object.",
     "items": {
      "$ref": "LogSink"
     }
    }
   }
  },
  "ListSinksResponse": {
   "id": "ListSinksResponse",
   "type": "object",
   "description": "Result returned from `ListSinks`.",
   "properties": {
    "sinks": {
     "type": "array",
     "description": "The requested sinks.",
     "items": {
      "$ref": "LogSink"
     }
    }
   }
  },
  "RequestLog": {
   "id": "RequestLog",
   "type": "object",
   "description": "Complete log information about a single request to an application.",
   "properties": {
    "appId": {
     "type": "string",
     "description": "Identifies the application that handled this request."
    },
    "moduleId": {
     "type": "string",
     "description": "Identifies the module of the application that handled this request."
    },
    "versionId": {
     "type": "string",
     "description": "Version of the application that handled this request."
    },
    "requestId": {
     "type": "string",
     "description": "Globally unique identifier for a request, based on request start time. Request IDs for requests which started later will compare greater as binary strings than those for requests which started earlier.",
     "format": "byte"
    },
    "ip": {
     "type": "string",
     "description": "Origin IP address."
    },
    "startTime": {
     "type": "string",
     "description": "Time at which request was known to have begun processing."
    },
    "endTime": {
     "type": "string",
     "description": "Time at which request was known to end processing."
    },
    "latency": {
     "type": "string",
     "description": "Latency of the request."
    },
    "megaCycles": {
     "type": "string",
     "description": "Number of CPU megacycles used to process request.",
     "format": "int64"
    },
    "method": {
     "type": "string",
     "description": "Request method, such as `GET`, `HEAD`, `PUT`, `POST`, or `DELETE`."
    },
    "resource": {
     "type": "string",
     "description": "Contains the path and query portion of the URL that was requested. For example, if the URL was \"http://example.com/app?name=val\", the resource would be \"/app?name=val\". Any trailing fragment (separated by a '#' character) will not be included."
    },
    "httpVersion": {
     "type": "string",
     "description": "HTTP version of request."
    },
    "status": {
     "type": "integer",
     "description": "Response status of request.",
     "format": "int32"
    },
    "responseSize": {
     "type": "string",
     "description": "Size in bytes sent back to client by request.",
     "format": "int64"
    },
    "referrer": {
     "type": "string",
     "description": "Referrer URL of request."
    },
    "userAgent": {
     "type": "string",
     "description": "User agent used for making request."
    },
    "nickname": {
     "type": "string",
     "description": "A string that identifies a logged-in user who made this request, or empty if the user is not logged in. Most likely, this is the part of the user's email before the '@' sign. The field value is the same for different requests from the same user, but different users may have a similar name. This information is also available to the application via Users API. This field will be populated starting with App Engine 1.9.21."
    },
    "urlMapEntry": {
     "type": "string",
     "description": "File or class within URL mapping used for request. Useful for tracking down the source code which was responsible for managing request. Especially for multiply mapped handlers."
    },
    "host": {
     "type": "string",
     "description": "The Internet host and port number of the resource being requested."
    },
    "cost": {
     "type": "number",
     "description": "An indication of the relative cost of serving this request.",
     "format": "double"
    },
    "taskQueueName": {
     "type": "string",
     "description": "Queue name of the request (for an offline request)."
    },
    "taskName": {
     "type": "string",
     "description": "Task name of the request (for an offline request)."
    },
    "wasLoadingRequest": {
     "type": "boolean",
     "description": "Was this request a loading request for this instance?"
    },
    "pendingTime": {
     "type": "string",
     "description": "Time this request spent in the pending request queue, if it was pending at all."
    },
    "instanceIndex": {
     "type": "integer",
     "description": "If the instance that processed this request was individually addressable (i.e. belongs to a manually scaled module), this is the index of the instance.",
     "format": "int32"
    },
    "finished": {
     "type": "boolean",
     "description": "If true, represents a finished request. Otherwise, the request is active."
    },
    "instanceId": {
     "type": "string",
     "description": "An opaque identifier for the instance that handled the request.",
     "format": "byte"
    },
    "line": {
     "type": "array",
     "description": "List of log lines emitted by the application while serving this request, if requested.",
     "items": {
      "$ref": "LogLine"
     }
    },
    "appEngineRelease": {
     "type": "string",
     "description": "App Engine release version string."
    },
    "traceId": {
     "type": "string",
     "description": "Cloud Trace identifier of the trace for this request."
    },
    "sourceReference": {
     "type": "array",
     "description": "Source code for the application that handled this request. There can be more than one source reference per deployed application if source code is distributed among multiple repositories.",
     "items": {
      "$ref": "SourceReference"
     }
    }
   }
  },
  "LogLine": {
   "id": "LogLine",
   "type": "object",
   "description": "Application log line emitted while processing a request.",
   "properties": {
    "time": {
     "type": "string",
     "description": "Time when log entry was made. May be inaccurate."
    },
    "severity": {
     "type": "string",
     "description": "Severity of log.",
     "enum": [
      "DEFAULT",
      "DEBUG",
      "INFO",
      "NOTICE",
      "WARNING",
      "ERROR",
      "CRITICAL",
      "ALERT",
      "EMERGENCY"
     ]
    },
    "logMessage": {
     "type": "string",
     "description": "App provided log message."
    },
    "sourceLocation": {
     "$ref": "SourceLocation",
     "description": "Line of code that generated this log message."
    }
   }
  },
  "SourceLocation": {
   "id": "SourceLocation",
   "type": "object",
   "description": "Specifies a location in a source file.",
   "properties": {
    "file": {
     "type": "string",
     "description": "Source file name. May or may not be a fully qualified name, depending on the runtime environment."
    },
    "line": {
     "type": "string",
     "description": "Line within the source file.",
     "format": "int64"
    },
    "functionName": {
     "type": "string",
     "description": "Human-readable name of the function or method being invoked, with optional context such as the class or package name, for use in contexts such as the logs viewer where file:line number is less meaningful. This may vary by language, for example: in Java: qual.if.ied.Class.method in Go: dir/package.func in Python: function ..."
    }
   }
  },
  "SourceReference": {
   "id": "SourceReference",
   "type": "object",
   "description": "A reference to a particular snapshot of the source tree used to build and deploy an application.",
   "properties": {
    "repository": {
     "type": "string",
     "description": "Optional. A URI string identifying the repository. Example: \"https://github.com/GoogleCloudPlatform/kubernetes.git\""
    },
    "revisionId": {
     "type": "string",
     "description": "The canonical (and persistent) identifier of the deployed revision. Example (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\""
    }
   }
  },
  "AuditLog": {
   "id": "AuditLog",
   "type": "object",
   "description": "Common audit log format for Google Cloud Platform API calls.",
   "properties": {
    "serviceName": {
     "type": "string",
     "description": "Name of the API service for the request. e.g., datastore.googleapis.com"
    },
    "methodName": {
     "type": "string",
     "description": "Name of the service method or operation. Defined by the service. For API call events, should match the name of the API method. For example, `google.datastore.v1.Datastore.RunQuery` `google.logging.v1.LoggingService.DeleteLog`"
    },
    "resourceName": {
     "type": "string",
     "description": "Resource name of the resource or collection that is the target of this request, as a scheme-less URI, not including the API service name. For example: shelves/shelf_id/books shelves/shelf_id/books/book_id"
    },
    "numResponseItems": {
     "type": "string",
     "description": "If applicable, the number of items returned from a List or Query API method.",
     "format": "int64"
    },
    "status": {
     "$ref": "Status",
     "description": "The status of the overall API call."
    },
    "authenticationInfo": {
     "$ref": "AuthenticationInfo",
     "description": "Authentication information about the call."
    },
    "authorizationInfo": {
     "type": "array",
     "description": "Authorization information about the call. If there are multiple resources or permissions involved in authorizing the request, there will be one AuthorizationInfo element for each {resource, permission} tuple.",
     "items": {
      "$ref": "AuthorizationInfo"
     }
    },
    "requestMetadata": {
     "$ref": "RequestMetadata",
     "description": "Metadata about the request."
    },
    "serviceData": {
     "type": "object",
     "description": "Service specific data about the request, response, and other event data. This should include all request parameters or response elements, except for parameters that are large or privacy-sensitive. It should never contain user-generated data (such as file contents).",
     "additionalProperties": {
      "type": "any",
      "description": "Properties of the object. Contains field @ype with type URL."
     }
    },
    "bigqueryData": {
     "$ref": "AuditData",
     "description": "Service-specific data for BigQuery."
    }
   }
  },
  "AuthenticationInfo": {
   "id": "AuthenticationInfo",
   "type": "object",
   "description": "Authentication information for the call.",
   "properties": {
    "principalEmail": {
     "type": "string",
     "description": "Email address of the authenticated user making the request"
    }
   }
  },
  "AuthorizationInfo": {
   "id": "AuthorizationInfo",
   "type": "object",
   "description": "Authorization information for the call.",
   "properties": {
    "resource": {
     "type": "string",
     "description": "The resource being accessed, as a REST-style string. For example: `bigquery.googlapis.com/projects/PROJECTID/datasets/DATASETID`"
    },
    "permission": {
     "type": "string",
     "description": "The required IAM permission."
    },
    "granted": {
     "type": "boolean",
     "description": "Whether or not authorization for this resource and permission was granted."
    }
   }
  },
  "RequestMetadata": {
   "id": "RequestMetadata",
   "type": "object",
   "description": "Metadata about the request.",
   "properties": {
    "callerIp": {
     "type": "string",
     "description": "IP address of the caller"
    },
    "callerSuppliedUserAgent": {
     "type": "string",
     "description": "User-Agent of the caller. This is not authenticated, so a malicious caller could provide a misleading value. For example: `google-api-python-client/1.4.0` The request was made by the Google API client for Python. `Cloud SDK Command Line Tool apitools-client/1.0 gcloud/0.9.62` The request was made by the Google Cloud SDK CLI (gcloud). `AppEngine-Google; (+http://code.google.com/appengine; appid: s~my-project` The request was made from the `my-project` App Engine app."
    }
   }
  },
  "AuditData": {
   "id": "AuditData",
   "type": "object",
   "description": "BigQuery request and response messages for audit log.",
   "properties": {
    "tableInsertRequest": {
     "$ref": "TableInsertRequest",
     "description": "Table insert request."
    },
    "tableUpdateRequest": {
     "$ref": "TableUpdateRequest",
     "description": "Table update request."
    },
    "datasetListRequest": {
     "$ref": "DatasetListRequest",
     "description": "Dataset list request."
    },
    "datasetInsertRequest": {
     "$ref": "DatasetInsertRequest",
     "description": "Dataset insert request."
    },
    "datasetUpdateRequest": {
     "$ref": "DatasetUpdateRequest",
     "description": "Dataset update request."
    },
    "jobInsertRequest": {
     "$ref": "JobInsertRequest",
     "description": "Job insert request."
    },
    "jobQueryRequest": {
     "$ref": "JobQueryRequest",
     "description": "Job query request."
    },
    "jobGetQueryResultsRequest": {
     "$ref": "JobGetQueryResultsRequest",
     "description": "Job get query results request."
    },
    "tableDataListRequest": {
     "$ref": "TableDataListRequest",
     "description": "Table data-list request."
    },
    "tableInsertResponse": {
     "$ref": "TableInsertResponse",
     "description": "Table insert response."
    },
    "tableUpdateResponse": {
     "$ref": "TableUpdateResponse",
     "description": "Table update response."
    },
    "datasetInsertResponse": {
     "$ref": "DatasetInsertResponse",
     "description": "Dataset insert response."
    },
    "datasetUpdateResponse": {
     "$ref": "DatasetUpdateResponse",
     "description": "Dataset update response."
    },
    "jobQueryResponse": {
     "$ref": "JobQueryResponse",
     "description": "Job query response."
    },
    "jobGetQueryResultsResponse": {
     "$ref": "JobGetQueryResultsResponse",
     "description": "Job get query results response."
    },
    "jobQueryDoneResponse": {
     "$ref": "JobQueryDoneResponse",
     "description": "Job query-done response. Use this information for usage analysis."
    }
   }
  },
  "TableInsertRequest": {
   "id": "TableInsertRequest",
   "type": "object",
   "description": "==== Table =======// Table insert request.",
   "properties": {
    "resource": {
     "$ref": "Table",
     "description": "Table insert payload."
    }
   }
  },
  "Table": {
   "id": "Table",
   "type": "object",
   "description": "Message containing BigQuery table information.",
   "properties": {
    "tableName": {
     "$ref": "TableName",
     "description": "The table and dataset IDs uniquely describing this table."
    },
    "info": {
     "$ref": "TableInfo",
     "description": "User-modifiable metadata for this table."
    },
    "schema": {
     "$ref": "TableSchema",
     "description": "The table schema."
    },
    "view": {
     "$ref": "TableViewDefinition",
     "description": "The table provides a Database View behavior and functionality based on a query."
    },
    "expireTime": {
     "type": "string",
     "description": "The expiration date for this table. After this time, the table will not be externally visible and all storage associated with the table may be garbage collected. If this field is not present, the HelixDataset.default_table_expiration_ms value will be used to calculate the expiration time. Otherwise, the table will live until explicitly deleted."
    },
    "createTime": {
     "type": "string",
     "description": "The creation time for this table."
    },
    "truncateTime": {
     "type": "string",
     "description": "The last truncation time for this table. This will only be updated when operation specified with WRITE_TRUNCATE."
    }
   }
  },
  "TableName": {
   "id": "TableName",
   "type": "object",
   "description": "Fully-qualified name for a table -- referenced through a dataset.",
   "properties": {
    "projectId": {
     "type": "string",
     "description": "A string containing the id of this project. The id be the alphanumeric project ID, or the project number."
    },
    "datasetId": {
     "type": "string",
     "description": "The ID of the dataset (scoped to the project above)."
    },
    "tableId": {
     "type": "string",
     "description": "The ID of the table (scoped to the dataset above)."
    }
   }
  },
  "TableInfo": {
   "id": "TableInfo",
   "type": "object",
   "description": "User-provided metadata for a table, primarily for display in the UI.",
   "properties": {
    "friendlyName": {
     "type": "string",
     "description": "The human-readable name of a table. This should be a short phrase identifying the table (e.g., \"Analytics Data - Jan 2011\")."
    },
    "description": {
     "type": "string",
     "description": "The description of a table. This can be several sentences or paragraphs describing the table contents in detail."
    }
   }
  },
  "TableSchema": {
   "id": "TableSchema",
   "type": "object",
   "description": "BigQuery table schema.",
   "properties": {
    "fields": {
     "type": "array",
     "description": "One field per column in the table",
     "items": {
      "$ref": "FieldSchema"
     }
    }
   }
  },
  "FieldSchema": {
   "id": "FieldSchema",
   "type": "object",
   "description": "BigQuery field schema.",
   "properties": {
    "name": {
     "type": "string",
     "description": "Column name Matches: [A-Za-z_][A-Za-z_0-9]{0,127}"
    },
    "type": {
     "type": "string",
     "description": "Column type"
    },
    "mode": {
     "type": "string",
     "description": "Column mode"
    },
    "schema": {
     "$ref": "TableSchema",
     "description": "Present iff type == RECORD."
    }
   }
  },
  "TableViewDefinition": {
   "id": "TableViewDefinition",
   "type": "object",
   "description": "Metadata for a table to become like a Database View based on a SQL-like query.",
   "properties": {
    "query": {
     "type": "string",
     "description": "Sql query to run."
    }
   }
  },
  "TableUpdateRequest": {
   "id": "TableUpdateRequest",
   "type": "object",
   "description": "Table update request.",
   "properties": {
    "resource": {
     "$ref": "Table",
     "description": "Table update payload."
    }
   }
  },
  "DatasetListRequest": {
   "id": "DatasetListRequest",
   "type": "object",
   "description": "Dataset list request.",
   "properties": {
    "listAll": {
     "type": "boolean",
     "description": "Whether to list all datasets, including hidden ones."
    }
   }
  },
  "DatasetInsertRequest": {
   "id": "DatasetInsertRequest",
   "type": "object",
   "description": "Dataset insert request.",
   "properties": {
    "resource": {
     "$ref": "Dataset",
     "description": "Dataset insert payload."
    }
   }
  },
  "Dataset": {
   "id": "Dataset",
   "type": "object",
   "description": "BigQuery dataset information.",
   "properties": {
    "datasetName": {
     "$ref": "DatasetName",
     "description": "The name of this dataset."
    },
    "info": {
     "$ref": "DatasetInfo",
     "description": "User-modifiable metadata for this dataset."
    },
    "createTime": {
     "type": "string",
     "description": "The creation time for this dataset."
    },
    "updateTime": {
     "type": "string",
     "description": "The last modified time for this dataset."
    },
    "acl": {
     "$ref": "BigQueryAcl",
     "description": "Access contol list for this dataset."
    },
    "defaultTableExpireDuration": {
     "type": "string",
     "description": "The number of milliseconds which should be added to the creation time to determine the expiration time for newly created tables. If this value is null then no expiration time will be set for new tables."
    }
   }
  },
  "DatasetName": {
   "id": "DatasetName",
   "type": "object",
   "description": "Fully qualified name for a dataset.",
   "properties": {
    "projectId": {
     "type": "string",
     "description": "A string containing the id of this project. The id may be the alphanumeric project ID, or the project number."
    },
    "datasetId": {
     "type": "string",
     "description": "The ID of the dataset (scoped to the project above)."
    }
   }
  },
  "DatasetInfo": {
   "id": "DatasetInfo",
   "type": "object",
   "description": "User-provided metadata for a dataset, primarily for display in the UI.",
   "properties": {
    "friendlyName": {
     "type": "string",
     "description": "The human-readable name of a dataset. This should be a short phrase identifying the dataset (e.g., \"Analytics Data 2011\")."
    },
    "description": {
     "type": "string",
     "description": "The description of a dataset. This can be several sentences or paragraphs describing the dataset contents in detail."
    }
   }
  },
  "BigQueryAcl": {
   "id": "BigQueryAcl",
   "type": "object",
   "description": "Access control list.",
   "properties": {
    "entries": {
     "type": "array",
     "description": "Access control entry list.",
     "items": {
      "$ref": "Entry"
     }
    }
   }
  },
  "Entry": {
   "id": "Entry",
   "type": "object",
   "description": "Access control entry.",
   "properties": {
    "role": {
     "type": "string",
     "description": "Granted role. Valid roles are READER, WRITER, OWNER."
    },
    "groupEmail": {
     "type": "string",
     "description": "Grants access to a group, by e-mail."
    },
    "userEmail": {
     "type": "string",
     "description": "Grants access to a user, by e-mail."
    },
    "domain": {
     "type": "string",
     "description": "Grants access to all members of a domain."
    },
    "specialGroup": {
     "type": "string",
     "description": "Grants access to special groups. Valid groups are PROJECT_OWNERS, PROJECT_READERS, PROJECT_WRITERS and ALL_AUTHENTICATED_USERS."
    },
    "viewName": {
     "$ref": "TableName",
     "description": "Grants access to a BigQuery View."
    }
   }
  },
  "DatasetUpdateRequest": {
   "id": "DatasetUpdateRequest",
   "type": "object",
   "description": "Dataset update request.",
   "properties": {
    "resource": {
     "$ref": "Dataset",
     "description": "Dataset update payload."
    }
   }
  },
  "JobInsertRequest": {
   "id": "JobInsertRequest",
   "type": "object",
   "description": "Job insert request.",
   "properties": {
    "resource": {
     "$ref": "Job",
     "description": "Job insert payload."
    }
   }
  },
  "Job": {
   "id": "Job",
   "type": "object",
   "description": "Combines all of the information about a job.",
   "properties": {
    "jobName": {
     "$ref": "JobName",
     "description": "Job name."
    },
    "jobConfiguration": {
     "$ref": "JobConfiguration",
     "description": "Job configuration."
    },
    "jobStatus": {
     "$ref": "JobStatus",
     "description": "Job status."
    },
    "jobStatistics": {
     "$ref": "JobStatistics",
     "description": "Job statistics."
    }
   }
  },
  "JobName": {
   "id": "JobName",
   "type": "object",
   "description": "Fully-qualified name for a job.",
   "properties": {
    "projectId": {
     "type": "string",
     "description": "A string containing the id of this project."
    },
    "jobId": {
     "type": "string",
     "description": "The ID of the job (scoped to the project above)."
    }
   }
  },
  "JobConfiguration": {
   "id": "JobConfiguration",
   "type": "object",
   "description": "Job configuration information.",
   "properties": {
    "query": {
     "$ref": "Query",
     "description": "Query job information."
    },
    "load": {
     "$ref": "Load",
     "description": "Load job information."
    },
    "extract": {
     "$ref": "Extract",
     "description": "Extract job information."
    },
    "tableCopy": {
     "$ref": "TableCopy",
     "description": "TableCopy job information."
    },
    "dryRun": {
     "type": "boolean",
     "description": "If set, don't actually run the job. Just check that it would run."
    }
   }
  },
  "Query": {
   "id": "Query",
   "type": "object",
   "description": "Describes a query job, which executes a SQL-like query.",
   "properties": {
    "query": {
     "type": "string",
     "description": "SQL query to run."
    },
    "destinationTable": {
     "$ref": "TableName",
     "description": "table where results should be written."
    },
    "createDisposition": {
     "type": "string",
     "description": "Describe when a job should create a table."
    },
    "writeDisposition": {
     "type": "string",
     "description": "Describes how writes should affect the table associated with the job."
    },
    "defaultDataset": {
     "$ref": "DatasetName",
     "description": "If a table name is specified without a dataset in a query, this dataset will be added to table name."
    },
    "tableDefinitions": {
     "type": "array",
     "description": "Additional tables that this query might reference beyond the tables already defined in BigQuery. This is typically used to provide external data references for this query.",
     "items": {
      "$ref": "TableDefinition"
     }
    }
   }
  },
  "TableDefinition": {
   "id": "TableDefinition",
   "type": "object",
   "description": "Per Query external tables. These tables can be referenced with 'name' in the query and can be read just like any other table.",
   "properties": {
    "name": {
     "type": "string",
     "description": "Name of the table. This will be used to reference this table in the query."
    },
    "sourceUris": {
     "type": "array",
     "description": "URIs for the data to be imported.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "Load": {
   "id": "Load",
   "type": "object",
   "description": "Describes a load job, which loads data from an external source via the import pipeline.",
   "properties": {
    "sourceUris": {
     "type": "array",
     "description": "URIs for the data to be imported. Only Bigstore URIs are supported (e.g., \"gs://bucket/object\").",
     "items": {
      "type": "string"
     }
    },
    "schema": {
     "$ref": "TableSchema",
     "description": "Schema for the data to be imported."
    },
    "destinationTable": {
     "$ref": "TableName",
     "description": "table where the imported data should be written."
    },
    "createDisposition": {
     "type": "string",
     "description": "Describes when a job should create a table."
    },
    "writeDisposition": {
     "type": "string",
     "description": "Describes how writes should affect the table associated with the job."
    }
   }
  },
  "Extract": {
   "id": "Extract",
   "type": "object",
   "description": "Describes an extract job, which exports data to an external source via the export pipeline.",
   "properties": {
    "destinationUris": {
     "type": "array",
     "description": "URI or URIs where extracted data should be written. Currently, only Bigstore URIs are supported (e.g., \"gs://bucket/object\"). If more than one URI given, output will be divided into 'partitions' of data, with each partition containing one or more files. If more than one URI is given, each URI must contain exactly one '*' which will be replaced with the file number (within the partition) padded out to 9 digits.",
     "items": {
      "type": "string"
     }
    },
    "sourceTable": {
     "$ref": "TableName",
     "description": "Source table."
    }
   }
  },
  "TableCopy": {
   "id": "TableCopy",
   "type": "object",
   "description": "Describes a copy job, which copies an existing table to another table.",
   "properties": {
    "sourceTables": {
     "type": "array",
     "description": "Source tables.",
     "items": {
      "$ref": "TableName"
     }
    },
    "destinationTable": {
     "$ref": "TableName",
     "description": "Destination table."
    },
    "createDisposition": {
     "type": "string",
     "description": "Describe when a job should create a table."
    },
    "writeDisposition": {
     "type": "string",
     "description": "Describe whether the copy operation should append or not."
    }
   }
  },
  "JobStatus": {
   "id": "JobStatus",
   "type": "object",
   "description": "Running state of a job (whether it is running, failed, etc).",
   "properties": {
    "state": {
     "type": "string",
     "description": "State of a job: PENDING, RUNNING, DONE. Includes no information about whether the job was successful or not."
    },
    "error": {
     "$ref": "Status",
     "description": "If the job did not complete successfully, this will contain an error."
    }
   }
  },
  "JobStatistics": {
   "id": "JobStatistics",
   "type": "object",
   "description": "Job statistics that may change after a job starts.",
   "properties": {
    "createTime": {
     "type": "string",
     "description": "Time when the job was created (in milliseconds since the POSIX epoch)."
    },
    "startTime": {
     "type": "string",
     "description": "Time when the job started."
    },
    "endTime": {
     "type": "string",
     "description": "Time when the job ended."
    },
    "totalProcessedBytes": {
     "type": "string",
     "description": "Total bytes processed for a job.",
     "format": "int64"
    }
   }
  },
  "JobQueryRequest": {
   "id": "JobQueryRequest",
   "type": "object",
   "description": "Job query request.",
   "properties": {
    "query": {
     "type": "string",
     "description": "The query to execute."
    },
    "maxResults": {
     "type": "integer",
     "description": "Maximum number of results to return.",
     "format": "uint32"
    },
    "defaultDataset": {
     "$ref": "DatasetName",
     "description": "Default dataset to use when tables in a query do not have a dataset specified."
    },
    "projectId": {
     "type": "string",
     "description": "Project that the query should be charged to."
    },
    "dryRun": {
     "type": "boolean",
     "description": "If set, don't actually run the query."
    }
   }
  },
  "JobGetQueryResultsRequest": {
   "id": "JobGetQueryResultsRequest",
   "type": "object",
   "description": "Job get-query-results request.",
   "properties": {
    "maxResults": {
     "type": "integer",
     "description": "Maximum number of results to return.",
     "format": "uint32"
    },
    "startRow": {
     "type": "string",
     "description": "Row number to start returning results from.",
     "format": "uint64"
    }
   }
  },
  "TableDataListRequest": {
   "id": "TableDataListRequest",
   "type": "object",
   "description": "Table data-list request.",
   "properties": {
    "startRow": {
     "type": "string",
     "description": "Starting row offset.",
     "format": "uint64"
    },
    "maxResults": {
     "type": "integer",
     "description": "Maximum number of results to return.",
     "format": "uint32"
    }
   }
  },
  "TableInsertResponse": {
   "id": "TableInsertResponse",
   "type": "object",
   "description": "Table insert response.",
   "properties": {
    "resource": {
     "$ref": "Table",
     "description": "Final state of inserted table."
    }
   }
  },
  "TableUpdateResponse": {
   "id": "TableUpdateResponse",
   "type": "object",
   "description": "Table update response.",
   "properties": {
    "resource": {
     "$ref": "Table",
     "description": "Final state of updated table."
    }
   }
  },
  "DatasetInsertResponse": {
   "id": "DatasetInsertResponse",
   "type": "object",
   "description": "Dataset insert response.",
   "properties": {
    "resource": {
     "$ref": "Dataset",
     "description": "Final state of inserted dataset."
    }
   }
  },
  "DatasetUpdateResponse": {
   "id": "DatasetUpdateResponse",
   "type": "object",
   "description": "Dataset update response.",
   "properties": {
    "resource": {
     "$ref": "Dataset",
     "description": "Final state of updated dataset."
    }
   }
  },
  "JobQueryResponse": {
   "id": "JobQueryResponse",
   "type": "object",
   "description": "Job query response.",
   "properties": {
    "totalResults": {
     "type": "string",
     "description": "The total number of rows in the complete query result set.",
     "format": "uint64"
    },
    "job": {
     "$ref": "Job",
     "description": "Information about queried job."
    }
   }
  },
  "JobGetQueryResultsResponse": {
   "id": "JobGetQueryResultsResponse",
   "type": "object",
   "description": "Job get-query-results response.",
   "properties": {
    "totalResults": {
     "type": "string",
     "description": "Total number of results in query results.",
     "format": "uint64"
    },
    "job": {
     "$ref": "Job",
     "description": "Job that was created to run the query. Includes job state, job statistics, and job errors (if any). To determine whether the job has completed, check that job.status.state == DONE. If job.status.error_result is set, then the job failed. If the job has not yet completed, call GetQueryResults again."
    }
   }
  },
  "JobQueryDoneResponse": {
   "id": "JobQueryDoneResponse",
   "type": "object",
   "description": "Job get query-done response.",
   "properties": {
    "job": {
     "$ref": "Job",
     "description": "Usage information about completed job."
    }
   }
  },
  "Money": {
   "id": "Money",
   "type": "object",
   "description": "Represents an amount of money with its currency type.",
   "properties": {
    "currencyCode": {
     "type": "string",
     "description": "The 3-letter currency code defined in ISO 4217."
    },
    "units": {
     "type": "string",
     "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
     "format": "int64"
    },
    "nanos": {
     "type": "integer",
     "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
     "format": "int32"
    }
   }
  }
 },
 "resources": {
  "projects": {
   "resources": {
    "logs": {
     "methods": {
      "list": {
       "id": "logging.projects.logs.list",
       "path": "v1beta3/projects/{projectsId}/logs",
       "httpMethod": "GET",
       "description": "Lists log resources belonging to the specified project.",
       "parameters": {
        "projectsId": {
         "type": "string",
         "description": "Part of `projectName`. The project name for which to list the log resources.",
         "required": true,
         "location": "path"
        },
        "serviceName": {
         "type": "string",
         "description": "A service name for which to list logs. Only logs containing entries whose metadata includes this service name are returned. If `serviceName` and `serviceIndexPrefix` are both empty, then all log names are returned. To list all log names, regardless of service, leave both the `serviceName` and `serviceIndexPrefix` empty. To list log names containing entries with a particular service name (or explicitly empty service name) set `serviceName` to the desired value and `serviceIndexPrefix` to `\"/\"`.",
         "location": "query"
        },
        "serviceIndexPrefix": {
         "type": "string",
         "description": "A log service index prefix for which to list logs. Only logs containing entries whose metadata that includes these label values (associated with index keys) are returned. The prefix is a slash separated list of values, and need not specify all index labels. An empty index (or a single slash) matches all log service indexes.",
         "location": "query"
        },
        "pageSize": {
         "type": "integer",
         "description": "The maximum number of results to return.",
         "format": "int32",
         "location": "query"
        },
        "pageToken": {
         "type": "string",
         "description": "An opaque token, returned as `nextPageToken` by a prior `ListLogs` operation. If `pageToken` is supplied, then the other fields of this request are ignored, and instead the previous `ListLogs` operation is continued.",
         "location": "query"
        }
       },
       "parameterOrder": [
        "projectsId"
       ],
       "response": {
        "$ref": "ListLogsResponse"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin",
        "https://www.googleapis.com/auth/logging.read"
       ]
      },
      "delete": {
       "id": "logging.projects.logs.delete",
       "path": "v1beta3/projects/{projectsId}/logs/{logsId}",
       "httpMethod": "DELETE",
       "description": "Deletes the specified log resource and all log entries contained in it.",
       "parameters": {
        "projectsId": {
         "type": "string",
         "description": "Part of `logName`. The log resource to delete.",
         "required": true,
         "location": "path"
        },
        "logsId": {
         "type": "string",
         "description": "Part of `logName`. See documentation of `projectsId`.",
         "required": true,
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectsId",
        "logsId"
       ],
       "response": {
        "$ref": "Empty"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin"
       ]
      }
     },
     "resources": {
      "entries": {
       "methods": {
        "write": {
         "id": "logging.projects.logs.entries.write",
         "path": "v1beta3/projects/{projectsId}/logs/{logsId}/entries:write",
         "httpMethod": "POST",
         "description": "Creates one or more log entries in a log. You must supply a list of `LogEntry` objects, named `entries`. Each `LogEntry` object must contain a payload object and a `LogEntryMetadata` object that describes the entry. You must fill in all the fields of the entry, metadata, and payload. You can also supply a map, `commonLabels`, that supplies default (key, value) data for the `entries[].metadata.labels` maps, saving you the trouble of creating identical copies for each entry.",
         "parameters": {
          "projectsId": {
           "type": "string",
           "description": "Part of `logName`. The name of the log resource into which to insert the log entries.",
           "required": true,
           "location": "path"
          },
          "logsId": {
           "type": "string",
           "description": "Part of `logName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectsId",
          "logsId"
         ],
         "request": {
          "$ref": "WriteLogEntriesRequest"
         },
         "response": {
          "$ref": "WriteLogEntriesResponse"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/logging.admin",
          "https://www.googleapis.com/auth/logging.write"
         ]
        }
       }
      },
      "sinks": {
       "methods": {
        "list": {
         "id": "logging.projects.logs.sinks.list",
         "path": "v1beta3/projects/{projectsId}/logs/{logsId}/sinks",
         "httpMethod": "GET",
         "description": "Lists log sinks associated with the specified log.",
         "parameters": {
          "projectsId": {
           "type": "string",
           "description": "Part of `logName`. The log for which to list sinks.",
           "required": true,
           "location": "path"
          },
          "logsId": {
           "type": "string",
           "description": "Part of `logName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectsId",
          "logsId"
         ],
         "response": {
          "$ref": "ListLogSinksResponse"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/logging.admin",
          "https://www.googleapis.com/auth/logging.read"
         ]
        },
        "get": {
         "id": "logging.projects.logs.sinks.get",
         "path": "v1beta3/projects/{projectsId}/logs/{logsId}/sinks/{sinksId}",
         "httpMethod": "GET",
         "description": "Gets the specified log sink resource.",
         "parameters": {
          "projectsId": {
           "type": "string",
           "description": "Part of `sinkName`. The name of the sink resource to return.",
           "required": true,
           "location": "path"
          },
          "logsId": {
           "type": "string",
           "description": "Part of `sinkName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          },
          "sinksId": {
           "type": "string",
           "description": "Part of `sinkName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectsId",
          "logsId",
          "sinksId"
         ],
         "response": {
          "$ref": "LogSink"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/logging.admin",
          "https://www.googleapis.com/auth/logging.read"
         ]
        },
        "create": {
         "id": "logging.projects.logs.sinks.create",
         "path": "v1beta3/projects/{projectsId}/logs/{logsId}/sinks",
         "httpMethod": "POST",
         "description": "Creates the specified log sink resource.",
         "parameters": {
          "projectsId": {
           "type": "string",
           "description": "Part of `logName`. The log in which to create a sink resource.",
           "required": true,
           "location": "path"
          },
          "logsId": {
           "type": "string",
           "description": "Part of `logName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectsId",
          "logsId"
         ],
         "request": {
          "$ref": "LogSink"
         },
         "response": {
          "$ref": "LogSink"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/logging.admin"
         ]
        },
        "update": {
         "id": "logging.projects.logs.sinks.update",
         "path": "v1beta3/projects/{projectsId}/logs/{logsId}/sinks/{sinksId}",
         "httpMethod": "PUT",
         "description": "Creates or updates the specified log sink resource.",
         "parameters": {
          "projectsId": {
           "type": "string",
           "description": "Part of `sinkName`. The name of the sink to update.",
           "required": true,
           "location": "path"
          },
          "logsId": {
           "type": "string",
           "description": "Part of `sinkName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          },
          "sinksId": {
           "type": "string",
           "description": "Part of `sinkName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectsId",
          "logsId",
          "sinksId"
         ],
         "request": {
          "$ref": "LogSink"
         },
         "response": {
          "$ref": "LogSink"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/logging.admin"
         ]
        },
        "delete": {
         "id": "logging.projects.logs.sinks.delete",
         "path": "v1beta3/projects/{projectsId}/logs/{logsId}/sinks/{sinksId}",
         "httpMethod": "DELETE",
         "description": "Deletes the specified log sink resource.",
         "parameters": {
          "projectsId": {
           "type": "string",
           "description": "Part of `sinkName`. The name of the sink to delete.",
           "required": true,
           "location": "path"
          },
          "logsId": {
           "type": "string",
           "description": "Part of `sinkName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          },
          "sinksId": {
           "type": "string",
           "description": "Part of `sinkName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectsId",
          "logsId",
          "sinksId"
         ],
         "response": {
          "$ref": "Empty"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/logging.admin"
         ]
        }
       }
      }
     }
    },
    "logServices": {
     "methods": {
      "list": {
       "id": "logging.projects.logServices.list",
       "path": "v1beta3/projects/{projectsId}/logServices",
       "httpMethod": "GET",
       "description": "Lists log services associated with log entries ingested for a project.",
       "parameters": {
        "projectsId": {
         "type": "string",
         "description": "Part of `projectName`. The project resource whose services are to be listed.",
         "required": true,
         "location": "path"
        },
        "log": {
         "type": "string",
         "description": "The name of the log resource whose services are to be listed. log for which to list services. When empty, all services are listed.",
         "location": "query"
        },
        "pageSize": {
         "type": "integer",
         "description": "The maximum number of `LogService` objects to return in one operation.",
         "format": "int32",
         "location": "query"
        },
        "pageToken": {
         "type": "string",
         "description": "An opaque token, returned as `nextPageToken` by a prior `ListLogServices` operation. If `pageToken` is supplied, then the other fields of this request are ignored, and instead the previous `ListLogServices` operation is continued.",
         "location": "query"
        }
       },
       "parameterOrder": [
        "projectsId"
       ],
       "response": {
        "$ref": "ListLogServicesResponse"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin",
        "https://www.googleapis.com/auth/logging.read"
       ]
      }
     },
     "resources": {
      "indexes": {
       "methods": {
        "list": {
         "id": "logging.projects.logServices.indexes.list",
         "path": "v1beta3/projects/{projectsId}/logServices/{logServicesId}/indexes",
         "httpMethod": "GET",
         "description": "Lists log service indexes associated with a log service.",
         "parameters": {
          "projectsId": {
           "type": "string",
           "description": "Part of `serviceName`. A log service resource of the form `/projects/*/logServices/*`. The service indexes of the log service are returned. Example: `\"/projects/myProj/logServices/appengine.googleapis.com\"`.",
           "required": true,
           "location": "path"
          },
          "logServicesId": {
           "type": "string",
           "description": "Part of `serviceName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          },
          "indexPrefix": {
           "type": "string",
           "description": "Restricts the indexes returned to be those with a specified prefix. The prefix has the form `\"/label_value/label_value/...\"`, in order corresponding to the [`LogService indexKeys`][google.logging.v1.LogService.index_keys]. Non-empty prefixes must begin with `/` . Example prefixes: + `\"/myModule/\"` retrieves App Engine versions associated with `myModule`. The trailing slash terminates the value. + `\"/myModule\"` retrieves App Engine modules with names beginning with `myModule`. + `\"\"` retrieves all indexes.",
           "location": "query"
          },
          "depth": {
           "type": "integer",
           "description": "A limit to the number of levels of the index hierarchy that are expanded. If `depth` is 0, it defaults to the level specified by the prefix field (the number of slash separators). The default empty prefix implies a `depth` of 1. It is an error for `depth` to be any non-zero value less than the number of components in `indexPrefix`.",
           "format": "int32",
           "location": "query"
          },
          "log": {
           "type": "string",
           "description": "A log resource like `/projects/project_id/logs/log_name`, identifying the log for which to list service indexes.",
           "location": "query"
          },
          "pageSize": {
           "type": "integer",
           "description": "The maximum number of log service index resources to return in one operation.",
           "format": "int32",
           "location": "query"
          },
          "pageToken": {
           "type": "string",
           "description": "An opaque token, returned as `nextPageToken` by a prior `ListLogServiceIndexes` operation. If `pageToken` is supplied, then the other fields of this request are ignored, and instead the previous `ListLogServiceIndexes` operation is continued.",
           "location": "query"
          }
         },
         "parameterOrder": [
          "projectsId",
          "logServicesId"
         ],
         "response": {
          "$ref": "ListLogServiceIndexesResponse"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/logging.admin",
          "https://www.googleapis.com/auth/logging.read"
         ]
        }
       }
      },
      "sinks": {
       "methods": {
        "list": {
         "id": "logging.projects.logServices.sinks.list",
         "path": "v1beta3/projects/{projectsId}/logServices/{logServicesId}/sinks",
         "httpMethod": "GET",
         "description": "Lists log service sinks associated with the specified service.",
         "parameters": {
          "projectsId": {
           "type": "string",
           "description": "Part of `serviceName`. The name of the service for which to list sinks.",
           "required": true,
           "location": "path"
          },
          "logServicesId": {
           "type": "string",
           "description": "Part of `serviceName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectsId",
          "logServicesId"
         ],
         "response": {
          "$ref": "ListLogServiceSinksResponse"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/logging.admin",
          "https://www.googleapis.com/auth/logging.read"
         ]
        },
        "get": {
         "id": "logging.projects.logServices.sinks.get",
         "path": "v1beta3/projects/{projectsId}/logServices/{logServicesId}/sinks/{sinksId}",
         "httpMethod": "GET",
         "description": "Gets the specified log service sink resource.",
         "parameters": {
          "projectsId": {
           "type": "string",
           "description": "Part of `sinkName`. The name of the sink to return.",
           "required": true,
           "location": "path"
          },
          "logServicesId": {
           "type": "string",
           "description": "Part of `sinkName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          },
          "sinksId": {
           "type": "string",
           "description": "Part of `sinkName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectsId",
          "logServicesId",
          "sinksId"
         ],
         "response": {
          "$ref": "LogSink"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/logging.admin",
          "https://www.googleapis.com/auth/logging.read"
         ]
        },
        "create": {
         "id": "logging.projects.logServices.sinks.create",
         "path": "v1beta3/projects/{projectsId}/logServices/{logServicesId}/sinks",
         "httpMethod": "POST",
         "description": "Creates the specified log service sink resource.",
         "parameters": {
          "projectsId": {
           "type": "string",
           "description": "Part of `serviceName`. The name of the service in which to create a sink.",
           "required": true,
           "location": "path"
          },
          "logServicesId": {
           "type": "string",
           "description": "Part of `serviceName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectsId",
          "logServicesId"
         ],
         "request": {
          "$ref": "LogSink"
         },
         "response": {
          "$ref": "LogSink"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/logging.admin"
         ]
        },
        "update": {
         "id": "logging.projects.logServices.sinks.update",
         "path": "v1beta3/projects/{projectsId}/logServices/{logServicesId}/sinks/{sinksId}",
         "httpMethod": "PUT",
         "description": "Creates or update the specified log service sink resource.",
         "parameters": {
          "projectsId": {
           "type": "string",
           "description": "Part of `sinkName`. The name of the sink to update.",
           "required": true,
           "location": "path"
          },
          "logServicesId": {
           "type": "string",
           "description": "Part of `sinkName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          },
          "sinksId": {
           "type": "string",
           "description": "Part of `sinkName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectsId",
          "logServicesId",
          "sinksId"
         ],
         "request": {
          "$ref": "LogSink"
         },
         "response": {
          "$ref": "LogSink"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/logging.admin"
         ]
        },
        "delete": {
         "id": "logging.projects.logServices.sinks.delete",
         "path": "v1beta3/projects/{projectsId}/logServices/{logServicesId}/sinks/{sinksId}",
         "httpMethod": "DELETE",
         "description": "Deletes the specified log service sink.",
         "parameters": {
          "projectsId": {
           "type": "string",
           "description": "Part of `sinkName`. The name of the sink to delete.",
           "required": true,
           "location": "path"
          },
          "logServicesId": {
           "type": "string",
           "description": "Part of `sinkName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          },
          "sinksId": {
           "type": "string",
           "description": "Part of `sinkName`. See documentation of `projectsId`.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectsId",
          "logServicesId",
          "sinksId"
         ],
         "response": {
          "$ref": "Empty"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/logging.admin"
         ]
        }
       }
      }
     }
    },
    "sinks": {
     "methods": {
      "list": {
       "id": "logging.projects.sinks.list",
       "path": "v1beta3/projects/{projectsId}/sinks",
       "httpMethod": "GET",
       "description": "Lists sinks associated with the specified project.",
       "parameters": {
        "projectsId": {
         "type": "string",
         "description": "Part of `projectName`. The name of the project for which to list sinks.",
         "required": true,
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectsId"
       ],
       "response": {
        "$ref": "ListSinksResponse"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin",
        "https://www.googleapis.com/auth/logging.read"
       ]
      },
      "get": {
       "id": "logging.projects.sinks.get",
       "path": "v1beta3/projects/{projectsId}/sinks/{sinksId}",
       "httpMethod": "GET",
       "description": "Gets the specified sink resource.",
       "parameters": {
        "projectsId": {
         "type": "string",
         "description": "Part of `sinkName`. The name of the sink to return.",
         "required": true,
         "location": "path"
        },
        "sinksId": {
         "type": "string",
         "description": "Part of `sinkName`. See documentation of `projectsId`.",
         "required": true,
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectsId",
        "sinksId"
       ],
       "response": {
        "$ref": "LogSink"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin",
        "https://www.googleapis.com/auth/logging.read"
       ]
      },
      "create": {
       "id": "logging.projects.sinks.create",
       "path": "v1beta3/projects/{projectsId}/sinks",
       "httpMethod": "POST",
       "description": "Creates the specified sink resource.",
       "parameters": {
        "projectsId": {
         "type": "string",
         "description": "Part of `projectName`. The name of the project in which to create a sink.",
         "required": true,
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectsId"
       ],
       "request": {
        "$ref": "LogSink"
       },
       "response": {
        "$ref": "LogSink"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin"
       ]
      },
      "update": {
       "id": "logging.projects.sinks.update",
       "path": "v1beta3/projects/{projectsId}/sinks/{sinksId}",
       "httpMethod": "PUT",
       "description": "Creates or update the specified sink resource.",
       "parameters": {
        "projectsId": {
         "type": "string",
         "description": "Part of `sinkName`. The name of the sink to update.",
         "required": true,
         "location": "path"
        },
        "sinksId": {
         "type": "string",
         "description": "Part of `sinkName`. See documentation of `projectsId`.",
         "required": true,
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectsId",
        "sinksId"
       ],
       "request": {
        "$ref": "LogSink"
       },
       "response": {
        "$ref": "LogSink"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin"
       ]
      },
      "delete": {
       "id": "logging.projects.sinks.delete",
       "path": "v1beta3/projects/{projectsId}/sinks/{sinksId}",
       "httpMethod": "DELETE",
       "description": "Deletes the specified sink.",
       "parameters": {
        "projectsId": {
         "type": "string",
         "description": "Part of `sinkName`. The name of the sink to delete.",
         "required": true,
         "location": "path"
        },
        "sinksId": {
         "type": "string",
         "description": "Part of `sinkName`. See documentation of `projectsId`.",
         "required": true,
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectsId",
        "sinksId"
       ],
       "response": {
        "$ref": "Empty"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/logging.admin"
       ]
      }
     }
    }
   }
  }
 }
}
