{
 "kind": "discovery#restDescription",
 "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/zns4Y3D5E2S2gwCEbkUlMZNgyY0\"",
 "discoveryVersion": "v1",
 "id": "dataflow:v1b3",
 "name": "dataflow",
 "version": "v1b3",
 "revision": "20150322",
 "title": "Google Dataflow API",
 "description": "Google Dataflow API.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/search-16.gif",
  "x32": "http://www.google.com/images/icons/product/search-32.gif"
 },
 "documentationLink": "",
 "protocol": "rest",
 "baseUrl": "https://dataflow.googleapis.com/v1b3/projects/",
 "basePath": "/v1b3/projects/",
 "rootUrl": "https://dataflow.googleapis.com/",
 "servicePath": "v1b3/projects/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/userinfo.email": {
     "description": "View your email address"
    }
   }
  }
 },
 "schemas": {
  "ApproximateProgress": {
   "id": "ApproximateProgress",
   "type": "object",
   "properties": {
    "percentComplete": {
     "type": "number",
     "format": "float"
    },
    "position": {
     "$ref": "Position"
    },
    "remainingTime": {
     "type": "string"
    }
   }
  },
  "AutoscalingSettings": {
   "id": "AutoscalingSettings",
   "type": "object",
   "properties": {
    "algorithm": {
     "type": "string",
     "enum": [
      "AUTOSCALING_ALGORITHM_BASIC",
      "AUTOSCALING_ALGORITHM_NONE",
      "AUTOSCALING_ALGORITHM_UNKNOWN"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "maxNumWorkers": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "ComputationTopology": {
   "id": "ComputationTopology",
   "type": "object",
   "properties": {
    "computationId": {
     "type": "string"
    },
    "inputs": {
     "type": "array",
     "items": {
      "$ref": "StreamLocation"
     }
    },
    "keyRanges": {
     "type": "array",
     "items": {
      "$ref": "KeyRangeLocation"
     }
    },
    "outputs": {
     "type": "array",
     "items": {
      "$ref": "StreamLocation"
     }
    },
    "systemStageName": {
     "type": "string"
    },
    "userStageName": {
     "type": "string"
    }
   }
  },
  "CustomSourceLocation": {
   "id": "CustomSourceLocation",
   "type": "object",
   "properties": {
    "stateful": {
     "type": "boolean"
    }
   }
  },
  "DataDiskAssignment": {
   "id": "DataDiskAssignment",
   "type": "object",
   "properties": {
    "dataDisks": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "vmInstance": {
     "type": "string"
    }
   }
  },
  "DerivedSource": {
   "id": "DerivedSource",
   "type": "object",
   "properties": {
    "derivationMode": {
     "type": "string",
     "enum": [
      "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
      "SOURCE_DERIVATION_MODE_INDEPENDENT",
      "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT",
      "SOURCE_DERIVATION_MODE_UNKNOWN"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "source": {
     "$ref": "Source"
    }
   }
  },
  "Disk": {
   "id": "Disk",
   "type": "object",
   "properties": {
    "diskType": {
     "type": "string"
    },
    "mountPoint": {
     "type": "string"
    },
    "sizeGb": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "DynamicSourceSplit": {
   "id": "DynamicSourceSplit",
   "type": "object",
   "properties": {
    "primary": {
     "$ref": "DerivedSource"
    },
    "residual": {
     "$ref": "DerivedSource"
    }
   }
  },
  "Environment": {
   "id": "Environment",
   "type": "object",
   "properties": {
    "clusterManagerApiService": {
     "type": "string"
    },
    "dataset": {
     "type": "string"
    },
    "experiments": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "internalExperiments": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    },
    "sdkPipelineOptions": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    },
    "tempStoragePrefix": {
     "type": "string"
    },
    "userAgent": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    },
    "version": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    },
    "workerPools": {
     "type": "array",
     "items": {
      "$ref": "WorkerPool"
     }
    }
   }
  },
  "FlattenInstruction": {
   "id": "FlattenInstruction",
   "type": "object",
   "properties": {
    "inputs": {
     "type": "array",
     "items": {
      "$ref": "InstructionInput"
     }
    }
   }
  },
  "GoogleprotobufValue": {
   "id": "GoogleprotobufValue",
   "type": "any"
  },
  "InstructionInput": {
   "id": "InstructionInput",
   "type": "object",
   "properties": {
    "outputNum": {
     "type": "integer",
     "format": "int32"
    },
    "producerInstructionIndex": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "InstructionOutput": {
   "id": "InstructionOutput",
   "type": "object",
   "properties": {
    "codec": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    },
    "name": {
     "type": "string"
    }
   }
  },
  "Job": {
   "id": "Job",
   "type": "object",
   "properties": {
    "clientRequestId": {
     "type": "string"
    },
    "createTime": {
     "type": "string"
    },
    "currentState": {
     "type": "string",
     "enum": [
      "JOB_STATE_CANCELLED",
      "JOB_STATE_DONE",
      "JOB_STATE_FAILED",
      "JOB_STATE_RUNNING",
      "JOB_STATE_STOPPED",
      "JOB_STATE_UNKNOWN",
      "JOB_STATE_UPDATED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "currentStateTime": {
     "type": "string"
    },
    "environment": {
     "$ref": "Environment"
    },
    "executionInfo": {
     "$ref": "JobExecutionInfo"
    },
    "id": {
     "type": "string"
    },
    "name": {
     "type": "string"
    },
    "projectId": {
     "type": "string"
    },
    "replaceJobId": {
     "type": "string"
    },
    "replacedByJobId": {
     "type": "string"
    },
    "requestedState": {
     "type": "string",
     "enum": [
      "JOB_STATE_CANCELLED",
      "JOB_STATE_DONE",
      "JOB_STATE_FAILED",
      "JOB_STATE_RUNNING",
      "JOB_STATE_STOPPED",
      "JOB_STATE_UNKNOWN",
      "JOB_STATE_UPDATED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "steps": {
     "type": "array",
     "items": {
      "$ref": "Step"
     }
    },
    "transformNameMapping": {
     "type": "object",
     "additionalProperties": {
      "type": "string"
     }
    },
    "type": {
     "type": "string",
     "enum": [
      "JOB_TYPE_BATCH",
      "JOB_TYPE_STREAMING",
      "JOB_TYPE_UNKNOWN"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "JobExecutionInfo": {
   "id": "JobExecutionInfo",
   "type": "object",
   "properties": {
    "stages": {
     "type": "object",
     "additionalProperties": {
      "$ref": "JobExecutionStageInfo"
     }
    }
   }
  },
  "JobExecutionStageInfo": {
   "id": "JobExecutionStageInfo",
   "type": "object",
   "properties": {
    "stepName": {
     "type": "array",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "JobMessage": {
   "id": "JobMessage",
   "type": "object",
   "properties": {
    "id": {
     "type": "string"
    },
    "messageImportance": {
     "type": "string",
     "enum": [
      "JOB_MESSAGE_BASIC",
      "JOB_MESSAGE_DEBUG",
      "JOB_MESSAGE_DETAILED",
      "JOB_MESSAGE_ERROR",
      "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
      "JOB_MESSAGE_WARNING"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "messageText": {
     "type": "string"
    },
    "time": {
     "type": "string"
    }
   }
  },
  "JobMetrics": {
   "id": "JobMetrics",
   "type": "object",
   "properties": {
    "metricTime": {
     "type": "string"
    },
    "metrics": {
     "type": "array",
     "items": {
      "$ref": "MetricUpdate"
     }
    }
   }
  },
  "KeyRangeDataDiskAssignment": {
   "id": "KeyRangeDataDiskAssignment",
   "type": "object",
   "properties": {
    "dataDisk": {
     "type": "string"
    },
    "end": {
     "type": "string"
    },
    "start": {
     "type": "string"
    }
   }
  },
  "KeyRangeLocation": {
   "id": "KeyRangeLocation",
   "type": "object",
   "properties": {
    "dataDisk": {
     "type": "string"
    },
    "deliveryEndpoint": {
     "type": "string"
    },
    "end": {
     "type": "string"
    },
    "persistentDirectory": {
     "type": "string"
    },
    "start": {
     "type": "string"
    }
   }
  },
  "LeaseWorkItemRequest": {
   "id": "LeaseWorkItemRequest",
   "type": "object",
   "properties": {
    "currentWorkerTime": {
     "type": "string"
    },
    "requestedLeaseDuration": {
     "type": "string"
    },
    "workItemTypes": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "workerCapabilities": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "workerId": {
     "type": "string"
    }
   }
  },
  "LeaseWorkItemResponse": {
   "id": "LeaseWorkItemResponse",
   "type": "object",
   "properties": {
    "workItems": {
     "type": "array",
     "items": {
      "$ref": "WorkItem"
     }
    }
   }
  },
  "ListJobMessagesResponse": {
   "id": "ListJobMessagesResponse",
   "type": "object",
   "properties": {
    "jobMessages": {
     "type": "array",
     "items": {
      "$ref": "JobMessage"
     }
    },
    "nextPageToken": {
     "type": "string"
    }
   }
  },
  "ListJobsResponse": {
   "id": "ListJobsResponse",
   "type": "object",
   "properties": {
    "jobs": {
     "type": "array",
     "items": {
      "$ref": "Job"
     }
    },
    "nextPageToken": {
     "type": "string"
    }
   }
  },
  "MapTask": {
   "id": "MapTask",
   "type": "object",
   "properties": {
    "instructions": {
     "type": "array",
     "items": {
      "$ref": "ParallelInstruction"
     }
    },
    "stageName": {
     "type": "string"
    },
    "systemName": {
     "type": "string"
    }
   }
  },
  "MetricStructuredName": {
   "id": "MetricStructuredName",
   "type": "object",
   "properties": {
    "context": {
     "type": "object",
     "additionalProperties": {
      "type": "string"
     }
    },
    "name": {
     "type": "string"
    },
    "origin": {
     "type": "string"
    }
   }
  },
  "MetricUpdate": {
   "id": "MetricUpdate",
   "type": "object",
   "properties": {
    "cumulative": {
     "type": "boolean"
    },
    "internal": {
     "$ref": "GoogleprotobufValue"
    },
    "kind": {
     "type": "string"
    },
    "meanCount": {
     "$ref": "GoogleprotobufValue"
    },
    "meanSum": {
     "$ref": "GoogleprotobufValue"
    },
    "name": {
     "$ref": "MetricStructuredName"
    },
    "scalar": {
     "$ref": "GoogleprotobufValue"
    },
    "set": {
     "$ref": "GoogleprotobufValue"
    },
    "updateTime": {
     "type": "string"
    }
   }
  },
  "MountedDataDisk": {
   "id": "MountedDataDisk",
   "type": "object",
   "properties": {
    "dataDisk": {
     "type": "string"
    }
   }
  },
  "MultiOutputInfo": {
   "id": "MultiOutputInfo",
   "type": "object",
   "properties": {
    "tag": {
     "type": "string"
    }
   }
  },
  "Package": {
   "id": "Package",
   "type": "object",
   "properties": {
    "location": {
     "type": "string"
    },
    "name": {
     "type": "string"
    }
   }
  },
  "ParDoInstruction": {
   "id": "ParDoInstruction",
   "type": "object",
   "properties": {
    "input": {
     "$ref": "InstructionInput"
    },
    "multiOutputInfos": {
     "type": "array",
     "items": {
      "$ref": "MultiOutputInfo"
     }
    },
    "numOutputs": {
     "type": "integer",
     "format": "int32"
    },
    "sideInputs": {
     "type": "array",
     "items": {
      "$ref": "SideInputInfo"
     }
    },
    "userFn": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    }
   }
  },
  "ParallelInstruction": {
   "id": "ParallelInstruction",
   "type": "object",
   "properties": {
    "flatten": {
     "$ref": "FlattenInstruction"
    },
    "name": {
     "type": "string"
    },
    "outputs": {
     "type": "array",
     "items": {
      "$ref": "InstructionOutput"
     }
    },
    "parDo": {
     "$ref": "ParDoInstruction"
    },
    "partialGroupByKey": {
     "$ref": "PartialGroupByKeyInstruction"
    },
    "read": {
     "$ref": "ReadInstruction"
    },
    "systemName": {
     "type": "string"
    },
    "write": {
     "$ref": "WriteInstruction"
    }
   }
  },
  "PartialGroupByKeyInstruction": {
   "id": "PartialGroupByKeyInstruction",
   "type": "object",
   "properties": {
    "input": {
     "$ref": "InstructionInput"
    },
    "inputElementCodec": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    },
    "valueCombiningFn": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    }
   }
  },
  "Position": {
   "id": "Position",
   "type": "object",
   "properties": {
    "byteOffset": {
     "type": "string",
     "format": "int64"
    },
    "end": {
     "type": "boolean"
    },
    "key": {
     "type": "string"
    },
    "recordIndex": {
     "type": "string",
     "format": "int64"
    },
    "shufflePosition": {
     "type": "string"
    }
   }
  },
  "PubsubLocation": {
   "id": "PubsubLocation",
   "type": "object",
   "properties": {
    "dropLateData": {
     "type": "boolean"
    },
    "idLabel": {
     "type": "string"
    },
    "subscription": {
     "type": "string"
    },
    "timestampLabel": {
     "type": "string"
    },
    "topic": {
     "type": "string"
    },
    "trackingSubscription": {
     "type": "string"
    }
   }
  },
  "ReadInstruction": {
   "id": "ReadInstruction",
   "type": "object",
   "properties": {
    "source": {
     "$ref": "Source"
    }
   }
  },
  "ReportWorkItemStatusRequest": {
   "id": "ReportWorkItemStatusRequest",
   "type": "object",
   "properties": {
    "currentWorkerTime": {
     "type": "string"
    },
    "workItemStatuses": {
     "type": "array",
     "items": {
      "$ref": "WorkItemStatus"
     }
    },
    "workerId": {
     "type": "string"
    }
   }
  },
  "ReportWorkItemStatusResponse": {
   "id": "ReportWorkItemStatusResponse",
   "type": "object",
   "properties": {
    "workItemServiceStates": {
     "type": "array",
     "items": {
      "$ref": "WorkItemServiceState"
     }
    }
   }
  },
  "SeqMapTask": {
   "id": "SeqMapTask",
   "type": "object",
   "properties": {
    "inputs": {
     "type": "array",
     "items": {
      "$ref": "SideInputInfo"
     }
    },
    "name": {
     "type": "string"
    },
    "outputInfos": {
     "type": "array",
     "items": {
      "$ref": "SeqMapTaskOutputInfo"
     }
    },
    "stageName": {
     "type": "string"
    },
    "systemName": {
     "type": "string"
    },
    "userFn": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    }
   }
  },
  "SeqMapTaskOutputInfo": {
   "id": "SeqMapTaskOutputInfo",
   "type": "object",
   "properties": {
    "sink": {
     "$ref": "Sink"
    },
    "tag": {
     "type": "string"
    }
   }
  },
  "ShellTask": {
   "id": "ShellTask",
   "type": "object",
   "properties": {
    "command": {
     "type": "string"
    },
    "exitCode": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "SideInputInfo": {
   "id": "SideInputInfo",
   "type": "object",
   "properties": {
    "kind": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    },
    "sources": {
     "type": "array",
     "items": {
      "$ref": "Source"
     }
    },
    "tag": {
     "type": "string"
    }
   }
  },
  "Sink": {
   "id": "Sink",
   "type": "object",
   "properties": {
    "codec": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    },
    "spec": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    }
   }
  },
  "Source": {
   "id": "Source",
   "type": "object",
   "properties": {
    "baseSpecs": {
     "type": "array",
     "items": {
      "type": "object",
      "additionalProperties": {
       "type": "any"
      }
     }
    },
    "codec": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    },
    "doesNotNeedSplitting": {
     "type": "boolean"
    },
    "metadata": {
     "$ref": "SourceMetadata"
    },
    "spec": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    }
   }
  },
  "SourceFork": {
   "id": "SourceFork",
   "type": "object",
   "properties": {
    "primary": {
     "$ref": "SourceSplitShard"
    },
    "primarySource": {
     "$ref": "DerivedSource"
    },
    "residual": {
     "$ref": "SourceSplitShard"
    },
    "residualSource": {
     "$ref": "DerivedSource"
    }
   }
  },
  "SourceGetMetadataRequest": {
   "id": "SourceGetMetadataRequest",
   "type": "object",
   "properties": {
    "source": {
     "$ref": "Source"
    }
   }
  },
  "SourceGetMetadataResponse": {
   "id": "SourceGetMetadataResponse",
   "type": "object",
   "properties": {
    "metadata": {
     "$ref": "SourceMetadata"
    }
   }
  },
  "SourceMetadata": {
   "id": "SourceMetadata",
   "type": "object",
   "properties": {
    "estimatedSizeBytes": {
     "type": "string",
     "format": "int64"
    },
    "infinite": {
     "type": "boolean"
    },
    "producesSortedKeys": {
     "type": "boolean"
    }
   }
  },
  "SourceOperationRequest": {
   "id": "SourceOperationRequest",
   "type": "object",
   "properties": {
    "getMetadata": {
     "$ref": "SourceGetMetadataRequest"
    },
    "split": {
     "$ref": "SourceSplitRequest"
    }
   }
  },
  "SourceOperationResponse": {
   "id": "SourceOperationResponse",
   "type": "object",
   "properties": {
    "getMetadata": {
     "$ref": "SourceGetMetadataResponse"
    },
    "split": {
     "$ref": "SourceSplitResponse"
    }
   }
  },
  "SourceSplitOptions": {
   "id": "SourceSplitOptions",
   "type": "object",
   "properties": {
    "desiredBundleSizeBytes": {
     "type": "string",
     "format": "int64"
    },
    "desiredShardSizeBytes": {
     "type": "string",
     "format": "int64"
    }
   }
  },
  "SourceSplitRequest": {
   "id": "SourceSplitRequest",
   "type": "object",
   "properties": {
    "options": {
     "$ref": "SourceSplitOptions"
    },
    "source": {
     "$ref": "Source"
    }
   }
  },
  "SourceSplitResponse": {
   "id": "SourceSplitResponse",
   "type": "object",
   "properties": {
    "bundles": {
     "type": "array",
     "items": {
      "$ref": "DerivedSource"
     }
    },
    "outcome": {
     "type": "string",
     "enum": [
      "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED",
      "SOURCE_SPLIT_OUTCOME_UNKNOWN",
      "SOURCE_SPLIT_OUTCOME_USE_CURRENT"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "shards": {
     "type": "array",
     "items": {
      "$ref": "SourceSplitShard"
     }
    }
   }
  },
  "SourceSplitShard": {
   "id": "SourceSplitShard",
   "type": "object",
   "properties": {
    "derivationMode": {
     "type": "string",
     "enum": [
      "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
      "SOURCE_DERIVATION_MODE_INDEPENDENT",
      "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT",
      "SOURCE_DERIVATION_MODE_UNKNOWN"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "source": {
     "$ref": "Source"
    }
   }
  },
  "Status": {
   "id": "Status",
   "type": "object",
   "properties": {
    "code": {
     "type": "integer",
     "format": "int32"
    },
    "details": {
     "type": "array",
     "items": {
      "type": "object",
      "additionalProperties": {
       "type": "any"
      }
     }
    },
    "message": {
     "type": "string"
    }
   }
  },
  "Step": {
   "id": "Step",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string"
    },
    "name": {
     "type": "string"
    },
    "properties": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    }
   }
  },
  "StreamLocation": {
   "id": "StreamLocation",
   "type": "object",
   "properties": {
    "customSourceLocation": {
     "$ref": "CustomSourceLocation"
    },
    "pubsubLocation": {
     "$ref": "PubsubLocation"
    },
    "sideInputLocation": {
     "$ref": "StreamingSideInputLocation"
    },
    "streamingStageLocation": {
     "$ref": "StreamingStageLocation"
    }
   }
  },
  "StreamingComputationRanges": {
   "id": "StreamingComputationRanges",
   "type": "object",
   "properties": {
    "computationId": {
     "type": "string"
    },
    "rangeAssignments": {
     "type": "array",
     "items": {
      "$ref": "KeyRangeDataDiskAssignment"
     }
    }
   }
  },
  "StreamingComputationTask": {
   "id": "StreamingComputationTask",
   "type": "object",
   "properties": {
    "computationRanges": {
     "type": "array",
     "items": {
      "$ref": "StreamingComputationRanges"
     }
    },
    "dataDisks": {
     "type": "array",
     "items": {
      "$ref": "MountedDataDisk"
     }
    },
    "taskType": {
     "type": "string",
     "enum": [
      "STREAMING_COMPUTATION_TASK_START",
      "STREAMING_COMPUTATION_TASK_STOP",
      "STREAMING_COMPUTATION_TASK_UNKNOWN"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "StreamingSetupTask": {
   "id": "StreamingSetupTask",
   "type": "object",
   "properties": {
    "receiveWorkPort": {
     "type": "integer",
     "format": "int32"
    },
    "streamingComputationTopology": {
     "$ref": "TopologyConfig"
    },
    "workerHarnessPort": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "StreamingSideInputLocation": {
   "id": "StreamingSideInputLocation",
   "type": "object",
   "properties": {
    "tag": {
     "type": "string"
    }
   }
  },
  "StreamingStageLocation": {
   "id": "StreamingStageLocation",
   "type": "object",
   "properties": {
    "streamId": {
     "type": "string"
    }
   }
  },
  "TaskRunnerSettings": {
   "id": "TaskRunnerSettings",
   "type": "object",
   "properties": {
    "alsologtostderr": {
     "type": "boolean"
    },
    "baseTaskDir": {
     "type": "string"
    },
    "baseUrl": {
     "type": "string"
    },
    "commandlinesFileName": {
     "type": "string"
    },
    "continueOnException": {
     "type": "boolean"
    },
    "dataflowApiVersion": {
     "type": "string"
    },
    "harnessCommand": {
     "type": "string"
    },
    "languageHint": {
     "type": "string"
    },
    "logDir": {
     "type": "string"
    },
    "logToSerialconsole": {
     "type": "boolean"
    },
    "logUploadLocation": {
     "type": "string"
    },
    "oauthScopes": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "parallelWorkerSettings": {
     "$ref": "WorkerSettings"
    },
    "streamingWorkerMainClass": {
     "type": "string"
    },
    "taskGroup": {
     "type": "string"
    },
    "taskUser": {
     "type": "string"
    },
    "tempStoragePrefix": {
     "type": "string"
    },
    "vmId": {
     "type": "string"
    },
    "workflowFileName": {
     "type": "string"
    }
   }
  },
  "TopologyConfig": {
   "id": "TopologyConfig",
   "type": "object",
   "properties": {
    "computations": {
     "type": "array",
     "items": {
      "$ref": "ComputationTopology"
     }
    },
    "dataDiskAssignments": {
     "type": "array",
     "items": {
      "$ref": "DataDiskAssignment"
     }
    },
    "userStageToComputationNameMap": {
     "type": "object",
     "additionalProperties": {
      "type": "string"
     }
    }
   }
  },
  "WorkItem": {
   "id": "WorkItem",
   "type": "object",
   "properties": {
    "configuration": {
     "type": "string"
    },
    "id": {
     "type": "string",
     "format": "int64"
    },
    "initialReportIndex": {
     "type": "string",
     "format": "int64"
    },
    "jobId": {
     "type": "string"
    },
    "leaseExpireTime": {
     "type": "string"
    },
    "mapTask": {
     "$ref": "MapTask"
    },
    "packages": {
     "type": "array",
     "items": {
      "$ref": "Package"
     }
    },
    "projectId": {
     "type": "string"
    },
    "reportStatusInterval": {
     "type": "string"
    },
    "seqMapTask": {
     "$ref": "SeqMapTask"
    },
    "shellTask": {
     "$ref": "ShellTask"
    },
    "sourceOperationTask": {
     "$ref": "SourceOperationRequest"
    },
    "streamingComputationTask": {
     "$ref": "StreamingComputationTask"
    },
    "streamingSetupTask": {
     "$ref": "StreamingSetupTask"
    }
   }
  },
  "WorkItemServiceState": {
   "id": "WorkItemServiceState",
   "type": "object",
   "properties": {
    "harnessData": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    },
    "leaseExpireTime": {
     "type": "string"
    },
    "nextReportIndex": {
     "type": "string",
     "format": "int64"
    },
    "reportStatusInterval": {
     "type": "string"
    },
    "suggestedStopPoint": {
     "$ref": "ApproximateProgress"
    },
    "suggestedStopPosition": {
     "$ref": "Position"
    }
   }
  },
  "WorkItemStatus": {
   "id": "WorkItemStatus",
   "type": "object",
   "properties": {
    "completed": {
     "type": "boolean"
    },
    "dynamicSourceSplit": {
     "$ref": "DynamicSourceSplit"
    },
    "errors": {
     "type": "array",
     "items": {
      "$ref": "Status"
     }
    },
    "metricUpdates": {
     "type": "array",
     "items": {
      "$ref": "MetricUpdate"
     }
    },
    "progress": {
     "$ref": "ApproximateProgress"
    },
    "reportIndex": {
     "type": "string",
     "format": "int64"
    },
    "requestedLeaseDuration": {
     "type": "string"
    },
    "sourceFork": {
     "$ref": "SourceFork"
    },
    "sourceOperationResponse": {
     "$ref": "SourceOperationResponse"
    },
    "stopPosition": {
     "$ref": "Position"
    },
    "workItemId": {
     "type": "string"
    }
   }
  },
  "WorkerPool": {
   "id": "WorkerPool",
   "type": "object",
   "properties": {
    "autoscalingSettings": {
     "$ref": "AutoscalingSettings"
    },
    "dataDisks": {
     "type": "array",
     "items": {
      "$ref": "Disk"
     }
    },
    "defaultPackageSet": {
     "type": "string",
     "enum": [
      "DEFAULT_PACKAGE_SET_JAVA",
      "DEFAULT_PACKAGE_SET_NONE",
      "DEFAULT_PACKAGE_SET_PYTHON",
      "DEFAULT_PACKAGE_SET_UNKNOWN"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "diskSizeGb": {
     "type": "integer",
     "format": "int32"
    },
    "diskSourceImage": {
     "type": "string"
    },
    "diskType": {
     "type": "string"
    },
    "kind": {
     "type": "string"
    },
    "machineType": {
     "type": "string"
    },
    "metadata": {
     "type": "object",
     "additionalProperties": {
      "type": "string"
     }
    },
    "network": {
     "type": "string"
    },
    "numWorkers": {
     "type": "integer",
     "format": "int32"
    },
    "onHostMaintenance": {
     "type": "string"
    },
    "packages": {
     "type": "array",
     "items": {
      "$ref": "Package"
     }
    },
    "poolArgs": {
     "type": "object",
     "additionalProperties": {
      "type": "any"
     }
    },
    "taskrunnerSettings": {
     "$ref": "TaskRunnerSettings"
    },
    "teardownPolicy": {
     "type": "string",
     "enum": [
      "TEARDOWN_ALWAYS",
      "TEARDOWN_NEVER",
      "TEARDOWN_ON_SUCCESS",
      "TEARDOWN_POLICY_UNKNOWN"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "zone": {
     "type": "string"
    }
   }
  },
  "WorkerSettings": {
   "id": "WorkerSettings",
   "type": "object",
   "properties": {
    "baseUrl": {
     "type": "string"
    },
    "reportingEnabled": {
     "type": "boolean"
    },
    "servicePath": {
     "type": "string"
    },
    "shuffleServicePath": {
     "type": "string"
    },
    "tempStoragePrefix": {
     "type": "string"
    },
    "workerId": {
     "type": "string"
    }
   }
  },
  "WriteInstruction": {
   "id": "WriteInstruction",
   "type": "object",
   "properties": {
    "input": {
     "$ref": "InstructionInput"
    },
    "sink": {
     "$ref": "Sink"
    }
   }
  }
 },
 "resources": {
  "projects": {
   "resources": {
    "jobs": {
     "methods": {
      "create": {
       "id": "dataflow.projects.jobs.create",
       "path": "{projectId}/jobs",
       "httpMethod": "POST",
       "description": "Creates a dataflow job.",
       "parameters": {
        "projectId": {
         "type": "string",
         "required": true,
         "location": "path"
        },
        "replaceJobId": {
         "type": "string",
         "location": "query"
        },
        "view": {
         "type": "string",
         "enum": [
          "JOB_VIEW_ALL",
          "JOB_VIEW_SUMMARY",
          "JOB_VIEW_UNKNOWN"
         ],
         "enumDescriptions": [
          "",
          "",
          ""
         ],
         "location": "query"
        }
       },
       "parameterOrder": [
        "projectId"
       ],
       "request": {
        "$ref": "Job"
       },
       "response": {
        "$ref": "Job"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/userinfo.email"
       ]
      },
      "get": {
       "id": "dataflow.projects.jobs.get",
       "path": "{projectId}/jobs/{jobId}",
       "httpMethod": "GET",
       "description": "Gets the state of the specified dataflow job.",
       "parameters": {
        "jobId": {
         "type": "string",
         "required": true,
         "location": "path"
        },
        "projectId": {
         "type": "string",
         "required": true,
         "location": "path"
        },
        "view": {
         "type": "string",
         "enum": [
          "JOB_VIEW_ALL",
          "JOB_VIEW_SUMMARY",
          "JOB_VIEW_UNKNOWN"
         ],
         "enumDescriptions": [
          "",
          "",
          ""
         ],
         "location": "query"
        }
       },
       "parameterOrder": [
        "projectId",
        "jobId"
       ],
       "response": {
        "$ref": "Job"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/userinfo.email"
       ]
      },
      "getMetrics": {
       "id": "dataflow.projects.jobs.getMetrics",
       "path": "{projectId}/jobs/{jobId}/metrics",
       "httpMethod": "GET",
       "description": "Request the job status.",
       "parameters": {
        "jobId": {
         "type": "string",
         "required": true,
         "location": "path"
        },
        "projectId": {
         "type": "string",
         "required": true,
         "location": "path"
        },
        "startTime": {
         "type": "string",
         "location": "query"
        }
       },
       "parameterOrder": [
        "projectId",
        "jobId"
       ],
       "response": {
        "$ref": "JobMetrics"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/userinfo.email"
       ]
      },
      "list": {
       "id": "dataflow.projects.jobs.list",
       "path": "{projectId}/jobs",
       "httpMethod": "GET",
       "description": "List the jobs of a project",
       "parameters": {
        "pageSize": {
         "type": "integer",
         "format": "int32",
         "location": "query"
        },
        "pageToken": {
         "type": "string",
         "location": "query"
        },
        "projectId": {
         "type": "string",
         "required": true,
         "location": "path"
        },
        "view": {
         "type": "string",
         "enum": [
          "JOB_VIEW_ALL",
          "JOB_VIEW_SUMMARY",
          "JOB_VIEW_UNKNOWN"
         ],
         "enumDescriptions": [
          "",
          "",
          ""
         ],
         "location": "query"
        }
       },
       "parameterOrder": [
        "projectId"
       ],
       "response": {
        "$ref": "ListJobsResponse"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/userinfo.email"
       ]
      },
      "patch": {
       "id": "dataflow.projects.jobs.patch",
       "path": "{projectId}/jobs/{jobId}",
       "httpMethod": "PATCH",
       "description": "Updates the state of an existing dataflow job. This method supports patch semantics.",
       "parameters": {
        "jobId": {
         "type": "string",
         "required": true,
         "location": "path"
        },
        "projectId": {
         "type": "string",
         "required": true,
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectId",
        "jobId"
       ],
       "request": {
        "$ref": "Job"
       },
       "response": {
        "$ref": "Job"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/userinfo.email"
       ]
      },
      "update": {
       "id": "dataflow.projects.jobs.update",
       "path": "{projectId}/jobs/{jobId}",
       "httpMethod": "PUT",
       "description": "Updates the state of an existing dataflow job.",
       "parameters": {
        "jobId": {
         "type": "string",
         "required": true,
         "location": "path"
        },
        "projectId": {
         "type": "string",
         "required": true,
         "location": "path"
        }
       },
       "parameterOrder": [
        "projectId",
        "jobId"
       ],
       "request": {
        "$ref": "Job"
       },
       "response": {
        "$ref": "Job"
       },
       "scopes": [
        "https://www.googleapis.com/auth/cloud-platform",
        "https://www.googleapis.com/auth/userinfo.email"
       ]
      }
     },
     "resources": {
      "messages": {
       "methods": {
        "list": {
         "id": "dataflow.projects.jobs.messages.list",
         "path": "{projectId}/jobs/{jobId}/messages",
         "httpMethod": "GET",
         "description": "Request the job status.",
         "parameters": {
          "endTime": {
           "type": "string",
           "location": "query"
          },
          "jobId": {
           "type": "string",
           "required": true,
           "location": "path"
          },
          "minimumImportance": {
           "type": "string",
           "enum": [
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_ERROR",
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_WARNING"
           ],
           "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
           ],
           "location": "query"
          },
          "pageSize": {
           "type": "integer",
           "format": "int32",
           "location": "query"
          },
          "pageToken": {
           "type": "string",
           "location": "query"
          },
          "projectId": {
           "type": "string",
           "required": true,
           "location": "path"
          },
          "startTime": {
           "type": "string",
           "location": "query"
          }
         },
         "parameterOrder": [
          "projectId",
          "jobId"
         ],
         "response": {
          "$ref": "ListJobMessagesResponse"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/userinfo.email"
         ]
        }
       }
      },
      "workItems": {
       "methods": {
        "lease": {
         "id": "dataflow.projects.jobs.workItems.lease",
         "path": "{projectId}/jobs/{jobId}/workItems:lease",
         "httpMethod": "POST",
         "description": "Leases a dataflow WorkItem to run.",
         "parameters": {
          "jobId": {
           "type": "string",
           "required": true,
           "location": "path"
          },
          "projectId": {
           "type": "string",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "jobId"
         ],
         "request": {
          "$ref": "LeaseWorkItemRequest"
         },
         "response": {
          "$ref": "LeaseWorkItemResponse"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/userinfo.email"
         ]
        },
        "reportStatus": {
         "id": "dataflow.projects.jobs.workItems.reportStatus",
         "path": "{projectId}/jobs/{jobId}/workItems:reportStatus",
         "httpMethod": "POST",
         "description": "Reports the status of dataflow WorkItems leased by a worker.",
         "parameters": {
          "jobId": {
           "type": "string",
           "required": true,
           "location": "path"
          },
          "projectId": {
           "type": "string",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "jobId"
         ],
         "request": {
          "$ref": "ReportWorkItemStatusRequest"
         },
         "response": {
          "$ref": "ReportWorkItemStatusResponse"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/userinfo.email"
         ]
        }
       }
      }
     }
    }
   }
  }
 }
}
