{
  "name": "manufacturers",
  "batchPath": "batch",
  "title": "Manufacturer Center API",
  "ownerName": "Google",
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "list": {
              "description": "Lists all the products in a Manufacturer Center account.",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of product statuses to return in the response, used for\npaging.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageToken": {
                  "description": "The token returned by the previous request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "flatPath": "v1/accounts/{accountsId}/products",
              "path": "v1/{+parent}/products",
              "id": "manufacturers.accounts.products.list"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "response": {
                "$ref": "Product"
              },
              "parameters": {
                "name": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`   - The target country of the product as a CLDR territory\n                     code (for example, US).\n\n`content_language` - The content language of the product as a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`     -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.",
                  "required": true,
                  "type": "string"
                },
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "id": "manufacturers.accounts.products.get",
              "path": "v1/{+parent}/products/{+name}",
              "description": "Gets the product from a Manufacturer Center account, including product\nissues."
            }
          }
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "version": "v1",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "servicePath": "",
  "description": "Public API for managing Manufacturer Center related data.",
  "kind": "discovery#restDescription",
  "basePath": "",
  "id": "manufacturers:v1",
  "revision": "20170412",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "discoveryVersion": "v1",
  "version_module": "True",
  "schemas": {
    "ProductDetail": {
      "type": "object",
      "properties": {
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        },
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        },
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        }
      },
      "id": "ProductDetail",
      "description": "A product detail of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productdetail."
    },
    "Issue": {
      "description": "Product issue.",
      "type": "object",
      "properties": {
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information\nabout attributes, see\nhttps://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        },
        "timestamp": {
          "description": "The timestamp when this issue appeared.",
          "format": "google-datetime",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the issue.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the\nattribute that triggered it or one that will soon prevent the usage of\nthe whole item.",
            "Info severity. The issue is one that doesn't require immediate attention.\nIt is, for example, used to communicate which attributes are still\npending review."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "description": {
          "description": "Description of the issue.",
          "type": "string"
        },
        "type": {
          "description": "The server-generated type of the issue, for example,\n“INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        }
      },
      "id": "Issue"
    },
    "FeatureDescription": {
      "description": "A feature description of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "An optional image describing the feature."
        },
        "headline": {
          "type": "string",
          "description": "A short description of the feature."
        },
        "text": {
          "description": "A detailed description of the feature.",
          "type": "string"
        }
      },
      "id": "FeatureDescription"
    },
    "Price": {
      "description": "A price.",
      "type": "object",
      "properties": {
        "amount": {
          "description": "The numeric value of the price.",
          "type": "string"
        },
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        }
      },
      "id": "Price"
    },
    "Image": {
      "description": "An image.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "description": "The type of the image, i.e., crawled or uploaded.\n@OutputOnly"
        },
        "imageUrl": {
          "description": "The URL of the image. For crawled images, this is the provided URL. For\nuploaded images, this is a serving URL from Google if the image has been\nprocessed successfully.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Status is unspecified. Should not be used.",
            "Image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED"
          ],
          "description": "The status of the image.\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "Image"
    },
    "Attributes": {
      "id": "Attributes",
      "description": "Attributes of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116.",
      "type": "object",
      "properties": {
        "flavor": {
          "description": "The flavor of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "productDetail": {
          "description": "The details of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productdetail.",
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "productPageUrl": {
          "type": "string",
          "description": "The URL of the detail page of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productpage."
        },
        "releaseDate": {
          "description": "The release date of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#release.",
          "type": "string"
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "gtin": {
          "description": "The Global Trade Item Number (GTIN) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#gtin.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more\ninformation, see\nhttps://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "description": {
          "description": "The description of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "gender": {
          "description": "The target gender of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        },
        "sizeSystem": {
          "description": "The size system of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#sizesystem.",
          "type": "string"
        },
        "theme": {
          "description": "The theme of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#theme.",
          "type": "string"
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "imageLink": {
          "$ref": "Image",
          "description": "The image of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#image."
        },
        "productType": {
          "description": "The category of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "description": "The format of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "additionalImageLink": {
          "description": "The additional images of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#addlimage.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "videoLink": {
          "description": "The videos of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#video.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "color": {
          "description": "The color of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "sizeType": {
          "description": "The size type of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#sizetype.",
          "type": "string"
        },
        "suggestedRetailPrice": {
          "$ref": "Price",
          "description": "The suggested retail price (MSRP) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#price."
        },
        "featureDescription": {
          "description": "The rich format description of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "type": "array",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "size": {
          "description": "The size of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#title."
        },
        "count": {
          "description": "The count of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "brand": {
          "description": "The brand name of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "material": {
          "description": "The material of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#material.",
          "type": "string"
        },
        "disclosureDate": {
          "description": "The disclosure date of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#disclosure.",
          "type": "string"
        },
        "scent": {
          "description": "The scent of the product. For more information, see\n https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        }
      }
    },
    "Count": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "description": "The unit in which these products are counted.",
          "type": "string"
        }
      },
      "id": "Count",
      "description": "The number of products in a single package. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#count."
    },
    "Product": {
      "description": "Product data.",
      "type": "object",
      "properties": {
        "finalAttributes": {
          "description": "Final attributes of the product. The final attributes are obtained by\noverriding the uploaded attributes with the manually provided and deleted\nattributes. Google systems only process, evaluate, review, and/or use final\nattributes.\n@OutputOnly",
          "$ref": "Attributes"
        },
        "productId": {
          "description": "The ID of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#id.\n@OutputOnly",
          "type": "string"
        },
        "uploadedAttributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product uploaded via the Manufacturer Center API or via\nfeeds."
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.\n@OutputOnly",
          "type": "string"
        },
        "manuallyProvidedAttributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product provided manually via the Manufacturer Center UI.\n@OutputOnly"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example,\nUS).\n@OutputOnly",
          "type": "string"
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code\n(for example, en).\n@OutputOnly",
          "type": "string"
        },
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`   - The target country of the product as a CLDR territory\n                     code (for example, US).\n\n`content_language` - The content language of the product as a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`     -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.\n@OutputOnly",
          "type": "string"
        },
        "manuallyDeletedAttributes": {
          "description": "Names of the attributes of the product deleted manually via the\nManufacturer Center UI.\n@OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "issues": {
          "description": "A server-generated list of issues associated with the product.\n@OutputOnly",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        }
      },
      "id": "Product"
    },
    "Capacity": {
      "id": "Capacity",
      "description": "The capacity of a product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#capacity.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The numeric value of the capacity.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        }
      }
    },
    "ListProductsResponse": {
      "type": "object",
      "properties": {
        "products": {
          "description": "List of the products.",
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of product statuses.",
          "type": "string"
        }
      },
      "id": "ListProductsResponse"
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Manufacturer Center",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "rootUrl": "https://manufacturers.googleapis.com/",
  "ownerDomain": "google.com"
}
