{
  "canonicalName": "Manufacturer Center",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "rootUrl": "https://manufacturers.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "manufacturers",
  "batchPath": "batch",
  "title": "Manufacturer Center API",
  "ownerName": "Google",
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "list": {
              "description": "Lists all the products in a Manufacturer Center account.",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The token returned by the previous request.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of product statuses to return in the response, used for\npaging.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/products",
              "path": "v1/{+parent}/products",
              "id": "manufacturers.accounts.products.list"
            },
            "get": {
              "parameterOrder": [
                "parent",
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Product"
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                },
                "name": {
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`   - The target country of the product as a CLDR territory\n                     code (for example, US).\n\n`content_language` - The content language of the product as a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`     -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "path": "v1/{+parent}/products/{+name}",
              "id": "manufacturers.accounts.products.get",
              "description": "Gets the product from a Manufacturer Center account, including product\nissues."
            }
          }
        }
      }
    }
  },
  "parameters": {
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "pp": {
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "version": "v1",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "description": "Public API for managing Manufacturer Center related data.",
  "basePath": "",
  "id": "manufacturers:v1",
  "revision": "20161028",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "discoveryVersion": "v1",
  "version_module": "True",
  "schemas": {
    "Issue": {
      "description": "Product issue.",
      "type": "object",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the issue.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the\nattribute that triggered it or one that will soon prevent the usage of\nthe whole item.",
            "Info severity. The issue is one that doesn't require immediate attention.\nIt is, for example, used to communicate which attributes are still\npending review."
          ]
        },
        "description": {
          "description": "Description of the issue.",
          "type": "string"
        },
        "type": {
          "description": "The server-generated type of the issue, for example,\n“INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information\nabout attributes, see\nhttps://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        }
      },
      "id": "Issue"
    },
    "Product": {
      "description": "Product data.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`   - The target country of the product as a CLDR territory\n                     code (for example, US).\n\n`content_language` - The content language of the product as a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`     -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.\n@OutputOnly",
          "type": "string"
        },
        "issues": {
          "description": "A server-generated list of issues associated with the product.\n@OutputOnly",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        },
        "manuallyDeletedAttributes": {
          "description": "Names of the attributes of the product deleted manually via the\nManufacturer Center UI.\n@OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "finalAttributes": {
          "$ref": "Attributes",
          "description": "Final attributes of the product. The final attributes are obtained by\noverriding the uploaded attributes with the manually provided and deleted\nattributes. Google systems only process, evaluate, review, and/or use final\nattributes.\n@OutputOnly"
        },
        "productId": {
          "description": "The ID of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#id.\n@OutputOnly",
          "type": "string"
        },
        "uploadedAttributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product uploaded via the Manufacturer Center API or via\nfeeds."
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.\n@OutputOnly",
          "type": "string"
        },
        "manuallyProvidedAttributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product provided manually via the Manufacturer Center UI.\n@OutputOnly"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example,\nUS).\n@OutputOnly",
          "type": "string"
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code\n(for example, en).\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "Product"
    },
    "Attributes": {
      "properties": {
        "productType": {
          "description": "The manufacturer's category of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "productPageUrl": {
          "description": "The URL of the manufacturer's detail page of the product. For more\ninformation, see\nhttps://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "gtin": {
          "description": "The Global Trade Item Number (GTIN) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#gtin.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "The title of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more\ninformation, see\nhttps://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "brand": {
          "description": "The brand name of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        }
      },
      "id": "Attributes",
      "description": "Attributes of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116.",
      "type": "object"
    },
    "ListProductsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of product statuses.",
          "type": "string"
        },
        "products": {
          "description": "List of the products.",
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        }
      },
      "id": "ListProductsResponse"
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}
